In [1]:
# Import data science environment.
# Is it really data science without Pandas & Numpy?
import pandas as pd
import numpy as np

# Expand width to see all columns and text.
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
# Import the file and preview.
df = pd.read_json('exercise.json')
df.head()

                                           addresses                                              court                                           criminal         dob                                             emails    fname               full_name     lname      mname phone_numbers                                         properties sec                                       social_media
0  [{'street': '698 Broadway Ave', 'city': 'Houst...  [{'party_name': 'THOMPSON, MAXWELL JASON', 'pa...  {'criminal': [{'lastname': 'Thompson', 'firstn...  04/20/1984  [ma176@outlook.com, well53@gmail.com, axwel145...  Maxwell  Maxwell Jason Thompson  Thompson      Jason            []  [{'muni_name': 'Dallas', 'state_abbr': 'TX', '...  []  [{'name': 'instagram', 'handle': 'https://www....
1  [{'street': '3899 Princeton St', 'city': 'Albu...  [{'party_name': 'JOHNSON, NINA KATHARINE', 'pa...  {'criminal': [{'lastname': 'Johnson', 'firstna...  03/08/1970  [akat34@gmail.com, akath63@yahoo.com, akathar1...     Nina  Nina Katharine Johnson   Johnson  Katharine  [3992985958]                                                 []  []  [{'name': 'github', 'handle': 'https://www.git...
2  [{'street': '3344 3rd Cr', 'city': 'Tulsa', 's...                                                 []  {'criminal': [{'lastname': 'Johnson', 'firstna...  06/27/1959                                   [m171@yahoo.com]     Emma     Emma Maggie Johnson   Johnson     Maggie  [8198560471]  [{'muni_name': 'Oakland', 'state_abbr': 'CA', ...  []  [{'name': 'twitter', 'handle': 'https://www.tw...
3  [{'street': '3655 University Blvd', 'city': 'N...  [{'party_name': 'CLARK, BORIS MAXWELL', 'party...  {'criminal': [{'lastname': 'Clark', 'firstname...  07/15/1967                             [ismaxwe161@gmail.com]    Boris     Boris Maxwell Clark     Clark    Maxwell            []  [{'muni_name': 'Denver', 'state_abbr': 'CO', '...  []  [{'name': 'github', 'handle': 'https://www.git...
4  [{'street': '1629 Pearl Rd', 'city': 'Oklahoma...  [{'party_name': 'LIBBY, JAKE BRIAN', 'party_ro...  {'criminal': [{'lastname': 'Libby', 'firstname...  08/15/1993                   [br63@gmail.com, j173@yahoo.com]     Jake        Jake Brian Libby     Libby      Brian  [9303622898]  [{'muni_name': 'Austin', 'state_abbr': 'TX', '...  []  [{'name': 'linkedin', 'handle': 'https://www.l...

In [3]:
# View the shape of the data frame.
df.shape

(25, 13)

In [4]:
# Check the data types of each column.
df.dtypes

addresses        object
court            object
criminal         object
dob              object
emails           object
fname            object
full_name        object
lname            object
mname            object
phone_numbers    object
properties       object
sec              object
social_media     object
dtype: object

In [5]:
# Let's make the date-of-birth column a datetime object.
df['dob'] = pd.to_datetime(df['dob'])

In [6]:
# Since there are only 25 rows, let's see the whole data frame.
df

                                            addresses                                              court                                           criminal        dob                                             emails    fname                full_name      lname      mname                         phone_numbers                                         properties sec                                       social_media
0   [{'street': '698 Broadway Ave', 'city': 'Houst...  [{'party_name': 'THOMPSON, MAXWELL JASON', 'pa...  {'criminal': [{'lastname': 'Thompson', 'firstn... 1984-04-20  [ma176@outlook.com, well53@gmail.com, axwel145...  Maxwell   Maxwell Jason Thompson   Thompson      Jason                                    []  [{'muni_name': 'Dallas', 'state_abbr': 'TX', '...  []  [{'name': 'instagram', 'handle': 'https://www....
1   [{'street': '3899 Princeton St', 'city': 'Albu...  [{'party_name': 'JOHNSON, NINA KATHARINE', 'pa...  {'criminal': [{'lastname': 'Johnson', 'firstna... 1970-03-08  [akat34@gmail.com, akath63@yahoo.com, akathar1...     Nina   Nina Katharine Johnson    Johnson  Katharine                          [3992985958]                                                 []  []  [{'name': 'github', 'handle': 'https://www.git...
2   [{'street': '3344 3rd Cr', 'city': 'Tulsa', 's...                                                 []  {'criminal': [{'lastname': 'Johnson', 'firstna... 1959-06-27                                   [m171@yahoo.com]     Emma      Emma Maggie Johnson    Johnson     Maggie                          [8198560471]  [{'muni_name': 'Oakland', 'state_abbr': 'CA', ...  []  [{'name': 'twitter', 'handle': 'https://www.tw...
3   [{'street': '3655 University Blvd', 'city': 'N...  [{'party_name': 'CLARK, BORIS MAXWELL', 'party...  {'criminal': [{'lastname': 'Clark', 'firstname... 1967-07-15                             [ismaxwe161@gmail.com]    Boris      Boris Maxwell Clark      Clark    Maxwell                                    []  [{'muni_name': 'Denver', 'state_abbr': 'CO', '...  []  [{'name': 'github', 'handle': 'https://www.git...
4   [{'street': '1629 Pearl Rd', 'city': 'Oklahoma...  [{'party_name': 'LIBBY, JAKE BRIAN', 'party_ro...  {'criminal': [{'lastname': 'Libby', 'firstname... 1993-08-15                   [br63@gmail.com, j173@yahoo.com]     Jake         Jake Brian Libby      Libby      Brian                          [9303622898]  [{'muni_name': 'Austin', 'state_abbr': 'TX', '...  []  [{'name': 'linkedin', 'handle': 'https://www.l...
5   [{'street': '1700 Princeton Cr', 'city': 'Oakl...  [{'party_name': 'THOMPSON, EMMA MELISSA', 'par...  {'criminal': [{'lastname': 'Thompson', 'firstn... 1994-01-27                                   [ame8@gmail.com]     Emma    Emma Melissa Thompson   Thompson    Melissa              [4744051287, 7707375512]                                                 []  []  [{'name': 'linkedin', 'handle': 'https://www.l...
6   [{'street': '2580 Arnold Cr', 'city': 'Kansas ...  [{'party_name': 'CLARK, AMY KATHARINE', 'party...  {'criminal': [{'lastname': 'Clark', 'firstname... 1959-09-23  [amyk97@outlook.com, ykath33@yahoo.com, tharin...      Amy      Amy Katharine Clark      Clark  Katharine              [2203990316, 6696876347]  [{'muni_name': 'Indianapolis', 'state_abbr': '...  []                                                 []
7   [{'street': '2120 University St', 'city': 'Cle...  [{'party_name': 'JOHNSON, SIMON PAUL', 'party_...  {'criminal': [{'lastname': 'Johnson', 'firstna... 1971-10-01  [imonp121@outlook.com, onpa89@yahoo.com, mon17...    Simon       Simon Paul Johnson    Johnson       Paul  [1042385126, 9773094179, 9038015587]  [{'muni_name': 'Atlanta', 'state_abbr': 'GA', ...  []  [{'name': 'instagram', 'handle': 'https://www....
8   [{'street': '1111 Princeton Dr', 'city': 'Omah...                                                 []  {'criminal': [{'lastname': 'Ross', 'firstname'... 1968-02-11  [emma60@gmail.com, maemm156@outlook.com, mmaem...     Emma           Emma Emma Ross       Ross       Emma                                    []  [{'muni_name': 'San Antonio', 'state_abbr': 'T...  []  [{'name': 'linkedin', 'handle': 'https://www.l...
9   [{'street': '3446 Ocean Dr', 'city': 'Dallas',...  [{'party_name': 'CLARK, BRIAN PAUL', 'party_ro...  {'criminal': [{'lastname': 'Clark', 'firstname... 1960-01-05  [i66@gmail.com, ianp18@hotmail.com, ianpau104@...    Brian         Brian Paul Clark      Clark       Paul  [2585774298, 2518275913, 2923658286]  [{'muni_name': 'Tucson', 'state_abbr': 'AZ', '...  []                                                 []
10  [{'street': '529 Logan Dr', 'city': 'El Paso',...  [{'party_name': 'THOMPSON, PAUL BRIAN', 'party...       {'criminal': [], 'sor': [], 'terrorist': []} 1984-04-23                                 [l130@outlook.com]     Paul      Paul Brian Thompson   Thompson      Brian                                    []  [{'muni_name': 'Oakland', 'state_abbr': 'CA', ...  []  [{'name': 'facebook', 'handle': 'https://www.f...
11  [{'street': '1413 Arnold Dr', 'city': 'Virgini...  [{'party_name': 'ANDERSON, EMMA KATHARINE', 'p...  {'criminal': [{'lastname': 'Anderson', 'firstn... 1952-08-06  [makat188@gmail.com, tharine171@outlook.com, m...     Emma  Emma Katharine Anderson   Anderson  Katharine              [3675797505, 4471758697]  [{'muni_name': 'Virginia Beach', 'state_abbr':...  []                                                 []
12  [{'street': '711 Ivy Wy', 'city': 'Nashville-D...  [{'party_name': 'JOHNSON, ALAN PAUL', 'party_r...  {'criminal': [{'lastname': 'Johnson', 'firstna... 1974-08-04                               [pau136@outlook.com]     Alan        Alan Paul Johnson    Johnson       Paul  [4126234603, 5878678239, 2856080143]  [{'muni_name': 'Cleveland', 'state_abbr': 'OH'...  []  [{'name': 'linkedin', 'handle': 'https://www.l...
13  [{'street': '3937 Harvard Blvd', 'city': 'Balt...  [{'party_name': 'SUMMERS, EMMA JANET', 'party_...  {'criminal': [{'lastname': 'Summers', 'firstna... 1981-08-25            [majan91@outlook.com, an50@hotmail.com]     Emma       Emma Janet Summers    Summers      Janet                                    []  [{'muni_name': 'Phoenix', 'state_abbr': 'AZ', ...  []                                                 []
14  [{'street': '3286 Houston Blvd', 'city': 'Jack...  [{'party_name': 'CLARK, ALAN DANIEL', 'party_r...  {'criminal': [{'lastname': 'Clark', 'firstname... 1983-08-04          [ala144@hotmail.com, ndanie176@gmail.com]     Alan        Alan Daniel Clark      Clark     Daniel              [7817945004, 2760445414]  [{'muni_name': 'New York', 'state_abbr': 'NY',...  []  [{'name': 'facebook', 'handle': 'https://www.f...
15  [{'street': '2502 Broadway Cr', 'city': 'San A...  [{'party_name': 'PATTERSON, JASON MICHAEL', 'p...  {'criminal': [{'lastname': 'Patterson', 'first... 1957-04-16             [so183@yahoo.com, asonmi184@gmail.com]    Jason  Jason Michael Patterson  Patterson    Michael                                    []  [{'muni_name': 'El Paso', 'state_abbr': 'TX', ...  []  [{'name': 'linkedin', 'handle': 'https://www.l...
16  [{'street': '921 Broadway Rd', 'city': 'Indian...                                                 []  {'criminal': [{'lastname': 'Bell', 'firstname'... 1973-11-12             [ieni39@hotmail.com, ie94@outlook.com]   Maggie         Maggie Nina Bell       Bell       Nina  [2909231734, 2216800572, 4507974918]  [{'muni_name': 'San Jose', 'state_abbr': 'CA',...  []  [{'name': 'twitter', 'handle': 'https://www.tw...
17  [{'street': '2561 3rd Blvd', 'city': 'Indianap...  [{'party_name': 'SUMMERS, AMY MAGGIE', 'party_...       {'criminal': [], 'sor': [], 'terrorist': []} 1960-11-15                                   [gg90@gmail.com]      Amy       Amy Maggie Summers    Summers     Maggie                                    []  [{'muni_name': 'Raleigh', 'state_abbr': 'NC', ...  []  [{'name': 'linkedin', 'handle': 'https://www.l...
18  [{'street': '1033 Houston Blvd', 'city': 'Colu...                                                 []  {'criminal': [{'lastname': 'Patterson', 'first... 1985-06-14                                 [nala45@yahoo.com]    Simon     Simon Alan Patterson  Patterson       Alan                                    []  [{'muni_name': 'El Paso', 'state_abbr': 'TX', ...  []  [{'name': 'facebook', 'handle': 'https://www.f...
19  [{'street': '1604 Princeton Blvd', 'city': 'Cl...  [{'party_name': 'LEE, JASON MAXWELL', 'party_r...       {'criminal': [], 'sor': [], 'terrorist': []} 1964-08-06               [ja21@hotmail.com, o136@outlook.com]    Jason        Jason Maxwell Lee        Lee    Maxwell                                    []                                                 []  []                                                 []
20  [{'street': '3970 Broadway Wy', 'city': 'San D...  [{'party_name': 'SUMMERS, NINA KATHARINE', 'pa...  {'criminal': [{'lastname': 'Summers', 'firstna... 1983-04-17               [i105@yahoo.com, kat133@outlook.com]     Nina   Nina Katharine Summers    Summers  Katharine              [9236892139, 6122873618]                                                 []  []  [{'name': 'google', 'handle': 'https://www.goo...
21  [{'street': '3568 Lincoln Wy', 'city': 'Los An...  [{'party_name': 'SUMMERS, GRACE KATHARINE', 'p...  {'criminal': [{'lastname': 'Summers', 'firstna... 1957-08-10         [k190@outlook.com, gracekat81@hotmail.com]    Grace  Grace Katharine Summers    Summers  Katharine                          [3835419037]  [{'muni_name': 'Los Angeles', 'state_abbr': 'C...  []  [{'name': 'linkedin', 'handle': 'https://www.l...
22  [{'street': '1234 High Ave', 'city': 'Sacramen...  [{'party_name': 'CASSIDY, GRACE SARAH', 'party...  {'criminal': [{'lastname': 'Cassidy', 'firstna... 1982-09-13         [ces113@outlook.com, acesa177@hotmail.com]    Grace      Grace Sarah Cassidy    Cassidy      Sarah  [2975186894, 1917553273, 1076716041]                                                 []  []  [{'name': 'instagram', 'handle': 'https://www....
23  [{'street': '3722 Arnold Rd', 'city': 'Columbu...  [{'party_name': 'BELL, ALAN SIMON', 'party_rol...  {'criminal': [{'lastname': 'Bell', 'firstname'... 1952-08-22              [al161@hotmail.com, nsi106@yahoo.com]     Alan          Alan Simon Bell       Bell      Simon                          [2471936813]                                                 []  []  [{'name': 'github', 'handle': 'https://www.git...
24  [{'street': '3756 Lincoln Rd', 'city': 'Dallas...  [{'party_name': 'PATTERSON, JANET EMMA', 'part...  {'criminal': [{'lastname': 'Patterson', 'first... 1969-09-19          [nete95@outlook.com, temma46@hotmail.com]    Janet     Janet Emma Patterson  Patterson       Emma                                    []  [{'muni_name': 'Cleveland', 'state_abbr': 'OH'...  []  [{'name': 'github', 'handle': 'https://www.git...

In [7]:
# The columnns could be arranged in a better order.
# Let's see the names of our columns.
cols = df.columns.tolist()
cols

['addresses',
 'court',
 'criminal',
 'dob',
 'emails',
 'fname',
 'full_name',
 'lname',
 'mname',
 'phone_numbers',
 'properties',
 'sec',
 'social_media']

In [8]:
# Time to rearrange the columns into my order.
cols = ['full_name', 'lname', 'fname', 'mname', 'dob', 'addresses',
        'phone_numbers', 'emails', 'social_media', 'properties', 'sec',
        'court', 'criminal']
df = df[cols]
df

                  full_name      lname    fname      mname        dob                                          addresses                         phone_numbers                                             emails                                       social_media                                         properties sec                                              court                                           criminal
0    Maxwell Jason Thompson   Thompson  Maxwell      Jason 1984-04-20  [{'street': '698 Broadway Ave', 'city': 'Houst...                                    []  [ma176@outlook.com, well53@gmail.com, axwel145...  [{'name': 'instagram', 'handle': 'https://www....  [{'muni_name': 'Dallas', 'state_abbr': 'TX', '...  []  [{'party_name': 'THOMPSON, MAXWELL JASON', 'pa...  {'criminal': [{'lastname': 'Thompson', 'firstn...
1    Nina Katharine Johnson    Johnson     Nina  Katharine 1970-03-08  [{'street': '3899 Princeton St', 'city': 'Albu...                          [3992985958]  [akat34@gmail.com, akath63@yahoo.com, akathar1...  [{'name': 'github', 'handle': 'https://www.git...                                                 []  []  [{'party_name': 'JOHNSON, NINA KATHARINE', 'pa...  {'criminal': [{'lastname': 'Johnson', 'firstna...
2       Emma Maggie Johnson    Johnson     Emma     Maggie 1959-06-27  [{'street': '3344 3rd Cr', 'city': 'Tulsa', 's...                          [8198560471]                                   [m171@yahoo.com]  [{'name': 'twitter', 'handle': 'https://www.tw...  [{'muni_name': 'Oakland', 'state_abbr': 'CA', ...  []                                                 []  {'criminal': [{'lastname': 'Johnson', 'firstna...
3       Boris Maxwell Clark      Clark    Boris    Maxwell 1967-07-15  [{'street': '3655 University Blvd', 'city': 'N...                                    []                             [ismaxwe161@gmail.com]  [{'name': 'github', 'handle': 'https://www.git...  [{'muni_name': 'Denver', 'state_abbr': 'CO', '...  []  [{'party_name': 'CLARK, BORIS MAXWELL', 'party...  {'criminal': [{'lastname': 'Clark', 'firstname...
4          Jake Brian Libby      Libby     Jake      Brian 1993-08-15  [{'street': '1629 Pearl Rd', 'city': 'Oklahoma...                          [9303622898]                   [br63@gmail.com, j173@yahoo.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'Austin', 'state_abbr': 'TX', '...  []  [{'party_name': 'LIBBY, JAKE BRIAN', 'party_ro...  {'criminal': [{'lastname': 'Libby', 'firstname...
5     Emma Melissa Thompson   Thompson     Emma    Melissa 1994-01-27  [{'street': '1700 Princeton Cr', 'city': 'Oakl...              [4744051287, 7707375512]                                   [ame8@gmail.com]  [{'name': 'linkedin', 'handle': 'https://www.l...                                                 []  []  [{'party_name': 'THOMPSON, EMMA MELISSA', 'par...  {'criminal': [{'lastname': 'Thompson', 'firstn...
6       Amy Katharine Clark      Clark      Amy  Katharine 1959-09-23  [{'street': '2580 Arnold Cr', 'city': 'Kansas ...              [2203990316, 6696876347]  [amyk97@outlook.com, ykath33@yahoo.com, tharin...                                                 []  [{'muni_name': 'Indianapolis', 'state_abbr': '...  []  [{'party_name': 'CLARK, AMY KATHARINE', 'party...  {'criminal': [{'lastname': 'Clark', 'firstname...
7        Simon Paul Johnson    Johnson    Simon       Paul 1971-10-01  [{'street': '2120 University St', 'city': 'Cle...  [1042385126, 9773094179, 9038015587]  [imonp121@outlook.com, onpa89@yahoo.com, mon17...  [{'name': 'instagram', 'handle': 'https://www....  [{'muni_name': 'Atlanta', 'state_abbr': 'GA', ...  []  [{'party_name': 'JOHNSON, SIMON PAUL', 'party_...  {'criminal': [{'lastname': 'Johnson', 'firstna...
8            Emma Emma Ross       Ross     Emma       Emma 1968-02-11  [{'street': '1111 Princeton Dr', 'city': 'Omah...                                    []  [emma60@gmail.com, maemm156@outlook.com, mmaem...  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'San Antonio', 'state_abbr': 'T...  []                                                 []  {'criminal': [{'lastname': 'Ross', 'firstname'...
9          Brian Paul Clark      Clark    Brian       Paul 1960-01-05  [{'street': '3446 Ocean Dr', 'city': 'Dallas',...  [2585774298, 2518275913, 2923658286]  [i66@gmail.com, ianp18@hotmail.com, ianpau104@...                                                 []  [{'muni_name': 'Tucson', 'state_abbr': 'AZ', '...  []  [{'party_name': 'CLARK, BRIAN PAUL', 'party_ro...  {'criminal': [{'lastname': 'Clark', 'firstname...
10      Paul Brian Thompson   Thompson     Paul      Brian 1984-04-23  [{'street': '529 Logan Dr', 'city': 'El Paso',...                                    []                                 [l130@outlook.com]  [{'name': 'facebook', 'handle': 'https://www.f...  [{'muni_name': 'Oakland', 'state_abbr': 'CA', ...  []  [{'party_name': 'THOMPSON, PAUL BRIAN', 'party...       {'criminal': [], 'sor': [], 'terrorist': []}
11  Emma Katharine Anderson   Anderson     Emma  Katharine 1952-08-06  [{'street': '1413 Arnold Dr', 'city': 'Virgini...              [3675797505, 4471758697]  [makat188@gmail.com, tharine171@outlook.com, m...                                                 []  [{'muni_name': 'Virginia Beach', 'state_abbr':...  []  [{'party_name': 'ANDERSON, EMMA KATHARINE', 'p...  {'criminal': [{'lastname': 'Anderson', 'firstn...
12        Alan Paul Johnson    Johnson     Alan       Paul 1974-08-04  [{'street': '711 Ivy Wy', 'city': 'Nashville-D...  [4126234603, 5878678239, 2856080143]                               [pau136@outlook.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'Cleveland', 'state_abbr': 'OH'...  []  [{'party_name': 'JOHNSON, ALAN PAUL', 'party_r...  {'criminal': [{'lastname': 'Johnson', 'firstna...
13       Emma Janet Summers    Summers     Emma      Janet 1981-08-25  [{'street': '3937 Harvard Blvd', 'city': 'Balt...                                    []            [majan91@outlook.com, an50@hotmail.com]                                                 []  [{'muni_name': 'Phoenix', 'state_abbr': 'AZ', ...  []  [{'party_name': 'SUMMERS, EMMA JANET', 'party_...  {'criminal': [{'lastname': 'Summers', 'firstna...
14        Alan Daniel Clark      Clark     Alan     Daniel 1983-08-04  [{'street': '3286 Houston Blvd', 'city': 'Jack...              [7817945004, 2760445414]          [ala144@hotmail.com, ndanie176@gmail.com]  [{'name': 'facebook', 'handle': 'https://www.f...  [{'muni_name': 'New York', 'state_abbr': 'NY',...  []  [{'party_name': 'CLARK, ALAN DANIEL', 'party_r...  {'criminal': [{'lastname': 'Clark', 'firstname...
15  Jason Michael Patterson  Patterson    Jason    Michael 1957-04-16  [{'street': '2502 Broadway Cr', 'city': 'San A...                                    []             [so183@yahoo.com, asonmi184@gmail.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'El Paso', 'state_abbr': 'TX', ...  []  [{'party_name': 'PATTERSON, JASON MICHAEL', 'p...  {'criminal': [{'lastname': 'Patterson', 'first...
16         Maggie Nina Bell       Bell   Maggie       Nina 1973-11-12  [{'street': '921 Broadway Rd', 'city': 'Indian...  [2909231734, 2216800572, 4507974918]             [ieni39@hotmail.com, ie94@outlook.com]  [{'name': 'twitter', 'handle': 'https://www.tw...  [{'muni_name': 'San Jose', 'state_abbr': 'CA',...  []                                                 []  {'criminal': [{'lastname': 'Bell', 'firstname'...
17       Amy Maggie Summers    Summers      Amy     Maggie 1960-11-15  [{'street': '2561 3rd Blvd', 'city': 'Indianap...                                    []                                   [gg90@gmail.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'Raleigh', 'state_abbr': 'NC', ...  []  [{'party_name': 'SUMMERS, AMY MAGGIE', 'party_...       {'criminal': [], 'sor': [], 'terrorist': []}
18     Simon Alan Patterson  Patterson    Simon       Alan 1985-06-14  [{'street': '1033 Houston Blvd', 'city': 'Colu...                                    []                                 [nala45@yahoo.com]  [{'name': 'facebook', 'handle': 'https://www.f...  [{'muni_name': 'El Paso', 'state_abbr': 'TX', ...  []                                                 []  {'criminal': [{'lastname': 'Patterson', 'first...
19        Jason Maxwell Lee        Lee    Jason    Maxwell 1964-08-06  [{'street': '1604 Princeton Blvd', 'city': 'Cl...                                    []               [ja21@hotmail.com, o136@outlook.com]                                                 []                                                 []  []  [{'party_name': 'LEE, JASON MAXWELL', 'party_r...       {'criminal': [], 'sor': [], 'terrorist': []}
20   Nina Katharine Summers    Summers     Nina  Katharine 1983-04-17  [{'street': '3970 Broadway Wy', 'city': 'San D...              [9236892139, 6122873618]               [i105@yahoo.com, kat133@outlook.com]  [{'name': 'google', 'handle': 'https://www.goo...                                                 []  []  [{'party_name': 'SUMMERS, NINA KATHARINE', 'pa...  {'criminal': [{'lastname': 'Summers', 'firstna...
21  Grace Katharine Summers    Summers    Grace  Katharine 1957-08-10  [{'street': '3568 Lincoln Wy', 'city': 'Los An...                          [3835419037]         [k190@outlook.com, gracekat81@hotmail.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'Los Angeles', 'state_abbr': 'C...  []  [{'party_name': 'SUMMERS, GRACE KATHARINE', 'p...  {'criminal': [{'lastname': 'Summers', 'firstna...
22      Grace Sarah Cassidy    Cassidy    Grace      Sarah 1982-09-13  [{'street': '1234 High Ave', 'city': 'Sacramen...  [2975186894, 1917553273, 1076716041]         [ces113@outlook.com, acesa177@hotmail.com]  [{'name': 'instagram', 'handle': 'https://www....                                                 []  []  [{'party_name': 'CASSIDY, GRACE SARAH', 'party...  {'criminal': [{'lastname': 'Cassidy', 'firstna...
23          Alan Simon Bell       Bell     Alan      Simon 1952-08-22  [{'street': '3722 Arnold Rd', 'city': 'Columbu...                          [2471936813]              [al161@hotmail.com, nsi106@yahoo.com]  [{'name': 'github', 'handle': 'https://www.git...                                                 []  []  [{'party_name': 'BELL, ALAN SIMON', 'party_rol...  {'criminal': [{'lastname': 'Bell', 'firstname'...
24     Janet Emma Patterson  Patterson    Janet       Emma 1969-09-19  [{'street': '3756 Lincoln Rd', 'city': 'Dallas...                                    []          [nete95@outlook.com, temma46@hotmail.com]  [{'name': 'github', 'handle': 'https://www.git...  [{'muni_name': 'Cleveland', 'state_abbr': 'OH'...  []  [{'party_name': 'PATTERSON, JANET EMMA', 'part...  {'criminal': [{'lastname': 'Patterson', 'first...

In [9]:
# Much better! There is still much data that is unseen.
# Let's expand the 'court' column into its own data frame.
court_df = pd.DataFrame(list(df['court']))
court_df

                                                    0                                                  1                                                  2
0   {'party_name': 'THOMPSON, MAXWELL JASON', 'par...  {'party_name': 'THOMPSON, MAXWELL JASON', 'par...                                               None
1   {'party_name': 'JOHNSON, NINA KATHARINE', 'par...  {'party_name': 'JOHNSON, NINA KATHARINE', 'par...  {'party_name': 'JOHNSON, NINA KATHARINE', 'par...
2                                                None                                               None                                               None
3   {'party_name': 'CLARK, BORIS MAXWELL', 'party_...  {'party_name': 'CLARK, BORIS MAXWELL', 'party_...  {'party_name': 'CLARK, BORIS MAXWELL', 'party_...
4   {'party_name': 'LIBBY, JAKE BRIAN', 'party_rol...  {'party_name': 'LIBBY, JAKE BRIAN', 'party_rol...  {'party_name': 'LIBBY, JAKE BRIAN', 'party_rol...
5   {'party_name': 'THOMPSON, EMMA MELISSA', 'part...  {'party_name': 'THOMPSON, EMMA MELISSA', 'part...  {'party_name': 'THOMPSON, EMMA MELISSA', 'part...
6   {'party_name': 'CLARK, AMY KATHARINE', 'party_...  {'party_name': 'CLARK, AMY KATHARINE', 'party_...                                               None
7   {'party_name': 'JOHNSON, SIMON PAUL', 'party_r...  {'party_name': 'JOHNSON, SIMON PAUL', 'party_r...                                               None
8                                                None                                               None                                               None
9   {'party_name': 'CLARK, BRIAN PAUL', 'party_rol...  {'party_name': 'CLARK, BRIAN PAUL', 'party_rol...  {'party_name': 'CLARK, BRIAN PAUL', 'party_rol...
10  {'party_name': 'THOMPSON, PAUL BRIAN', 'party_...  {'party_name': 'THOMPSON, PAUL BRIAN', 'party_...                                               None
11  {'party_name': 'ANDERSON, EMMA KATHARINE', 'pa...  {'party_name': 'ANDERSON, EMMA KATHARINE', 'pa...  {'party_name': 'ANDERSON, EMMA KATHARINE', 'pa...
12  {'party_name': 'JOHNSON, ALAN PAUL', 'party_ro...  {'party_name': 'JOHNSON, ALAN PAUL', 'party_ro...                                               None
13  {'party_name': 'SUMMERS, EMMA JANET', 'party_r...                                               None                                               None
14  {'party_name': 'CLARK, ALAN DANIEL', 'party_ro...                                               None                                               None
15  {'party_name': 'PATTERSON, JASON MICHAEL', 'pa...  {'party_name': 'PATTERSON, JASON MICHAEL', 'pa...  {'party_name': 'PATTERSON, JASON MICHAEL', 'pa...
16                                               None                                               None                                               None
17  {'party_name': 'SUMMERS, AMY MAGGIE', 'party_r...  {'party_name': 'SUMMERS, AMY MAGGIE', 'party_r...                                               None
18                                               None                                               None                                               None
19  {'party_name': 'LEE, JASON MAXWELL', 'party_ro...  {'party_name': 'LEE, JASON MAXWELL', 'party_ro...                                               None
20  {'party_name': 'SUMMERS, NINA KATHARINE', 'par...  {'party_name': 'SUMMERS, NINA KATHARINE', 'par...  {'party_name': 'SUMMERS, NINA KATHARINE', 'par...
21  {'party_name': 'SUMMERS, GRACE KATHARINE', 'pa...                                               None                                               None
22  {'party_name': 'CASSIDY, GRACE SARAH', 'party_...  {'party_name': 'CASSIDY, GRACE SARAH', 'party_...                                               None
23  {'party_name': 'BELL, ALAN SIMON', 'party_role...  {'party_name': 'BELL, ALAN SIMON', 'party_role...                                               None
24  {'party_name': 'PATTERSON, JANET EMMA', 'party...                                               None                                               None

In [10]:
# That works. Let's rename the columns.
court_df.rename(columns={0: 'Court 1', 1: 'Court 2', 2: 'Court 3'},
                inplace='True')
court_df

                                              Court 1                                            Court 2                                            Court 3
0   {'party_name': 'THOMPSON, MAXWELL JASON', 'par...  {'party_name': 'THOMPSON, MAXWELL JASON', 'par...                                               None
1   {'party_name': 'JOHNSON, NINA KATHARINE', 'par...  {'party_name': 'JOHNSON, NINA KATHARINE', 'par...  {'party_name': 'JOHNSON, NINA KATHARINE', 'par...
2                                                None                                               None                                               None
3   {'party_name': 'CLARK, BORIS MAXWELL', 'party_...  {'party_name': 'CLARK, BORIS MAXWELL', 'party_...  {'party_name': 'CLARK, BORIS MAXWELL', 'party_...
4   {'party_name': 'LIBBY, JAKE BRIAN', 'party_rol...  {'party_name': 'LIBBY, JAKE BRIAN', 'party_rol...  {'party_name': 'LIBBY, JAKE BRIAN', 'party_rol...
5   {'party_name': 'THOMPSON, EMMA MELISSA', 'part...  {'party_name': 'THOMPSON, EMMA MELISSA', 'part...  {'party_name': 'THOMPSON, EMMA MELISSA', 'part...
6   {'party_name': 'CLARK, AMY KATHARINE', 'party_...  {'party_name': 'CLARK, AMY KATHARINE', 'party_...                                               None
7   {'party_name': 'JOHNSON, SIMON PAUL', 'party_r...  {'party_name': 'JOHNSON, SIMON PAUL', 'party_r...                                               None
8                                                None                                               None                                               None
9   {'party_name': 'CLARK, BRIAN PAUL', 'party_rol...  {'party_name': 'CLARK, BRIAN PAUL', 'party_rol...  {'party_name': 'CLARK, BRIAN PAUL', 'party_rol...
10  {'party_name': 'THOMPSON, PAUL BRIAN', 'party_...  {'party_name': 'THOMPSON, PAUL BRIAN', 'party_...                                               None
11  {'party_name': 'ANDERSON, EMMA KATHARINE', 'pa...  {'party_name': 'ANDERSON, EMMA KATHARINE', 'pa...  {'party_name': 'ANDERSON, EMMA KATHARINE', 'pa...
12  {'party_name': 'JOHNSON, ALAN PAUL', 'party_ro...  {'party_name': 'JOHNSON, ALAN PAUL', 'party_ro...                                               None
13  {'party_name': 'SUMMERS, EMMA JANET', 'party_r...                                               None                                               None
14  {'party_name': 'CLARK, ALAN DANIEL', 'party_ro...                                               None                                               None
15  {'party_name': 'PATTERSON, JASON MICHAEL', 'pa...  {'party_name': 'PATTERSON, JASON MICHAEL', 'pa...  {'party_name': 'PATTERSON, JASON MICHAEL', 'pa...
16                                               None                                               None                                               None
17  {'party_name': 'SUMMERS, AMY MAGGIE', 'party_r...  {'party_name': 'SUMMERS, AMY MAGGIE', 'party_r...                                               None
18                                               None                                               None                                               None
19  {'party_name': 'LEE, JASON MAXWELL', 'party_ro...  {'party_name': 'LEE, JASON MAXWELL', 'party_ro...                                               None
20  {'party_name': 'SUMMERS, NINA KATHARINE', 'par...  {'party_name': 'SUMMERS, NINA KATHARINE', 'par...  {'party_name': 'SUMMERS, NINA KATHARINE', 'par...
21  {'party_name': 'SUMMERS, GRACE KATHARINE', 'pa...                                               None                                               None
22  {'party_name': 'CASSIDY, GRACE SARAH', 'party_...  {'party_name': 'CASSIDY, GRACE SARAH', 'party_...                                               None
23  {'party_name': 'BELL, ALAN SIMON', 'party_role...  {'party_name': 'BELL, ALAN SIMON', 'party_role...                                               None
24  {'party_name': 'PATTERSON, JANET EMMA', 'party...                                               None                                               None

In [11]:
# Expand court_df['Count 1'] into its own dataframe.
court1_df = court_df['Court 1'].apply(pd.Series)

# Rename each variable in court1_df.
court1_df = court1_df.rename(columns=lambda x: 'Court1_' + str(x))

# View the court1_df data frame.
court1_df

           Court1_party_name Court1_party_role Court1_court_id Court1_cs_type Court1_cs_date_filed Court1_cs_date_term Court1_cs_date_dismiss  Court1_cs_date_discharge                              Court1_disposition Court1_case_number_full                                   Court1_case_link Court1_case_title                              Court1_nature_of_suit
0    THOMPSON, MAXWELL JASON               pla          cacbke      Appellate           03/28/1997          06/13/2001             06/18/1999                       NaN                                            None            2:13-ap-1439  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          THOMPSON                          CONTRACT - Other Contract
1    JOHNSON, NINA KATHARINE               dft          cacbke          Civil           04/06/1995          10/26/1988             02/28/1989                       NaN                    Transfer to Another District            2:13-ap-7330  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           JOHNSON  OTHER STATUTES - Racketeer Influenced and Corr...
2                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
3       CLARK, BORIS MAXWELL               pla          cacbke      Appellate           12/27/1990          05/19/1992             08/08/1993                       NaN                      Dismissed for Other Reason            2:13-ap-5962  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK                          CIVIL RIGHTS - Employment
4          LIBBY, JAKE BRIAN               pla          cacbke          Civil           05/05/2010          09/22/2006             10/07/2002                       NaN                      Dismissed for Other Reason            2:13-ap-7406  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             LIBBY                          CIVIL RIGHTS - Employment
5     THOMPSON, EMMA MELISSA               pla          cacbke          Civil           04/03/2011          05/09/1999             07/03/2003                       NaN                     Judgment Entered on Consent            2:13-ap-8147  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          THOMPSON  OTHER STATUTES - Racketeer Influenced and Corr...
6       CLARK, AMY KATHARINE               dft          cacbke      Appellate           01/27/1986          05/16/1991             08/17/1989                       NaN                              Standard Discharge            2:13-ap-5224  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK                 Appellate - Other Contract Actions
7        JOHNSON, SIMON PAUL               pla          cacbke      Appellate           03/07/1989          02/03/1991             08/08/1995                       NaN                      Dismissed for Other Reason            2:13-ap-8142  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           JOHNSON                 Appellate - Other Contract Actions
8                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
9          CLARK, BRIAN PAUL               dft          cacbke      Appellate           06/28/1994          04/19/1982             08/25/1994                       NaN  Dismissed or Settled Without Entry of Judgment            2:13-ap-8503  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK  OTHER STATUTES - Racketeer Influenced and Corr...
10      THOMPSON, PAUL BRIAN               dft          cacbke          Civil           10/26/2000          08/01/1997             03/18/2000                       NaN                              Standard Discharge            2:13-ap-3265  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          THOMPSON                          CONTRACT - Other Contract
11  ANDERSON, EMMA KATHARINE               dft          cacbke      Appellate           11/07/1974          07/25/1993             03/25/1995                       NaN                    Transfer to Another District            2:13-ap-6036  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          ANDERSON                          CONTRACT - Other Contract
12        JOHNSON, ALAN PAUL               pla          cacbke          Civil           04/11/1994          04/20/1994             11/03/1993                       NaN                      Dismissed for Other Reason            2:13-ap-1482  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           JOHNSON                          CIVIL RIGHTS - Employment
13       SUMMERS, EMMA JANET               pla          cacbke      Appellate           02/02/1996          03/24/1998             08/17/1997                       NaN                      Dismissed for Other Reason            2:13-ap-9461  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           SUMMERS                          CIVIL RIGHTS - Employment
14        CLARK, ALAN DANIEL               pla          cacbke      Appellate           06/21/1998          08/11/1999             01/03/2000                       NaN                     Judgment Entered on Consent            2:13-ap-7880  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK                          CONTRACT - Other Contract
15  PATTERSON, JASON MICHAEL               pla          cacbke          Civil           03/01/1987          12/19/1976             12/09/1985                       NaN                    Transfer to Another District            2:13-ap-7491  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...         PATTERSON  TORTS - Personal Injury - Assault, Libel, & Sl...
16                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
17       SUMMERS, AMY MAGGIE               dft          cacbke          Civil           01/20/1983          06/20/1980             02/01/1985                       NaN                     Judgment Entered on Consent            2:13-ap-1917  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           SUMMERS                 Appellate - Other Contract Actions
18                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
19        LEE, JASON MAXWELL               pla          cacbke          Civil           01/18/1992          10/18/1993             06/16/1994                       NaN                     Judgment Entered on Consent            2:13-ap-6497  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...               LEE  TORTS - Personal Injury - Assault, Libel, & Sl...
20   SUMMERS, NINA KATHARINE               dft          cacbke          Civil           02/28/2000          02/12/1998             08/10/1997                       NaN                    Transfer to Another District            2:13-ap-9193  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           SUMMERS                          CONTRACT - Other Contract
21  SUMMERS, GRACE KATHARINE               pla          cacbke      Appellate           05/28/1990          11/27/1988             12/28/1975                       NaN                              Standard Discharge            2:13-ap-2074  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           SUMMERS                          CIVIL RIGHTS - Employment
22      CASSIDY, GRACE SARAH               dft          cacbke      Appellate           10/21/1999          09/09/1996             08/08/1997                       NaN                    Transfer to Another District            2:13-ap-2554  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           CASSIDY                          CIVIL RIGHTS - Employment
23          BELL, ALAN SIMON               dft          cacbke      Appellate           08/25/1972          09/11/1979             06/23/1985                       NaN                                            None            2:13-ap-6955  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...              BELL                          CIVIL RIGHTS - Employment
24     PATTERSON, JANET EMMA               pla          cacbke      Appellate           11/26/1995          09/25/1994             05/26/1988                       NaN                      Dismissed for Other Reason            2:13-ap-2479  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...         PATTERSON                          CONTRACT - Other Contract

In [12]:
# Repeat for Court 2.
# Expand court_df['Count 2'] into its own dataframe.
court2_df = court_df['Court 2'].apply(pd.Series)

# Rename each variable in court1_df.
court2_df = court2_df.rename(columns=lambda x: 'Court2_' + str(x))

# View the court2_df data frame.
court2_df

           Court2_party_name Court2_party_role Court2_court_id Court2_cs_type Court2_cs_date_filed Court2_cs_date_term Court2_cs_date_dismiss  Court2_cs_date_discharge                              Court2_disposition Court2_case_number_full                                   Court2_case_link Court2_case_title                              Court2_nature_of_suit
0    THOMPSON, MAXWELL JASON               pla          cacbke          Civil           09/22/1999          05/11/2001             08/14/2001                       NaN                      Dismissed for Other Reason            2:13-ap-1572  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          THOMPSON                          CIVIL RIGHTS - Employment
1    JOHNSON, NINA KATHARINE               pla          cacbke          Civil           08/06/1994          07/07/1991             07/22/1990                       NaN                     Judgment Entered on Consent            2:13-ap-8404  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           JOHNSON                 Appellate - Other Contract Actions
2                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
3       CLARK, BORIS MAXWELL               dft          cacbke          Civil           12/03/1992          07/19/1986             06/03/1993                       NaN                              Standard Discharge            2:13-ap-9475  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK                 Appellate - Other Contract Actions
4          LIBBY, JAKE BRIAN               dft          cacbke          Civil           12/11/1998          09/27/2008             08/20/2008                       NaN                                            None            2:13-ap-3848  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             LIBBY                 Appellate - Other Contract Actions
5     THOMPSON, EMMA MELISSA               dft          cacbke          Civil           12/25/2003          09/25/1998             12/24/2005                       NaN                      Dismissed for Other Reason            2:13-ap-3297  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          THOMPSON  TORTS - Personal Injury - Assault, Libel, & Sl...
6       CLARK, AMY KATHARINE               pla          cacbke          Civil           04/24/1991          09/19/1986             09/15/1982                       NaN  Dismissed or Settled Without Entry of Judgment            2:13-ap-2942  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK                          CIVIL RIGHTS - Employment
7        JOHNSON, SIMON PAUL               dft          cacbke      Appellate           08/09/1992          03/05/1994             06/12/1994                       NaN                      Dismissed for Other Reason            2:13-ap-4377  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           JOHNSON                          CIVIL RIGHTS - Employment
8                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
9          CLARK, BRIAN PAUL               dft          cacbke          Civil           09/20/1988          07/12/1979             11/05/1994                       NaN                    Transfer to Another District            2:13-ap-2481  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK                          CIVIL RIGHTS - Employment
10      THOMPSON, PAUL BRIAN               dft          cacbke          Civil           10/15/1996          07/27/2001             06/12/1996                       NaN                    Transfer to Another District            2:13-ap-6743  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          THOMPSON                          CONTRACT - Other Contract
11  ANDERSON, EMMA KATHARINE               pla          cacbke          Civil           12/05/1989          09/06/1979             03/15/1977                       NaN                              Standard Discharge            2:13-ap-7755  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          ANDERSON  TORTS - Personal Injury - Assault, Libel, & Sl...
12        JOHNSON, ALAN PAUL               dft          cacbke      Appellate           11/05/1994          03/22/1993             07/12/1992                       NaN                                            None            2:13-ap-9431  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           JOHNSON                          CONTRACT - Other Contract
13                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
14                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
15  PATTERSON, JASON MICHAEL               dft          cacbke      Appellate           11/12/1983          10/08/1993             02/24/1995                       NaN                              Standard Discharge            2:13-ap-8898  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...         PATTERSON  TORTS - Personal Injury - Assault, Libel, & Sl...
16                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
17       SUMMERS, AMY MAGGIE               pla          cacbke      Appellate           09/02/1991          10/19/1993             10/14/1983                       NaN                     Judgment Entered on Consent            2:13-ap-2304  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           SUMMERS                 Appellate - Other Contract Actions
18                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
19        LEE, JASON MAXWELL               dft          cacbke      Appellate           12/03/1993          08/16/1985             04/17/1985                       NaN  Dismissed or Settled Without Entry of Judgment            2:13-ap-4065  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...               LEE                 Appellate - Other Contract Actions
20   SUMMERS, NINA KATHARINE               dft          cacbke          Civil           06/07/1997          09/15/1997             12/20/1996                       NaN  Dismissed or Settled Without Entry of Judgment            2:13-ap-8207  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           SUMMERS                          CIVIL RIGHTS - Employment
21                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
22      CASSIDY, GRACE SARAH               dft          cacbke      Appellate           07/19/1998          04/02/1997             02/13/1996                       NaN  Dismissed or Settled Without Entry of Judgment            2:13-ap-8364  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           CASSIDY  OTHER STATUTES - Racketeer Influenced and Corr...
23          BELL, ALAN SIMON               pla          cacbke      Appellate           12/05/1987          05/21/1990             09/25/1977                       NaN                                            None            2:13-ap-4273  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...              BELL  TORTS - Personal Injury - Assault, Libel, & Sl...
24                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN

In [13]:
# Repeat for Court 3.
# Expand court_df['Count 3'] into its own dataframe.
court3_df = court_df['Court 3'].apply(pd.Series)

# Rename each variable in court1_df.
court3_df = court3_df.rename(columns=lambda x: 'Court3_' + str(x))

# View the court1_df data frame.
court3_df

           Court3_party_name Court3_party_role Court3_court_id Court3_cs_type Court3_cs_date_filed Court3_cs_date_term Court3_cs_date_dismiss  Court3_cs_date_discharge                              Court3_disposition Court3_case_number_full                                   Court3_case_link Court3_case_title                              Court3_nature_of_suit
0                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
1    JOHNSON, NINA KATHARINE               pla          cacbke      Appellate           07/24/1992          08/10/1994             12/12/1990                       NaN  Dismissed or Settled Without Entry of Judgment            2:13-ap-3130  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           JOHNSON  TORTS - Personal Injury - Assault, Libel, & Sl...
2                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
3       CLARK, BORIS MAXWELL               dft          cacbke      Appellate           04/08/1989          09/15/1989             04/23/1992                       NaN                              Standard Discharge            2:13-ap-6530  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK  TORTS - Personal Injury - Assault, Libel, & Sl...
4          LIBBY, JAKE BRIAN               dft          cacbke      Appellate           10/17/2004          02/09/1996             12/12/2001                       NaN                    Transfer to Another District            2:13-ap-7229  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             LIBBY                          CONTRACT - Other Contract
5     THOMPSON, EMMA MELISSA               pla          cacbke      Appellate           06/09/1999          04/13/2007             01/02/2011                       NaN                              Standard Discharge            2:13-ap-3021  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          THOMPSON                          CONTRACT - Other Contract
6                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
7                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
8                        NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
9          CLARK, BRIAN PAUL               dft          cacbke      Appellate           08/24/1983          05/12/1994             07/14/1979                       NaN                      Dismissed for Other Reason            2:13-ap-6814  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...             CLARK                          CIVIL RIGHTS - Employment
10                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
11  ANDERSON, EMMA KATHARINE               dft          cacbke          Civil           10/25/1994          04/10/1985             06/08/1982                       NaN                     Judgment Entered on Consent            2:13-ap-9544  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...          ANDERSON  OTHER STATUTES - Racketeer Influenced and Corr...
12                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
13                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
14                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
15  PATTERSON, JASON MICHAEL               dft          cacbke          Civil           10/10/1984          12/23/1985             07/19/1987                       NaN                              Standard Discharge            2:13-ap-9178  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...         PATTERSON                          CIVIL RIGHTS - Employment
16                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
17                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
18                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
19                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
20   SUMMERS, NINA KATHARINE               dft          cacbke          Civil           08/15/1998          05/17/1998             12/07/1998                       NaN                              Standard Discharge            2:13-ap-9233  https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...           SUMMERS                 Appellate - Other Contract Actions
21                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
22                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
23                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN
24                       NaN               NaN             NaN            NaN                  NaN                 NaN                    NaN                       NaN                                             NaN                     NaN                                                NaN               NaN                                                NaN

In [14]:
# Let's do the same for the 'criminal' column.
criminal_df = pd.DataFrame(list(df['criminal']))
criminal_df

                                             criminal sor terrorist
0   [{'lastname': 'Thompson', 'firstname': 'Maxwel...  []        []
1   [{'lastname': 'Johnson', 'firstname': 'Nina', ...  []        []
2   [{'lastname': 'Johnson', 'firstname': 'Emma', ...  []        []
3   [{'lastname': 'Clark', 'firstname': 'Boris', '...  []        []
4   [{'lastname': 'Libby', 'firstname': 'Jake', 'm...  []        []
5   [{'lastname': 'Thompson', 'firstname': 'Emma',...  []        []
6   [{'lastname': 'Clark', 'firstname': 'Amy', 'mi...  []        []
7   [{'lastname': 'Johnson', 'firstname': 'Simon',...  []        []
8   [{'lastname': 'Ross', 'firstname': 'Emma', 'mi...  []        []
9   [{'lastname': 'Clark', 'firstname': 'Brian', '...  []        []
10                                                 []  []        []
11  [{'lastname': 'Anderson', 'firstname': 'Emma',...  []        []
12  [{'lastname': 'Johnson', 'firstname': 'Alan', ...  []        []
13  [{'lastname': 'Summers', 'firstname': 'Emma', ...  []        []
14  [{'lastname': 'Clark', 'firstname': 'Alan', 'm...  []        []
15  [{'lastname': 'Patterson', 'firstname': 'Jason...  []        []
16  [{'lastname': 'Bell', 'firstname': 'Maggie', '...  []        []
17                                                 []  []        []
18  [{'lastname': 'Patterson', 'firstname': 'Simon...  []        []
19                                                 []  []        []
20  [{'lastname': 'Summers', 'firstname': 'Nina', ...  []        []
21  [{'lastname': 'Summers', 'firstname': 'Grace',...  []        []
22  [{'lastname': 'Cassidy', 'firstname': 'Grace',...  []        []
23  [{'lastname': 'Bell', 'firstname': 'Alan', 'mi...  []        []
24  [{'lastname': 'Patterson', 'firstname': 'Janet...  []        []

In [15]:
# No useful information from the 'sor and 'terrorist' columns.
# Let's drop them.
criminal_df = criminal_df['criminal']
criminal_df

0     [{'lastname': 'Thompson', 'firstname': 'Maxwel...
1     [{'lastname': 'Johnson', 'firstname': 'Nina', ...
2     [{'lastname': 'Johnson', 'firstname': 'Emma', ...
3     [{'lastname': 'Clark', 'firstname': 'Boris', '...
4     [{'lastname': 'Libby', 'firstname': 'Jake', 'm...
5     [{'lastname': 'Thompson', 'firstname': 'Emma',...
6     [{'lastname': 'Clark', 'firstname': 'Amy', 'mi...
7     [{'lastname': 'Johnson', 'firstname': 'Simon',...
8     [{'lastname': 'Ross', 'firstname': 'Emma', 'mi...
9     [{'lastname': 'Clark', 'firstname': 'Brian', '...
10                                                   []
11    [{'lastname': 'Anderson', 'firstname': 'Emma',...
12    [{'lastname': 'Johnson', 'firstname': 'Alan', ...
13    [{'lastname': 'Summers', 'firstname': 'Emma', ...
14    [{'lastname': 'Clark', 'firstname': 'Alan', 'm...
15    [{'lastname': 'Patterson', 'firstname': 'Jason...
16    [{'lastname': 'Bell', 'firstname': 'Maggie', '...
17                                                   []
18    [{'lastname': 'Patterson', 'firstname': 'Simon...
19                                                   []
20    [{'lastname': 'Summers', 'firstname': 'Nina', ...
21    [{'lastname': 'Summers', 'firstname': 'Grace',...
22    [{'lastname': 'Cassidy', 'firstname': 'Grace',...
23    [{'lastname': 'Bell', 'firstname': 'Alan', 'mi...
24    [{'lastname': 'Patterson', 'firstname': 'Janet...
Name: criminal, dtype: object

In [16]:
# Let's expand the 'criminal' column.
criminal_df = pd.DataFrame(list(criminal_df))
criminal_df

                                                    0                                                  1                                                  2
0   {'lastname': 'Thompson', 'firstname': 'Maxwell...                                               None                                               None
1   {'lastname': 'Johnson', 'firstname': 'Nina', '...                                               None                                               None
2   {'lastname': 'Johnson', 'firstname': 'Emma', '...  {'lastname': 'Johnson', 'firstname': 'Emma', '...  {'lastname': 'Johnson', 'firstname': 'Emma', '...
3   {'lastname': 'Clark', 'firstname': 'Boris', 'm...                                               None                                               None
4   {'lastname': 'Libby', 'firstname': 'Jake', 'mi...  {'lastname': 'Libby', 'firstname': 'Jake', 'mi...  {'lastname': 'Libby', 'firstname': 'Jake', 'mi...
5   {'lastname': 'Thompson', 'firstname': 'Emma', ...  {'lastname': 'Thompson', 'firstname': 'Emma', ...                                               None
6   {'lastname': 'Clark', 'firstname': 'Amy', 'mid...                                               None                                               None
7   {'lastname': 'Johnson', 'firstname': 'Simon', ...                                               None                                               None
8   {'lastname': 'Ross', 'firstname': 'Emma', 'mid...  {'lastname': 'Ross', 'firstname': 'Emma', 'mid...                                               None
9   {'lastname': 'Clark', 'firstname': 'Brian', 'm...                                               None                                               None
10                                               None                                               None                                               None
11  {'lastname': 'Anderson', 'firstname': 'Emma', ...  {'lastname': 'Anderson', 'firstname': 'Emma', ...  {'lastname': 'Anderson', 'firstname': 'Emma', ...
12  {'lastname': 'Johnson', 'firstname': 'Alan', '...  {'lastname': 'Johnson', 'firstname': 'Alan', '...                                               None
13  {'lastname': 'Summers', 'firstname': 'Emma', '...                                               None                                               None
14  {'lastname': 'Clark', 'firstname': 'Alan', 'mi...  {'lastname': 'Clark', 'firstname': 'Alan', 'mi...                                               None
15  {'lastname': 'Patterson', 'firstname': 'Jason'...  {'lastname': 'Patterson', 'firstname': 'Jason'...                                               None
16  {'lastname': 'Bell', 'firstname': 'Maggie', 'm...  {'lastname': 'Bell', 'firstname': 'Maggie', 'm...                                               None
17                                               None                                               None                                               None
18  {'lastname': 'Patterson', 'firstname': 'Simon'...                                               None                                               None
19                                               None                                               None                                               None
20  {'lastname': 'Summers', 'firstname': 'Nina', '...  {'lastname': 'Summers', 'firstname': 'Nina', '...                                               None
21  {'lastname': 'Summers', 'firstname': 'Grace', ...  {'lastname': 'Summers', 'firstname': 'Grace', ...                                               None
22  {'lastname': 'Cassidy', 'firstname': 'Grace', ...  {'lastname': 'Cassidy', 'firstname': 'Grace', ...                                               None
23  {'lastname': 'Bell', 'firstname': 'Alan', 'mid...  {'lastname': 'Bell', 'firstname': 'Alan', 'mid...  {'lastname': 'Bell', 'firstname': 'Alan', 'mid...
24  {'lastname': 'Patterson', 'firstname': 'Janet'...                                               None                                               None

In [17]:
# Let's rename the columns.
criminal_df.rename(columns={0: '1st Offense', 1: '2nd Offense', 2:
                            '3rd Offense'}, inplace='True')
criminal_df

                                          1st Offense                                        2nd Offense                                        3rd Offense
0   {'lastname': 'Thompson', 'firstname': 'Maxwell...                                               None                                               None
1   {'lastname': 'Johnson', 'firstname': 'Nina', '...                                               None                                               None
2   {'lastname': 'Johnson', 'firstname': 'Emma', '...  {'lastname': 'Johnson', 'firstname': 'Emma', '...  {'lastname': 'Johnson', 'firstname': 'Emma', '...
3   {'lastname': 'Clark', 'firstname': 'Boris', 'm...                                               None                                               None
4   {'lastname': 'Libby', 'firstname': 'Jake', 'mi...  {'lastname': 'Libby', 'firstname': 'Jake', 'mi...  {'lastname': 'Libby', 'firstname': 'Jake', 'mi...
5   {'lastname': 'Thompson', 'firstname': 'Emma', ...  {'lastname': 'Thompson', 'firstname': 'Emma', ...                                               None
6   {'lastname': 'Clark', 'firstname': 'Amy', 'mid...                                               None                                               None
7   {'lastname': 'Johnson', 'firstname': 'Simon', ...                                               None                                               None
8   {'lastname': 'Ross', 'firstname': 'Emma', 'mid...  {'lastname': 'Ross', 'firstname': 'Emma', 'mid...                                               None
9   {'lastname': 'Clark', 'firstname': 'Brian', 'm...                                               None                                               None
10                                               None                                               None                                               None
11  {'lastname': 'Anderson', 'firstname': 'Emma', ...  {'lastname': 'Anderson', 'firstname': 'Emma', ...  {'lastname': 'Anderson', 'firstname': 'Emma', ...
12  {'lastname': 'Johnson', 'firstname': 'Alan', '...  {'lastname': 'Johnson', 'firstname': 'Alan', '...                                               None
13  {'lastname': 'Summers', 'firstname': 'Emma', '...                                               None                                               None
14  {'lastname': 'Clark', 'firstname': 'Alan', 'mi...  {'lastname': 'Clark', 'firstname': 'Alan', 'mi...                                               None
15  {'lastname': 'Patterson', 'firstname': 'Jason'...  {'lastname': 'Patterson', 'firstname': 'Jason'...                                               None
16  {'lastname': 'Bell', 'firstname': 'Maggie', 'm...  {'lastname': 'Bell', 'firstname': 'Maggie', 'm...                                               None
17                                               None                                               None                                               None
18  {'lastname': 'Patterson', 'firstname': 'Simon'...                                               None                                               None
19                                               None                                               None                                               None
20  {'lastname': 'Summers', 'firstname': 'Nina', '...  {'lastname': 'Summers', 'firstname': 'Nina', '...                                               None
21  {'lastname': 'Summers', 'firstname': 'Grace', ...  {'lastname': 'Summers', 'firstname': 'Grace', ...                                               None
22  {'lastname': 'Cassidy', 'firstname': 'Grace', ...  {'lastname': 'Cassidy', 'firstname': 'Grace', ...                                               None
23  {'lastname': 'Bell', 'firstname': 'Alan', 'mid...  {'lastname': 'Bell', 'firstname': 'Alan', 'mid...  {'lastname': 'Bell', 'firstname': 'Alan', 'mid...
24  {'lastname': 'Patterson', 'firstname': 'Janet'...                                               None                                               None

In [18]:
# Expand criminal_df['1st Offense'] into its own dataframe.
criminal1_df = criminal_df['1st Offense'].apply(pd.Series)

# Rename each variable in criminal1_df.
criminal1_df = criminal1_df.rename(columns=lambda x: '1st Offense_' + str(x))

# View the criminal1_df data frame.
criminal1_df

   1st Offense_lastname 1st Offense_firstname 1st Offense_middlename 1st Offense_race 1st Offense_dob 1st Offense_address  1st Offense_address2 1st Offense_city 1st Offense_state  1st Offense_zip 1st Offense_casenumber 1st Offense_ChargeCategory 1st Offense_ChargesFiledDate 1st Offense_OffenseDate 1st Offense_OffenseCode                    1st Offense_offensedescription1  1st Offense_Counts  1st Offense_Plea 1st Offense_ConvictionDate  1st Offense_ConvictionPlace               1st Offense_court 1st Offense_source  1st Offense_SentenceYYYMMDDD  1st Offense_ProbationYYYMMDDD             1st Offense_Disposition 1st Offense_Dispositiondate  1st Offense_ArrestingAgency 1st Offense_caseType  1st Offense_Fines          1st Offense_SourceName 1st Offense_SourceState  1st Offense_mugshot
0              Thompson               Maxwell                  Jason         Hispanic      04/20/1984    575 MAPLE STREET                   NaN        LAS VEGAS                NV              0.0         CR484016814951           Criminal/traffic                                           06/26/1972                  0g-858                                     ESCAPE 1ST DEG                 2.0               NaN                                                     NaN          Las Vegas at Las Vegas              nvaoc                           1.0                            1.0  Found Guilty (2 DYS MANDATORY MIN)                  08/05/1960                          NaN             Felony C                NaN       NV Admin Office of Courts                      NV                  NaN
1               Johnson                  Nina              Katharine            Black      03/08/1970    575 MAPLE STREET                   NaN     JACKSONVILLE                FL              0.0         CR436978301970           Criminal/traffic                                           12/18/1991                  2h-203                             VIOLATION OF PROBATION                 4.0               NaN                                                     NaN    Jacksonville at Jacksonville              flaoc                           1.0                            1.0  Found Guilty (2 DYS MANDATORY MIN)                  02/28/1966                          NaN             Felony C                NaN       FL Admin Office of Courts                      FL                  NaN
2               Johnson                  Emma                 Maggie        Caucasian      06/27/1959    575 MAPLE STREET                   NaN        ARLINGTON                TX              0.0         CR669583178972                   CRIMINAL                                           02/14/1977                  8n-273                           ASSAULT, THIRD DEGREE AM                 4.0               NaN                                                     NaN          Arlington at Arlington              txaoc                           1.0                            1.0                        Found Guilty                  12/17/1957                          NaN             Felony C                NaN       TX Admin Office of Courts                      TX                  NaN
3                 Clark                 Boris                Maxwell        Caucasian      07/15/1967    575 MAPLE STREET                   NaN    SAN FRANCISCO                CA              0.0         CR587099231922           Criminal/traffic                                           07/06/1974                  3q-515                     ILL OPN MV UNDER INFL ALC/DRUG                 1.0               NaN                                                     NaN  San Francisco at San Francisco              caaoc                           1.0                            1.0                           Sentenced                  04/06/1990                          NaN            Undefined                NaN       CA Admin Office of Courts                      CA                  NaN
4                 Libby                  Jake                  Brian        Caucasian      08/15/1993    575 MAPLE STREET                   NaN          RALEIGH                NC              0.0          CR87831489412                   CRIMINAL                                           06/20/1994                  8p-195                           ASSAULT, THIRD DEGREE AM                 2.0               NaN                                                     NaN              Raleigh at Raleigh              ncaoc                           1.0                            1.0                         UNSENTENCED                  09/22/1978                          NaN                 None                NaN       NC Admin Office of Courts                      NC                  NaN
5              Thompson                  Emma                Melissa            Black      01/27/1994    575 MAPLE STREET                   NaN            MIAMI           Florida              0.0         CR173780186042                   CRIMINAL                                           11/01/1981                  3m-830                           ASSAULT, THIRD DEGREE AM                 3.0               NaN                                                     NaN                  Miami at Miami         floridaaoc                           1.0                            1.0                        Found Guilty                  12/26/1971                          NaN        Misdemeanor U                NaN  Florida Admin Office of Courts                 Florida                  NaN
6                 Clark                   Amy              Katharine            Black      09/23/1959    575 MAPLE STREET                   NaN       FORT WORTH                TX              0.0          CR67761187736           Criminal/traffic                                           07/01/1973                  8a-100                      EVADE RESP-PROP DAMAGE/INJURY                 3.0               NaN                                                     NaN        Fort Worth at Fort Worth              txaoc                           1.0                            1.0                           Sentenced                  03/06/1991                          NaN        Misdemeanor U                NaN       TX Admin Office of Courts                      TX                  NaN
7               Johnson                 Simon                   Paul         Hispanic      10/01/1971    575 MAPLE STREET                   NaN           FRESNO                CA              0.0         CR758681279374                   CRIMINAL                                           05/04/1976                  5l-617                           ASSAULT, THIRD DEGREE AM                 1.0               NaN                                                     NaN                Fresno at Fresno              caaoc                           1.0                            1.0  Found Guilty (2 DYS MANDATORY MIN)                  12/27/1953                          NaN             Felony C                NaN       CA Admin Office of Courts                      CA                  NaN
8                  Ross                  Emma                   Emma        Caucasian      02/11/1968    575 MAPLE STREET                   NaN        MILWAUKEE                WI              0.0         CR631247759274           Criminal/traffic                                           09/20/1977                  8u-478                     ILL OPN MV UNDER INFL ALC/DRUG                 3.0               NaN                                                     NaN          Milwaukee at Milwaukee              wiaoc                           1.0                            1.0                        Found Guilty                  12/26/1955                          NaN        Misdemeanor U                NaN       WI Admin Office of Courts                      WI                  NaN
9                 Clark                 Brian                   Paul         Hispanic      01/05/1960    575 MAPLE STREET                   NaN            OMAHA                NB              0.0         CR109339673969           Criminal/traffic                                           08/21/1977                  9l-202                OPERATE UNDER INFLU OF LIQ OR DRUGS                 2.0               NaN                                                     NaN                  Omaha at Omaha              nbaoc                           1.0                            1.0                           Sentenced                  01/03/1984                          NaN                 None                NaN       NB Admin Office of Courts                      NB                  NaN
10                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                             NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
11             Anderson                  Emma              Katharine        Caucasian      08/06/1952    575 MAPLE STREET                   NaN        LAS VEGAS                NV              0.0         CR192919020575                   CRIMINAL                                           08/13/1981                  1m-846                           ASSAULT, THIRD DEGREE AM                 3.0               NaN                                                     NaN          Las Vegas at Las Vegas              nvaoc                           1.0                            1.0                         UNSENTENCED                  06/05/1992                          NaN                 None                NaN       NV Admin Office of Courts                      NV                  NaN
12              Johnson                  Alan                   Paul        Caucasian      08/04/1974    575 MAPLE STREET                   NaN          SEATTLE                WA              0.0         CR466808092629           Criminal/traffic                                           02/22/1990                  2e-195                                     ESCAPE 1ST DEG                 4.0               NaN                                                     NaN              Seattle at Seattle              waaoc                           1.0                            1.0                           Sentenced                  07/07/1995                          NaN            Undefined                NaN       WA Admin Office of Courts                      WA                  NaN
13              Summers                  Emma                  Janet         Hispanic      08/25/1981    575 MAPLE STREET                   NaN         PORTLAND                OR              0.0         CR269054188322                   CRIMINAL                                           01/05/1992                  7c-941                           ASSAULT, THIRD DEGREE AM                 3.0               NaN                                                     NaN            Portland at Portland              oraoc                           1.0                            1.0                         UNSENTENCED                  05/08/1953                          NaN                 None                NaN       OR Admin Office of Courts                      OR                  NaN
14                Clark                  Alan                 Daniel            Black      08/04/1983    575 MAPLE STREET                   NaN           BOSTON                MA              0.0         CR574368502659                   CRIMINAL                                           03/08/1972                  2a-116                           ASSAULT, THIRD DEGREE AM                 1.0               NaN                                                     NaN                Boston at Boston              maaoc                           1.0                            1.0                           Sentenced                  06/25/1985                          NaN            Undefined                NaN       MA Admin Office of Courts                      MA                  NaN
15            Patterson                 Jason                Michael        Caucasian      04/16/1957    575 MAPLE STREET                   NaN           TUCSON                AZ              0.0         CR187369840898                   CRIMINAL                                           03/20/1972                  1s-613                           ASSAULT, THIRD DEGREE AM                 2.0               NaN                                                     NaN                Tucson at Tucson              azaoc                           1.0                            1.0                         UNSENTENCED                  01/26/1988                          NaN        Misdemeanor U                NaN       AZ Admin Office of Courts                      AZ                  NaN
16                 Bell                Maggie                   Nina        Caucasian      11/12/1973    575 MAPLE STREET                   NaN          RALEIGH                NC              0.0          CR64427196263           Criminal/traffic                                           09/17/1975                  3u-787  Found Guilty Conditional Discharge (5/TO OTHER...                 1.0               NaN                                                     NaN              Raleigh at Raleigh              ncaoc                           1.0                            1.0  Found Guilty (2 DYS MANDATORY MIN)                  03/26/1985                          NaN             Felony C                NaN       NC Admin Office of Courts                      NC                  NaN
17                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                             NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
18            Patterson                 Simon                   Alan         Hispanic      06/14/1985    575 MAPLE STREET                   NaN       LONG BEACH                CA              0.0         CR353945516997                   CRIMINAL                                           04/11/1990                  4r-746                           ASSAULT, THIRD DEGREE AM                 2.0               NaN                                                     NaN        Long Beach at Long Beach              caaoc                           1.0                            1.0                         UNSENTENCED                  09/19/1986                          NaN             Felony C                NaN       CA Admin Office of Courts                      CA                  NaN
19                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                             NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
20              Summers                  Nina              Katharine         Hispanic      04/17/1983    575 MAPLE STREET                   NaN     INDIANAPOLIS                IN              0.0         CR605011963211           Criminal/traffic                                           01/25/1981                  7s-314                      EVADE RESP-PROP DAMAGE/INJURY                 1.0               NaN                                                     NaN    Indianapolis at Indianapolis              inaoc                           1.0                            1.0                        Found Guilty                  10/07/1977                          NaN                 None                NaN       IN Admin Office of Courts                      IN                  NaN
21              Summers                 Grace              Katharine         Hispanic      08/10/1957    575 MAPLE STREET                   NaN       CO SPRINGS                CO              0.0         CR164646717325           Criminal/traffic                                           11/26/1973                  4n-597  Found Guilty Conditional Discharge (5/TO OTHER...                 4.0               NaN                                                     NaN        CO Springs at CO Springs              coaoc                           1.0                            1.0  Found Guilty (2 DYS MANDATORY MIN)                  04/20/1972                          NaN             Felony C                NaN       CO Admin Office of Courts                      CO                  NaN
22              Cassidy                 Grace                  Sarah         Hispanic      09/13/1982    575 MAPLE STREET                   NaN           FRESNO                CA              0.0         CR796075116985           Criminal/traffic                                           08/01/1975                  6i-757  Found Guilty Conditional Discharge (5/TO OTHER...                 1.0               NaN                                                     NaN                Fresno at Fresno              caaoc                           1.0                            1.0                           Sentenced                  11/13/1951                          NaN             Felony C                NaN       CA Admin Office of Courts                      CA                  NaN
23                 Bell                  Alan                  Simon            Black      08/22/1952    575 MAPLE STREET                   NaN           FRESNO                CA              0.0         CR212283973010           Criminal/traffic                                           04/24/1982                  1z-137                             VIOLATION OF PROBATION                 4.0               NaN                                                     NaN                Fresno at Fresno              caaoc                           1.0                            1.0                         UNSENTENCED                  08/26/1980                          NaN        Misdemeanor U                NaN       CA Admin Office of Courts                      CA                  NaN

In [19]:
# Drop columns with no value.
criminal1_df = criminal1_df.drop(['1st Offense_address2',
                                   '1st Offense_zip',
                                   '1st Offense_ChargesFiledDate',
                                   '1st Offense_Plea',
                                   '1st Offense_ConvictionDate',
                                   '1st Offense_ConvictionPlace',
                                   '1st Offense_SentenceYYYMMDDD',
                                   '1st Offense_ProbationYYYMMDDD',
                                   '1st Offense_ArrestingAgency',
                                   '1st Offense_Fines',
                                   '1st Offense_mugshot'], 1)
criminal1_df

   1st Offense_lastname 1st Offense_firstname 1st Offense_middlename 1st Offense_race 1st Offense_dob 1st Offense_address 1st Offense_city 1st Offense_state 1st Offense_casenumber 1st Offense_ChargeCategory 1st Offense_OffenseDate 1st Offense_OffenseCode                    1st Offense_offensedescription1  1st Offense_Counts               1st Offense_court 1st Offense_source             1st Offense_Disposition 1st Offense_Dispositiondate 1st Offense_caseType          1st Offense_SourceName 1st Offense_SourceState
0              Thompson               Maxwell                  Jason         Hispanic      04/20/1984    575 MAPLE STREET        LAS VEGAS                NV         CR484016814951           Criminal/traffic              06/26/1972                  0g-858                                     ESCAPE 1ST DEG                 2.0          Las Vegas at Las Vegas              nvaoc  Found Guilty (2 DYS MANDATORY MIN)                  08/05/1960             Felony C       NV Admin Office of Courts                      NV
1               Johnson                  Nina              Katharine            Black      03/08/1970    575 MAPLE STREET     JACKSONVILLE                FL         CR436978301970           Criminal/traffic              12/18/1991                  2h-203                             VIOLATION OF PROBATION                 4.0    Jacksonville at Jacksonville              flaoc  Found Guilty (2 DYS MANDATORY MIN)                  02/28/1966             Felony C       FL Admin Office of Courts                      FL
2               Johnson                  Emma                 Maggie        Caucasian      06/27/1959    575 MAPLE STREET        ARLINGTON                TX         CR669583178972                   CRIMINAL              02/14/1977                  8n-273                           ASSAULT, THIRD DEGREE AM                 4.0          Arlington at Arlington              txaoc                        Found Guilty                  12/17/1957             Felony C       TX Admin Office of Courts                      TX
3                 Clark                 Boris                Maxwell        Caucasian      07/15/1967    575 MAPLE STREET    SAN FRANCISCO                CA         CR587099231922           Criminal/traffic              07/06/1974                  3q-515                     ILL OPN MV UNDER INFL ALC/DRUG                 1.0  San Francisco at San Francisco              caaoc                           Sentenced                  04/06/1990            Undefined       CA Admin Office of Courts                      CA
4                 Libby                  Jake                  Brian        Caucasian      08/15/1993    575 MAPLE STREET          RALEIGH                NC          CR87831489412                   CRIMINAL              06/20/1994                  8p-195                           ASSAULT, THIRD DEGREE AM                 2.0              Raleigh at Raleigh              ncaoc                         UNSENTENCED                  09/22/1978                 None       NC Admin Office of Courts                      NC
5              Thompson                  Emma                Melissa            Black      01/27/1994    575 MAPLE STREET            MIAMI           Florida         CR173780186042                   CRIMINAL              11/01/1981                  3m-830                           ASSAULT, THIRD DEGREE AM                 3.0                  Miami at Miami         floridaaoc                        Found Guilty                  12/26/1971        Misdemeanor U  Florida Admin Office of Courts                 Florida
6                 Clark                   Amy              Katharine            Black      09/23/1959    575 MAPLE STREET       FORT WORTH                TX          CR67761187736           Criminal/traffic              07/01/1973                  8a-100                      EVADE RESP-PROP DAMAGE/INJURY                 3.0        Fort Worth at Fort Worth              txaoc                           Sentenced                  03/06/1991        Misdemeanor U       TX Admin Office of Courts                      TX
7               Johnson                 Simon                   Paul         Hispanic      10/01/1971    575 MAPLE STREET           FRESNO                CA         CR758681279374                   CRIMINAL              05/04/1976                  5l-617                           ASSAULT, THIRD DEGREE AM                 1.0                Fresno at Fresno              caaoc  Found Guilty (2 DYS MANDATORY MIN)                  12/27/1953             Felony C       CA Admin Office of Courts                      CA
8                  Ross                  Emma                   Emma        Caucasian      02/11/1968    575 MAPLE STREET        MILWAUKEE                WI         CR631247759274           Criminal/traffic              09/20/1977                  8u-478                     ILL OPN MV UNDER INFL ALC/DRUG                 3.0          Milwaukee at Milwaukee              wiaoc                        Found Guilty                  12/26/1955        Misdemeanor U       WI Admin Office of Courts                      WI
9                 Clark                 Brian                   Paul         Hispanic      01/05/1960    575 MAPLE STREET            OMAHA                NB         CR109339673969           Criminal/traffic              08/21/1977                  9l-202                OPERATE UNDER INFLU OF LIQ OR DRUGS                 2.0                  Omaha at Omaha              nbaoc                           Sentenced                  01/03/1984                 None       NB Admin Office of Courts                      NB
10                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                             NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
11             Anderson                  Emma              Katharine        Caucasian      08/06/1952    575 MAPLE STREET        LAS VEGAS                NV         CR192919020575                   CRIMINAL              08/13/1981                  1m-846                           ASSAULT, THIRD DEGREE AM                 3.0          Las Vegas at Las Vegas              nvaoc                         UNSENTENCED                  06/05/1992                 None       NV Admin Office of Courts                      NV
12              Johnson                  Alan                   Paul        Caucasian      08/04/1974    575 MAPLE STREET          SEATTLE                WA         CR466808092629           Criminal/traffic              02/22/1990                  2e-195                                     ESCAPE 1ST DEG                 4.0              Seattle at Seattle              waaoc                           Sentenced                  07/07/1995            Undefined       WA Admin Office of Courts                      WA
13              Summers                  Emma                  Janet         Hispanic      08/25/1981    575 MAPLE STREET         PORTLAND                OR         CR269054188322                   CRIMINAL              01/05/1992                  7c-941                           ASSAULT, THIRD DEGREE AM                 3.0            Portland at Portland              oraoc                         UNSENTENCED                  05/08/1953                 None       OR Admin Office of Courts                      OR
14                Clark                  Alan                 Daniel            Black      08/04/1983    575 MAPLE STREET           BOSTON                MA         CR574368502659                   CRIMINAL              03/08/1972                  2a-116                           ASSAULT, THIRD DEGREE AM                 1.0                Boston at Boston              maaoc                           Sentenced                  06/25/1985            Undefined       MA Admin Office of Courts                      MA
15            Patterson                 Jason                Michael        Caucasian      04/16/1957    575 MAPLE STREET           TUCSON                AZ         CR187369840898                   CRIMINAL              03/20/1972                  1s-613                           ASSAULT, THIRD DEGREE AM                 2.0                Tucson at Tucson              azaoc                         UNSENTENCED                  01/26/1988        Misdemeanor U       AZ Admin Office of Courts                      AZ
16                 Bell                Maggie                   Nina        Caucasian      11/12/1973    575 MAPLE STREET          RALEIGH                NC          CR64427196263           Criminal/traffic              09/17/1975                  3u-787  Found Guilty Conditional Discharge (5/TO OTHER...                 1.0              Raleigh at Raleigh              ncaoc  Found Guilty (2 DYS MANDATORY MIN)                  03/26/1985             Felony C       NC Admin Office of Courts                      NC
17                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                             NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
18            Patterson                 Simon                   Alan         Hispanic      06/14/1985    575 MAPLE STREET       LONG BEACH                CA         CR353945516997                   CRIMINAL              04/11/1990                  4r-746                           ASSAULT, THIRD DEGREE AM                 2.0        Long Beach at Long Beach              caaoc                         UNSENTENCED                  09/19/1986             Felony C       CA Admin Office of Courts                      CA
19                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                             NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
20              Summers                  Nina              Katharine         Hispanic      04/17/1983    575 MAPLE STREET     INDIANAPOLIS                IN         CR605011963211           Criminal/traffic              01/25/1981                  7s-314                      EVADE RESP-PROP DAMAGE/INJURY                 1.0    Indianapolis at Indianapolis              inaoc                        Found Guilty                  10/07/1977                 None       IN Admin Office of Courts                      IN
21              Summers                 Grace              Katharine         Hispanic      08/10/1957    575 MAPLE STREET       CO SPRINGS                CO         CR164646717325           Criminal/traffic              11/26/1973                  4n-597  Found Guilty Conditional Discharge (5/TO OTHER...                 4.0        CO Springs at CO Springs              coaoc  Found Guilty (2 DYS MANDATORY MIN)                  04/20/1972             Felony C       CO Admin Office of Courts                      CO
22              Cassidy                 Grace                  Sarah         Hispanic      09/13/1982    575 MAPLE STREET           FRESNO                CA         CR796075116985           Criminal/traffic              08/01/1975                  6i-757  Found Guilty Conditional Discharge (5/TO OTHER...                 1.0                Fresno at Fresno              caaoc                           Sentenced                  11/13/1951             Felony C       CA Admin Office of Courts                      CA
23                 Bell                  Alan                  Simon            Black      08/22/1952    575 MAPLE STREET           FRESNO                CA         CR212283973010           Criminal/traffic              04/24/1982                  1z-137                             VIOLATION OF PROBATION                 4.0                Fresno at Fresno              caaoc                         UNSENTENCED                  08/26/1980        Misdemeanor U       CA Admin Office of Courts                      CA
24            Patterson                 Janet                   Emma            Black      09/19/1969    575 MAPLE STREET          DETROIT                MI          CR46365071451           Criminal/traffic              01/15/1993                  4n-622                                     ESCAPE 1ST DEG                 4.0              Detroit at Detroit              miaoc                         UNSENTENCED                  03/15/1984            Undefined       MI Admin Office of Courts                      MI

In [20]:
# Repeat for criminal_df['2nd Offense'].
# Expand criminal_df['2nd Offense'] into its own dataframe.
criminal2_df = criminal_df['2nd Offense'].apply(pd.Series)

# Rename each variable in criminal2_df.
criminal2_df = criminal2_df.rename(columns = lambda x : '2nd Offense_' + str(x))

# View the criminal2_df data frame.
criminal2_df

   2nd Offense_lastname 2nd Offense_firstname 2nd Offense_middlename 2nd Offense_race 2nd Offense_dob 2nd Offense_address  2nd Offense_address2 2nd Offense_city 2nd Offense_state  2nd Offense_zip 2nd Offense_casenumber 2nd Offense_ChargeCategory 2nd Offense_ChargesFiledDate 2nd Offense_OffenseDate 2nd Offense_OffenseCode 2nd Offense_offensedescription1  2nd Offense_Counts  2nd Offense_Plea 2nd Offense_ConvictionDate  2nd Offense_ConvictionPlace                 2nd Offense_court 2nd Offense_source  2nd Offense_SentenceYYYMMDDD  2nd Offense_ProbationYYYMMDDD             2nd Offense_Disposition 2nd Offense_Dispositiondate  2nd Offense_ArrestingAgency 2nd Offense_caseType  2nd Offense_Fines     2nd Offense_SourceName 2nd Offense_SourceState  2nd Offense_mugshot
0                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
1                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
2               Johnson                  Emma                 Maggie        Caucasian      06/27/1959    575 MAPLE STREET                   NaN     PHILADELPHIA                PA              0.0         CR822464033252                   CRIMINAL                                           11/10/1985                  6v-409        ASSAULT, THIRD DEGREE AM                 3.0               NaN                                                     NaN      Philadelphia at Philadelphia              paaoc                           1.0                            1.0                           Sentenced                  04/07/1962                          NaN            Undefined                NaN  PA Admin Office of Courts                      PA                  NaN
3                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
4                 Libby                  Jake                  Brian        Caucasian      08/15/1993    575 MAPLE STREET                   NaN        ARLINGTON                TX              0.0         CR858168744118                   CRIMINAL                                           05/06/1988                  2t-762        ASSAULT, THIRD DEGREE AM                 4.0               NaN                                                     NaN            Arlington at Arlington              txaoc                           1.0                            1.0                         UNSENTENCED                  07/15/1981                          NaN                 None                NaN  TX Admin Office of Courts                      TX                  NaN
5              Thompson                  Emma                Melissa            Black      01/27/1994    575 MAPLE STREET                   NaN           DALLAS                TX              0.0         CR507510468667                   CRIMINAL                                           06/15/1981                  1w-179        ASSAULT, THIRD DEGREE AM                 2.0               NaN                                                     NaN                  Dallas at Dallas              txaoc                           1.0                            1.0                        Found Guilty                  06/12/1982                          NaN                 None                NaN  TX Admin Office of Courts                      TX                  NaN
6                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
7                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
8                  Ross                  Emma                   Emma        Caucasian      02/11/1968    575 MAPLE STREET                   NaN   VIRGINIA BEACH                VA              0.0         CR486370373593                   CRIMINAL                                           01/22/1995                  8c-771        ASSAULT, THIRD DEGREE AM                 1.0               NaN                                                     NaN  Virginia Beach at Virginia Beach              vaaoc                           1.0                            1.0                           Sentenced                  11/03/1978                          NaN             Felony C                NaN  VA Admin Office of Courts                      VA                  NaN
9                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
10                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
11             Anderson                  Emma              Katharine        Caucasian      08/06/1952    575 MAPLE STREET                   NaN        CHARLOTTE                NC              0.0         CR295901665445                   CRIMINAL                                           09/25/1990                  5e-129        ASSAULT, THIRD DEGREE AM                 4.0               NaN                                                     NaN            Charlotte at Charlotte              ncaoc                           1.0                            1.0                         UNSENTENCED                  10/21/1968                          NaN                 None                NaN  NC Admin Office of Courts                      NC                  NaN
12              Johnson                  Alan                   Paul        Caucasian      08/04/1974    575 MAPLE STREET                   NaN            OMAHA                NB              0.0         CR605628212481           Criminal/traffic                                           02/02/1992                  8x-525                  ESCAPE 1ST DEG                 1.0               NaN                                                     NaN                    Omaha at Omaha              nbaoc                           1.0                            1.0  Found Guilty (2 DYS MANDATORY MIN)                  04/19/1994                          NaN            Undefined                NaN  NB Admin Office of Courts                      NB                  NaN
13                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
14                Clark                  Alan                 Daniel            Black      08/04/1983    575 MAPLE STREET                   NaN            TULSA                OK              0.0         CR484416469902           Criminal/traffic                                           08/06/1993                  4r-645                  ESCAPE 1ST DEG                 1.0               NaN                                                     NaN                    Tulsa at Tulsa              okaoc                           1.0                            1.0                        Found Guilty                  07/13/1952                          NaN            Undefined                NaN  OK Admin Office of Courts                      OK                  NaN
15            Patterson                 Jason                Michael        Caucasian      04/16/1957    575 MAPLE STREET                   NaN        LAS VEGAS                NV              0.0         CR345079145962                   CRIMINAL                                           09/21/1992                  7p-822        ASSAULT, THIRD DEGREE AM                 2.0               NaN                                                     NaN            Las Vegas at Las Vegas              nvaoc                           1.0                            1.0                           Sentenced                  05/03/1977                          NaN             Felony C                NaN  NV Admin Office of Courts                      NV                  NaN
16                 Bell                Maggie                   Nina        Caucasian      11/12/1973    575 MAPLE STREET                   NaN         PORTLAND                OR              0.0         CR252067164828           Criminal/traffic                                           05/12/1988                  2y-984          VIOLATION OF PROBATION                 2.0               NaN                                                     NaN              Portland at Portland              oraoc                           1.0                            1.0                        Found Guilty                  11/03/1970                          NaN            Undefined                NaN  OR Admin Office of Courts                      OR                  NaN
17                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
18                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
19                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN
20              Summers                  Nina              Katharine         Hispanic      04/17/1983    575 MAPLE STREET                   NaN        CLEVELAND                OH              0.0         CR299779890300                   CRIMINAL                                           07/13/1974                  3l-894        ASSAULT, THIRD DEGREE AM                 3.0               NaN                                                     NaN            Cleveland at Cleveland              ohaoc                           1.0                            1.0                           Sentenced                  02/26/1969                          NaN                 None                NaN  OH Admin Office of Courts                      OH                  NaN
21              Summers                 Grace              Katharine         Hispanic      08/10/1957    575 MAPLE STREET                   NaN        LAS VEGAS                NV              0.0         CR412638528392                   CRIMINAL                                           10/17/1971                  9o-402        ASSAULT, THIRD DEGREE AM                 1.0               NaN                                                     NaN            Las Vegas at Las Vegas              nvaoc                           1.0                            1.0                         UNSENTENCED                  02/27/1984                          NaN             Felony C                NaN  NV Admin Office of Courts                      NV                  NaN
22              Cassidy                 Grace                  Sarah         Hispanic      09/13/1982    575 MAPLE STREET                   NaN       FORT WORTH                TX              0.0         CR739967315383           Criminal/traffic                                           02/13/1979                  5p-853          VIOLATION OF PROBATION                 4.0               NaN                                                     NaN          Fort Worth at Fort Worth              txaoc                           1.0                            1.0                           Sentenced                  07/07/1954                          NaN            Undefined                NaN  TX Admin Office of Courts                      TX                  NaN
23                 Bell                  Alan                  Simon            Black      08/22/1952    575 MAPLE STREET                   NaN           DENVER                CO              0.0         CR353330596831           Criminal/traffic                                           12/13/1988                  7m-804   EVADE RESP-PROP DAMAGE/INJURY                 2.0               NaN                                                     NaN                  Denver at Denver              coaoc                           1.0                            1.0                           Sentenced                  02/21/1987                          NaN            Undefined                NaN  CO Admin Office of Courts                      CO                  NaN
24                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                             NaN                 NaN               NaN                        NaN                          NaN                               NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                        NaN                     NaN                  NaN

In [21]:
# Drop columns with no value.
criminal2_df = criminal2_df.drop(['2nd Offense_address2',
                                   '2nd Offense_zip',
                                   '2nd Offense_ChargesFiledDate',
                                   '2nd Offense_Plea',
                                   '2nd Offense_ConvictionDate',
                                   '2nd Offense_ConvictionPlace',
                                   '2nd Offense_SentenceYYYMMDDD',
                                   '2nd Offense_ProbationYYYMMDDD',
                                   '2nd Offense_ArrestingAgency',
                                   '2nd Offense_Fines',
                                   '2nd Offense_mugshot'], 1)
criminal2_df

   2nd Offense_lastname 2nd Offense_firstname 2nd Offense_middlename 2nd Offense_race 2nd Offense_dob 2nd Offense_address 2nd Offense_city 2nd Offense_state 2nd Offense_casenumber 2nd Offense_ChargeCategory 2nd Offense_OffenseDate 2nd Offense_OffenseCode 2nd Offense_offensedescription1  2nd Offense_Counts                 2nd Offense_court 2nd Offense_source             2nd Offense_Disposition 2nd Offense_Dispositiondate 2nd Offense_caseType     2nd Offense_SourceName 2nd Offense_SourceState
0                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
1                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
2               Johnson                  Emma                 Maggie        Caucasian      06/27/1959    575 MAPLE STREET     PHILADELPHIA                PA         CR822464033252                   CRIMINAL              11/10/1985                  6v-409        ASSAULT, THIRD DEGREE AM                 3.0      Philadelphia at Philadelphia              paaoc                           Sentenced                  04/07/1962            Undefined  PA Admin Office of Courts                      PA
3                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
4                 Libby                  Jake                  Brian        Caucasian      08/15/1993    575 MAPLE STREET        ARLINGTON                TX         CR858168744118                   CRIMINAL              05/06/1988                  2t-762        ASSAULT, THIRD DEGREE AM                 4.0            Arlington at Arlington              txaoc                         UNSENTENCED                  07/15/1981                 None  TX Admin Office of Courts                      TX
5              Thompson                  Emma                Melissa            Black      01/27/1994    575 MAPLE STREET           DALLAS                TX         CR507510468667                   CRIMINAL              06/15/1981                  1w-179        ASSAULT, THIRD DEGREE AM                 2.0                  Dallas at Dallas              txaoc                        Found Guilty                  06/12/1982                 None  TX Admin Office of Courts                      TX
6                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
7                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
8                  Ross                  Emma                   Emma        Caucasian      02/11/1968    575 MAPLE STREET   VIRGINIA BEACH                VA         CR486370373593                   CRIMINAL              01/22/1995                  8c-771        ASSAULT, THIRD DEGREE AM                 1.0  Virginia Beach at Virginia Beach              vaaoc                           Sentenced                  11/03/1978             Felony C  VA Admin Office of Courts                      VA
9                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
10                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
11             Anderson                  Emma              Katharine        Caucasian      08/06/1952    575 MAPLE STREET        CHARLOTTE                NC         CR295901665445                   CRIMINAL              09/25/1990                  5e-129        ASSAULT, THIRD DEGREE AM                 4.0            Charlotte at Charlotte              ncaoc                         UNSENTENCED                  10/21/1968                 None  NC Admin Office of Courts                      NC
12              Johnson                  Alan                   Paul        Caucasian      08/04/1974    575 MAPLE STREET            OMAHA                NB         CR605628212481           Criminal/traffic              02/02/1992                  8x-525                  ESCAPE 1ST DEG                 1.0                    Omaha at Omaha              nbaoc  Found Guilty (2 DYS MANDATORY MIN)                  04/19/1994            Undefined  NB Admin Office of Courts                      NB
13                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
14                Clark                  Alan                 Daniel            Black      08/04/1983    575 MAPLE STREET            TULSA                OK         CR484416469902           Criminal/traffic              08/06/1993                  4r-645                  ESCAPE 1ST DEG                 1.0                    Tulsa at Tulsa              okaoc                        Found Guilty                  07/13/1952            Undefined  OK Admin Office of Courts                      OK
15            Patterson                 Jason                Michael        Caucasian      04/16/1957    575 MAPLE STREET        LAS VEGAS                NV         CR345079145962                   CRIMINAL              09/21/1992                  7p-822        ASSAULT, THIRD DEGREE AM                 2.0            Las Vegas at Las Vegas              nvaoc                           Sentenced                  05/03/1977             Felony C  NV Admin Office of Courts                      NV
16                 Bell                Maggie                   Nina        Caucasian      11/12/1973    575 MAPLE STREET         PORTLAND                OR         CR252067164828           Criminal/traffic              05/12/1988                  2y-984          VIOLATION OF PROBATION                 2.0              Portland at Portland              oraoc                        Found Guilty                  11/03/1970            Undefined  OR Admin Office of Courts                      OR
17                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
18                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
19                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN
20              Summers                  Nina              Katharine         Hispanic      04/17/1983    575 MAPLE STREET        CLEVELAND                OH         CR299779890300                   CRIMINAL              07/13/1974                  3l-894        ASSAULT, THIRD DEGREE AM                 3.0            Cleveland at Cleveland              ohaoc                           Sentenced                  02/26/1969                 None  OH Admin Office of Courts                      OH
21              Summers                 Grace              Katharine         Hispanic      08/10/1957    575 MAPLE STREET        LAS VEGAS                NV         CR412638528392                   CRIMINAL              10/17/1971                  9o-402        ASSAULT, THIRD DEGREE AM                 1.0            Las Vegas at Las Vegas              nvaoc                         UNSENTENCED                  02/27/1984             Felony C  NV Admin Office of Courts                      NV
22              Cassidy                 Grace                  Sarah         Hispanic      09/13/1982    575 MAPLE STREET       FORT WORTH                TX         CR739967315383           Criminal/traffic              02/13/1979                  5p-853          VIOLATION OF PROBATION                 4.0          Fort Worth at Fort Worth              txaoc                           Sentenced                  07/07/1954            Undefined  TX Admin Office of Courts                      TX
23                 Bell                  Alan                  Simon            Black      08/22/1952    575 MAPLE STREET           DENVER                CO         CR353330596831           Criminal/traffic              12/13/1988                  7m-804   EVADE RESP-PROP DAMAGE/INJURY                 2.0                  Denver at Denver              coaoc                           Sentenced                  02/21/1987            Undefined  CO Admin Office of Courts                      CO
24                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                             NaN                 NaN                               NaN                NaN                                 NaN                         NaN                  NaN                        NaN                     NaN

In [22]:
# Repeat for criminal_df['3rd Offense'].
# Expand criminal_df['3rd Offense'] into its own dataframe.
criminal3_df = criminal_df['3rd Offense'].apply(pd.Series)

# Rename each variable in criminal3_df.
criminal3_df = criminal3_df.rename(columns=lambda x: '3rd Offense_' + str(x))

# View the criminal3_df data frame.
criminal3_df

   3rd Offense_lastname 3rd Offense_firstname 3rd Offense_middlename 3rd Offense_race 3rd Offense_dob 3rd Offense_address  3rd Offense_address2 3rd Offense_city 3rd Offense_state  3rd Offense_zip 3rd Offense_casenumber 3rd Offense_ChargeCategory 3rd Offense_ChargesFiledDate 3rd Offense_OffenseDate 3rd Offense_OffenseCode                    3rd Offense_offensedescription1  3rd Offense_Counts  3rd Offense_Plea 3rd Offense_ConvictionDate  3rd Offense_ConvictionPlace         3rd Offense_court 3rd Offense_source  3rd Offense_SentenceYYYMMDDD  3rd Offense_ProbationYYYMMDDD             3rd Offense_Disposition 3rd Offense_Dispositiondate  3rd Offense_ArrestingAgency 3rd Offense_caseType  3rd Offense_Fines          3rd Offense_SourceName 3rd Offense_SourceState  3rd Offense_mugshot
0                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
1                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
2               Johnson                  Emma                 Maggie        Caucasian      06/27/1959    575 MAPLE STREET                   NaN            OMAHA                NB              0.0         CR718416835842           Criminal/traffic                                           12/25/1970                  5k-871  Found Guilty Conditional Discharge (5/TO OTHER...                 2.0               NaN                                                     NaN            Omaha at Omaha              nbaoc                           1.0                            1.0  Found Guilty (2 DYS MANDATORY MIN)                  12/23/1961                          NaN            Undefined                NaN       NB Admin Office of Courts                      NB                  NaN
3                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
4                 Libby                  Jake                  Brian        Caucasian      08/15/1993    575 MAPLE STREET                   NaN         PORTLAND                OR              0.0         CR699116624479                   CRIMINAL                                           03/24/1989                  0c-817                           ASSAULT, THIRD DEGREE AM                 4.0               NaN                                                     NaN      Portland at Portland              oraoc                           1.0                            1.0                        Found Guilty                  02/14/1987                          NaN             Felony C                NaN       OR Admin Office of Courts                      OR                  NaN
5                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
6                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
7                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
8                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
9                   NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
10                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
11             Anderson                  Emma              Katharine        Caucasian      08/06/1952    575 MAPLE STREET                   NaN            MIAMI           Florida              0.0         CR593440785962                   CRIMINAL                                           09/01/1976                  0r-549                           ASSAULT, THIRD DEGREE AM                 2.0               NaN                                                     NaN            Miami at Miami         floridaaoc                           1.0                            1.0                         UNSENTENCED                  03/26/1952                          NaN            Undefined                NaN  Florida Admin Office of Courts                 Florida                  NaN
12                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
13                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
14                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
15                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
16                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
17                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
18                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
19                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
20                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
21                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
22                  NaN                   NaN                    NaN              NaN             NaN                 NaN                   NaN              NaN               NaN              NaN                    NaN                        NaN                          NaN                     NaN                     NaN                                                NaN                 NaN               NaN                        NaN                          NaN                       NaN                NaN                           NaN                            NaN                                 NaN                         NaN                          NaN                  NaN                NaN                             NaN                     NaN                  NaN
23                 Bell                  Alan                  Simon            Black      08/22/1952    575 MAPLE STREET                   NaN       LONG BEACH                CA              0.0         CR905204087332           Criminal/traffic                                           05/12/1995                  4j-135              VIOLATION OF PROBATION OR COND DISCHG                 4.0               NaN                                                     NaN  Long Beach at Long Beach              caaoc                           1.0                            1.0  Found Guilty (2 DYS MANDATORY MIN)                  06/22/1966                          NaN        Misdemeanor U                NaN       CA Admin Office of Courts                      CA                  NaN

In [23]:
# Drop columns with no value.
criminal3_df = criminal3_df.drop(['3rd Offense_address2',
                                  '3rd Offense_zip',
                                  '3rd Offense_ChargesFiledDate',
                                  '3rd Offense_Plea',
                                  '3rd Offense_ConvictionDate',
                                  '3rd Offense_ConvictionPlace',
                                  '3rd Offense_SentenceYYYMMDDD',
                                  '3rd Offense_ProbationYYYMMDDD',
                                  '3rd Offense_ArrestingAgency',
                                  '3rd Offense_Fines',
                                  '3rd Offense_mugshot'], 1)
criminal3_df

   3rd Offense_lastname 3rd Offense_firstname 3rd Offense_middlename 3rd Offense_race 3rd Offense_dob 3rd Offense_address 3rd Offense_city 3rd Offense_state 3rd Offense_casenumber 3rd Offense_ChargeCategory 3rd Offense_OffenseDate 3rd Offense_OffenseCode                    3rd Offense_offensedescription1  3rd Offense_Counts         3rd Offense_court 3rd Offense_source             3rd Offense_Disposition 3rd Offense_Dispositiondate 3rd Offense_caseType          3rd Offense_SourceName 3rd Offense_SourceState
0                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
1                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
2               Johnson                  Emma                 Maggie        Caucasian      06/27/1959    575 MAPLE STREET            OMAHA                NB         CR718416835842           Criminal/traffic              12/25/1970                  5k-871  Found Guilty Conditional Discharge (5/TO OTHER...                 2.0            Omaha at Omaha              nbaoc  Found Guilty (2 DYS MANDATORY MIN)                  12/23/1961            Undefined       NB Admin Office of Courts                      NB
3                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
4                 Libby                  Jake                  Brian        Caucasian      08/15/1993    575 MAPLE STREET         PORTLAND                OR         CR699116624479                   CRIMINAL              03/24/1989                  0c-817                           ASSAULT, THIRD DEGREE AM                 4.0      Portland at Portland              oraoc                        Found Guilty                  02/14/1987             Felony C       OR Admin Office of Courts                      OR
5                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
6                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
7                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
8                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
9                   NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
10                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
11             Anderson                  Emma              Katharine        Caucasian      08/06/1952    575 MAPLE STREET            MIAMI           Florida         CR593440785962                   CRIMINAL              09/01/1976                  0r-549                           ASSAULT, THIRD DEGREE AM                 2.0            Miami at Miami         floridaaoc                         UNSENTENCED                  03/26/1952            Undefined  Florida Admin Office of Courts                 Florida
12                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
13                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
14                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
15                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
16                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
17                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
18                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
19                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
20                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
21                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
22                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN
23                 Bell                  Alan                  Simon            Black      08/22/1952    575 MAPLE STREET       LONG BEACH                CA         CR905204087332           Criminal/traffic              05/12/1995                  4j-135              VIOLATION OF PROBATION OR COND DISCHG                 4.0  Long Beach at Long Beach              caaoc  Found Guilty (2 DYS MANDATORY MIN)                  06/22/1966        Misdemeanor U       CA Admin Office of Courts                      CA
24                  NaN                   NaN                    NaN              NaN             NaN                 NaN              NaN               NaN                    NaN                        NaN                     NaN                     NaN                                                NaN                 NaN                       NaN                NaN                                 NaN                         NaN                  NaN                             NaN                     NaN

In [24]:
# Let's expand the 'addresses' column.
addresses_df = pd.DataFrame(list(df['addresses']))
addresses_df

                                                    0                                                  1                                                  2                                                  3                                                  4                                                  5
0   {'street': '698 Broadway Ave', 'city': 'Housto...  {'street': '2945 Ivy St', 'city': 'Arlington',...  {'street': '2944 Houston Dr', 'city': 'Virgini...  {'street': '455 Lincoln Rd', 'city': 'Detroit'...  {'street': '953 Harvard Dr', 'city': 'Jacksonv...  {'street': '2240 Main Ave', 'city': 'Oklahoma ...
1   {'street': '3899 Princeton St', 'city': 'Albuq...  {'street': '1752 Arnold Ave', 'city': 'Nashvil...  {'street': '709 Broadway St', 'city': 'El Paso...                                               None                                               None                                               None
2   {'street': '3344 3rd Cr', 'city': 'Tulsa', 'st...  {'street': '722 Princeton Cr', 'city': 'Clevel...  {'street': '2899 Main St', 'city': 'Mesa', 'st...                                               None                                               None                                               None
3   {'street': '3655 University Blvd', 'city': 'Ne...  {'street': '784 Lincoln Dr', 'city': 'San Dieg...  {'street': '1449 University St', 'city': 'Port...  {'street': '1362 Main Blvd', 'city': 'Boston',...                                               None                                               None
4   {'street': '1629 Pearl Rd', 'city': 'Oklahoma ...  {'street': '2488 Yale Cr', 'city': 'Columbus',...  {'street': '3827 Lincoln Cr', 'city': 'Seattle...  {'street': '520 3rd Dr', 'city': 'Nashville-Da...                                               None                                               None
5   {'street': '1700 Princeton Cr', 'city': 'Oakla...                                               None                                               None                                               None                                               None                                               None
6   {'street': '2580 Arnold Cr', 'city': 'Kansas C...  {'street': '1926 Broadway Blvd', 'city': 'Denv...  {'street': '1827 3rd Ave', 'city': 'Albuquerqu...  {'street': '3749 3rd Dr', 'city': 'Phoenix', '...                                               None                                               None
7   {'street': '2120 University St', 'city': 'Clev...  {'street': '2416 Ocean Ave', 'city': 'Columbus...                                               None                                               None                                               None                                               None
8   {'street': '1111 Princeton Dr', 'city': 'Omaha...  {'street': '1305 Yale St', 'city': 'San Antoni...                                               None                                               None                                               None                                               None
9   {'street': '3446 Ocean Dr', 'city': 'Dallas', ...  {'street': '2813 Lincoln Dr', 'city': 'Tucson'...  {'street': '2673 Logan Ave', 'city': 'Las Vega...                                               None                                               None                                               None
10  {'street': '529 Logan Dr', 'city': 'El Paso', ...  {'street': '3447 Broadway St', 'city': 'Seattl...  {'street': '2434 Arnold Wy', 'city': 'Los Ange...  {'street': '3153 University Blvd', 'city': 'Ja...  {'street': '1216 Houston St', 'city': 'Oakland...                                               None
11  {'street': '1413 Arnold Dr', 'city': 'Virginia...                                               None                                               None                                               None                                               None                                               None
12  {'street': '711 Ivy Wy', 'city': 'Nashville-Da...  {'street': '3343 Main Ave', 'city': 'Cleveland...                                               None                                               None                                               None                                               None
13  {'street': '3937 Harvard Blvd', 'city': 'Balti...                                               None                                               None                                               None                                               None                                               None
14  {'street': '3286 Houston Blvd', 'city': 'Jacks...  {'street': '903 Arnold St', 'city': 'Houston',...                                               None                                               None                                               None                                               None
15  {'street': '2502 Broadway Cr', 'city': 'San An...  {'street': '3497 Harvard St', 'city': 'Las Veg...                                               None                                               None                                               None                                               None
16  {'street': '921 Broadway Rd', 'city': 'Indiana...  {'street': '3341 Pearl Blvd', 'city': 'San Die...  {'street': '279 Ocean Dr', 'city': 'Albuquerqu...  {'street': '46 High Ave', 'city': 'CO Springs'...  {'street': '3929 Ocean Dr', 'city': 'Las Vegas...  {'street': '1231 Main Blvd', 'city': 'San Jose...
17  {'street': '2561 3rd Blvd', 'city': 'Indianapo...  {'street': '2364 Arnold Cr', 'city': 'Dallas',...  {'street': '1015 Ocean Wy', 'city': 'New York'...  {'street': '1182 Yale Wy', 'city': 'Cleveland'...  {'street': '1536 3rd Wy', 'city': 'Kansas City...  {'street': '282 Ocean Cr', 'city': 'Raleigh', ...
18  {'street': '1033 Houston Blvd', 'city': 'Colum...  {'street': '2413 3rd Blvd', 'city': 'Denver', ...  {'street': '2732 Lincoln Wy', 'city': 'El Paso...  {'street': '222 Pearl Wy', 'city': 'Omaha', 's...                                               None                                               None
19  {'street': '1604 Princeton Blvd', 'city': 'Cle...  {'street': '3259 Houston Blvd', 'city': 'El Pa...                                               None                                               None                                               None                                               None
20  {'street': '3970 Broadway Wy', 'city': 'San Di...  {'street': '981 3rd Cr', 'city': 'Chicago', 's...                                               None                                               None                                               None                                               None
21  {'street': '3568 Lincoln Wy', 'city': 'Los Ang...  {'street': '51 High Ave', 'city': 'Los Angeles...  {'street': '303 Harvard St', 'city': 'Los Ange...  {'street': '2318 3rd Blvd', 'city': 'Long Beac...                                               None                                               None
22  {'street': '1234 High Ave', 'city': 'Sacrament...  {'street': '2302 Houston Dr', 'city': 'El Paso...  {'street': '782 Lincoln Ave', 'city': 'Tucson'...  {'street': '1016 3rd Ave', 'city': 'Columbus',...  {'street': '2382 Harvard St', 'city': 'Portlan...                                               None
23  {'street': '3722 Arnold Rd', 'city': 'Columbus...  {'street': '3805 Harvard Rd', 'city': 'Dallas'...  {'street': '220 3rd Dr', 'city': 'Virginia Bea...  {'street': '2706 Main Cr', 'city': 'Los Angele...  {'street': '3185 Yale Blvd', 'city': 'Minneapo...                                               None
24  {'street': '3756 Lincoln Rd', 'city': 'Dallas'...  {'street': '2717 Ivy Wy', 'city': 'Austin', 's...  {'street': '1477 High Dr', 'city': 'Chicago', ...  {'street': '877 Yale Wy', 'city': 'San Diego',...                                               None                                               None

In [25]:
# Let's rename the columns.
addresses_df.rename(columns={0: 'Address1', 1: 'Address2', 2: 'Address3',
                             3: 'Address4', 4: 'Address5', 5: 'Address6'},
                    inplace='True')
addresses_df

                                             Address1                                           Address2                                           Address3                                           Address4                                           Address5                                           Address6
0   {'street': '698 Broadway Ave', 'city': 'Housto...  {'street': '2945 Ivy St', 'city': 'Arlington',...  {'street': '2944 Houston Dr', 'city': 'Virgini...  {'street': '455 Lincoln Rd', 'city': 'Detroit'...  {'street': '953 Harvard Dr', 'city': 'Jacksonv...  {'street': '2240 Main Ave', 'city': 'Oklahoma ...
1   {'street': '3899 Princeton St', 'city': 'Albuq...  {'street': '1752 Arnold Ave', 'city': 'Nashvil...  {'street': '709 Broadway St', 'city': 'El Paso...                                               None                                               None                                               None
2   {'street': '3344 3rd Cr', 'city': 'Tulsa', 'st...  {'street': '722 Princeton Cr', 'city': 'Clevel...  {'street': '2899 Main St', 'city': 'Mesa', 'st...                                               None                                               None                                               None
3   {'street': '3655 University Blvd', 'city': 'Ne...  {'street': '784 Lincoln Dr', 'city': 'San Dieg...  {'street': '1449 University St', 'city': 'Port...  {'street': '1362 Main Blvd', 'city': 'Boston',...                                               None                                               None
4   {'street': '1629 Pearl Rd', 'city': 'Oklahoma ...  {'street': '2488 Yale Cr', 'city': 'Columbus',...  {'street': '3827 Lincoln Cr', 'city': 'Seattle...  {'street': '520 3rd Dr', 'city': 'Nashville-Da...                                               None                                               None
5   {'street': '1700 Princeton Cr', 'city': 'Oakla...                                               None                                               None                                               None                                               None                                               None
6   {'street': '2580 Arnold Cr', 'city': 'Kansas C...  {'street': '1926 Broadway Blvd', 'city': 'Denv...  {'street': '1827 3rd Ave', 'city': 'Albuquerqu...  {'street': '3749 3rd Dr', 'city': 'Phoenix', '...                                               None                                               None
7   {'street': '2120 University St', 'city': 'Clev...  {'street': '2416 Ocean Ave', 'city': 'Columbus...                                               None                                               None                                               None                                               None
8   {'street': '1111 Princeton Dr', 'city': 'Omaha...  {'street': '1305 Yale St', 'city': 'San Antoni...                                               None                                               None                                               None                                               None
9   {'street': '3446 Ocean Dr', 'city': 'Dallas', ...  {'street': '2813 Lincoln Dr', 'city': 'Tucson'...  {'street': '2673 Logan Ave', 'city': 'Las Vega...                                               None                                               None                                               None
10  {'street': '529 Logan Dr', 'city': 'El Paso', ...  {'street': '3447 Broadway St', 'city': 'Seattl...  {'street': '2434 Arnold Wy', 'city': 'Los Ange...  {'street': '3153 University Blvd', 'city': 'Ja...  {'street': '1216 Houston St', 'city': 'Oakland...                                               None
11  {'street': '1413 Arnold Dr', 'city': 'Virginia...                                               None                                               None                                               None                                               None                                               None
12  {'street': '711 Ivy Wy', 'city': 'Nashville-Da...  {'street': '3343 Main Ave', 'city': 'Cleveland...                                               None                                               None                                               None                                               None
13  {'street': '3937 Harvard Blvd', 'city': 'Balti...                                               None                                               None                                               None                                               None                                               None
14  {'street': '3286 Houston Blvd', 'city': 'Jacks...  {'street': '903 Arnold St', 'city': 'Houston',...                                               None                                               None                                               None                                               None
15  {'street': '2502 Broadway Cr', 'city': 'San An...  {'street': '3497 Harvard St', 'city': 'Las Veg...                                               None                                               None                                               None                                               None
16  {'street': '921 Broadway Rd', 'city': 'Indiana...  {'street': '3341 Pearl Blvd', 'city': 'San Die...  {'street': '279 Ocean Dr', 'city': 'Albuquerqu...  {'street': '46 High Ave', 'city': 'CO Springs'...  {'street': '3929 Ocean Dr', 'city': 'Las Vegas...  {'street': '1231 Main Blvd', 'city': 'San Jose...
17  {'street': '2561 3rd Blvd', 'city': 'Indianapo...  {'street': '2364 Arnold Cr', 'city': 'Dallas',...  {'street': '1015 Ocean Wy', 'city': 'New York'...  {'street': '1182 Yale Wy', 'city': 'Cleveland'...  {'street': '1536 3rd Wy', 'city': 'Kansas City...  {'street': '282 Ocean Cr', 'city': 'Raleigh', ...
18  {'street': '1033 Houston Blvd', 'city': 'Colum...  {'street': '2413 3rd Blvd', 'city': 'Denver', ...  {'street': '2732 Lincoln Wy', 'city': 'El Paso...  {'street': '222 Pearl Wy', 'city': 'Omaha', 's...                                               None                                               None
19  {'street': '1604 Princeton Blvd', 'city': 'Cle...  {'street': '3259 Houston Blvd', 'city': 'El Pa...                                               None                                               None                                               None                                               None
20  {'street': '3970 Broadway Wy', 'city': 'San Di...  {'street': '981 3rd Cr', 'city': 'Chicago', 's...                                               None                                               None                                               None                                               None
21  {'street': '3568 Lincoln Wy', 'city': 'Los Ang...  {'street': '51 High Ave', 'city': 'Los Angeles...  {'street': '303 Harvard St', 'city': 'Los Ange...  {'street': '2318 3rd Blvd', 'city': 'Long Beac...                                               None                                               None
22  {'street': '1234 High Ave', 'city': 'Sacrament...  {'street': '2302 Houston Dr', 'city': 'El Paso...  {'street': '782 Lincoln Ave', 'city': 'Tucson'...  {'street': '1016 3rd Ave', 'city': 'Columbus',...  {'street': '2382 Harvard St', 'city': 'Portlan...                                               None
23  {'street': '3722 Arnold Rd', 'city': 'Columbus...  {'street': '3805 Harvard Rd', 'city': 'Dallas'...  {'street': '220 3rd Dr', 'city': 'Virginia Bea...  {'street': '2706 Main Cr', 'city': 'Los Angele...  {'street': '3185 Yale Blvd', 'city': 'Minneapo...                                               None
24  {'street': '3756 Lincoln Rd', 'city': 'Dallas'...  {'street': '2717 Ivy Wy', 'city': 'Austin', 's...  {'street': '1477 High Dr', 'city': 'Chicago', ...  {'street': '877 Yale Wy', 'city': 'San Diego',...                                               None                                               None

In [26]:
# Expand addresses_df['Address1'] into its own dataframe.
addresses1_df = addresses_df['Address1'].apply(pd.Series)

# Rename each variable in criminal1_df.
addresses1_df = addresses1_df.rename(columns=lambda x: 'Address1_' + str(x))

# View the criminal1_df data frame.
addresses1_df

         Address1_street       Address1_city Address1_state Address1_zipcode Address1_type        Address1_time  Address1_value
0       698 Broadway Ave             Houston             TX            14169   residential  Oct 2014 - Aug 2016          340681
1      3899 Princeton St         Albuquerque             NM            13549   residential  Feb 1994 - Jan 2013          611561
2            3344 3rd Cr               Tulsa             OK            10849   residential  Apr 1991 - Sep 1992          727059
3   3655 University Blvd            New York             NY            11004   residential  Jul 1998 - Aug 2001          287939
4          1629 Pearl Rd       Oklahoma City             OK            10551   residential  Apr 1999 - Sep 2012          243847
5      1700 Princeton Cr             Oakland             CA            17616   residential  Jul 1995 - Dec 1997          634700
6         2580 Arnold Cr         Kansas City             MS            15657   residential  Feb 1991 - Apr 1998          721955
7     2120 University St           Cleveland             OH            15419   residential  Mar 2004 - Oct 2010          781162
8      1111 Princeton Dr               Omaha             NB            14490   residential  Jul 2014 - May 2017          550513
9          3446 Ocean Dr              Dallas             TX            16803   residential  Feb 2010 - Aug 2012          607014
10          529 Logan Dr             El Paso             TX            15857   residential  Apr 2012 - May 2017          210000
11        1413 Arnold Dr      Virginia Beach             VA            13801   residential  Mar 2016 - Mar 2018          759706
12            711 Ivy Wy  Nashville-Davidson             TN            18971   residential  Oct 1991 - Jun 1996          781681
13     3937 Harvard Blvd           Baltimore             MD            17191   residential  Oct 2018 - May 2019          254993
14     3286 Houston Blvd        Jacksonville             FL            17441   residential  Apr 2018 - Mar 2019          699940
15      2502 Broadway Cr         San Antonio             TX            17719   residential  Sep 2014 - Aug 2018          206446
16       921 Broadway Rd        Indianapolis             IN            10469   residential  Aug 1994 - Jan 2000          542496
17         2561 3rd Blvd        Indianapolis             IN            11688   residential  Jan 1994 - Mar 2002          586129
18     1033 Houston Blvd            Columbus             OH            16456   residential  Mar 1994 - Oct 2008          137464
19   1604 Princeton Blvd           Cleveland             OH            10275   residential  Mar 1998 - Jun 2016          394767
20      3970 Broadway Wy           San Diego             CA            17317   residential  Sep 2009 - May 2017          540385
21       3568 Lincoln Wy         Los Angeles             CA            17010   residential  Jan 2010 - Apr 2012          249215
22         1234 High Ave          Sacramento             CA            18404   residential  Oct 2008 - Aug 2010          133224
23        3722 Arnold Rd            Columbus             OH            14773   residential  Apr 1995 - Mar 2016          161820
24       3756 Lincoln Rd              Dallas             TX            15063   residential  Nov 2012 - Oct 2018          392168

In [27]:
# Drop columns with no value.
addresses1_df = addresses1_df.drop(['Address1_type'], 1)
addresses1_df

         Address1_street       Address1_city Address1_state Address1_zipcode        Address1_time  Address1_value
0       698 Broadway Ave             Houston             TX            14169  Oct 2014 - Aug 2016          340681
1      3899 Princeton St         Albuquerque             NM            13549  Feb 1994 - Jan 2013          611561
2            3344 3rd Cr               Tulsa             OK            10849  Apr 1991 - Sep 1992          727059
3   3655 University Blvd            New York             NY            11004  Jul 1998 - Aug 2001          287939
4          1629 Pearl Rd       Oklahoma City             OK            10551  Apr 1999 - Sep 2012          243847
5      1700 Princeton Cr             Oakland             CA            17616  Jul 1995 - Dec 1997          634700
6         2580 Arnold Cr         Kansas City             MS            15657  Feb 1991 - Apr 1998          721955
7     2120 University St           Cleveland             OH            15419  Mar 2004 - Oct 2010          781162
8      1111 Princeton Dr               Omaha             NB            14490  Jul 2014 - May 2017          550513
9          3446 Ocean Dr              Dallas             TX            16803  Feb 2010 - Aug 2012          607014
10          529 Logan Dr             El Paso             TX            15857  Apr 2012 - May 2017          210000
11        1413 Arnold Dr      Virginia Beach             VA            13801  Mar 2016 - Mar 2018          759706
12            711 Ivy Wy  Nashville-Davidson             TN            18971  Oct 1991 - Jun 1996          781681
13     3937 Harvard Blvd           Baltimore             MD            17191  Oct 2018 - May 2019          254993
14     3286 Houston Blvd        Jacksonville             FL            17441  Apr 2018 - Mar 2019          699940
15      2502 Broadway Cr         San Antonio             TX            17719  Sep 2014 - Aug 2018          206446
16       921 Broadway Rd        Indianapolis             IN            10469  Aug 1994 - Jan 2000          542496
17         2561 3rd Blvd        Indianapolis             IN            11688  Jan 1994 - Mar 2002          586129
18     1033 Houston Blvd            Columbus             OH            16456  Mar 1994 - Oct 2008          137464
19   1604 Princeton Blvd           Cleveland             OH            10275  Mar 1998 - Jun 2016          394767
20      3970 Broadway Wy           San Diego             CA            17317  Sep 2009 - May 2017          540385
21       3568 Lincoln Wy         Los Angeles             CA            17010  Jan 2010 - Apr 2012          249215
22         1234 High Ave          Sacramento             CA            18404  Oct 2008 - Aug 2010          133224
23        3722 Arnold Rd            Columbus             OH            14773  Apr 1995 - Mar 2016          161820
24       3756 Lincoln Rd              Dallas             TX            15063  Nov 2012 - Oct 2018          392168

In [28]:
# Expand addresses_df['Address2'] into its own dataframe.
addresses2_df = addresses_df['Address2'].apply(pd.Series)

# Rename each variable in criminal1_df.
addresses2_df = addresses2_df.rename(columns=lambda x: 'Address2_' + str(x))

# View the criminal1_df data frame.
addresses2_df

       Address2_street       Address2_city Address2_state Address2_zipcode Address2_type        Address2_time  Address2_value
0          2945 Ivy St           Arlington             TX            10000   residential  Dec 1992 - Jul 2013        755327.0
1      1752 Arnold Ave  Nashville-Davidson             TN            14142   residential  Nov 1999 - Jul 2004        634838.0
2     722 Princeton Cr           Cleveland             OH            12124   residential  Mar 1993 - Sep 2018        173832.0
3       784 Lincoln Dr           San Diego             CA            18119   residential  Jul 1993 - Jan 2017        426220.0
4         2488 Yale Cr            Columbus             OH            10543   residential  Jul 2006 - Feb 2008        756367.0
5                  NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
6   1926 Broadway Blvd              Denver             CO            10402   residential  Feb 1991 - Jun 2013        772124.0
7       2416 Ocean Ave            Columbus             OH            15982   residential  Nov 2004 - Mar 2014        493888.0
8         1305 Yale St         San Antonio             TX            11371   residential  Aug 2010 - Sep 2014        349831.0
9      2813 Lincoln Dr              Tucson             AZ            15272   residential  Aug 2005 - Jun 2012        615290.0
10    3447 Broadway St             Seattle             WA            15819   residential  Jun 2004 - Apr 2009        720902.0
11                 NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
12       3343 Main Ave           Cleveland             OH            10304   residential  May 2012 - Apr 2014        302668.0
13                 NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
14       903 Arnold St             Houston             TX            16896   residential  Sep 1994 - Aug 2010        291293.0
15     3497 Harvard St           Las Vegas             NV            14122   residential  Jul 1995 - Feb 1996        313726.0
16     3341 Pearl Blvd           San Diego             CA            18918   residential  Oct 1998 - Oct 2014        628176.0
17      2364 Arnold Cr              Dallas             TX            18823   residential  Aug 2003 - Feb 2006        490584.0
18       2413 3rd Blvd              Denver             CO            14563   residential  Jun 2006 - Aug 2010        130271.0
19   3259 Houston Blvd             El Paso             TX            16415   residential  Sep 1999 - Jan 2006        282334.0
20          981 3rd Cr             Chicago             IL            12737   residential  Oct 2001 - Jul 2012        717120.0
21         51 High Ave         Los Angeles             CA            16981   residential  Jan 2003 - Apr 2018        335534.0
22     2302 Houston Dr             El Paso             TX            14451   residential  May 2002 - Oct 2015        439750.0
23     3805 Harvard Rd              Dallas             TX            12935   residential  Oct 2012 - Dec 2017        249486.0
24         2717 Ivy Wy              Austin             TX            12760   residential  Jul 2000 - Nov 2010        320484.0

In [29]:
# Drop columns with no value.
addresses2_df = addresses2_df.drop(['Address2_type'], 1)
addresses2_df

       Address2_street       Address2_city Address2_state Address2_zipcode        Address2_time  Address2_value
0          2945 Ivy St           Arlington             TX            10000  Dec 1992 - Jul 2013        755327.0
1      1752 Arnold Ave  Nashville-Davidson             TN            14142  Nov 1999 - Jul 2004        634838.0
2     722 Princeton Cr           Cleveland             OH            12124  Mar 1993 - Sep 2018        173832.0
3       784 Lincoln Dr           San Diego             CA            18119  Jul 1993 - Jan 2017        426220.0
4         2488 Yale Cr            Columbus             OH            10543  Jul 2006 - Feb 2008        756367.0
5                  NaN                 NaN            NaN              NaN                  NaN             NaN
6   1926 Broadway Blvd              Denver             CO            10402  Feb 1991 - Jun 2013        772124.0
7       2416 Ocean Ave            Columbus             OH            15982  Nov 2004 - Mar 2014        493888.0
8         1305 Yale St         San Antonio             TX            11371  Aug 2010 - Sep 2014        349831.0
9      2813 Lincoln Dr              Tucson             AZ            15272  Aug 2005 - Jun 2012        615290.0
10    3447 Broadway St             Seattle             WA            15819  Jun 2004 - Apr 2009        720902.0
11                 NaN                 NaN            NaN              NaN                  NaN             NaN
12       3343 Main Ave           Cleveland             OH            10304  May 2012 - Apr 2014        302668.0
13                 NaN                 NaN            NaN              NaN                  NaN             NaN
14       903 Arnold St             Houston             TX            16896  Sep 1994 - Aug 2010        291293.0
15     3497 Harvard St           Las Vegas             NV            14122  Jul 1995 - Feb 1996        313726.0
16     3341 Pearl Blvd           San Diego             CA            18918  Oct 1998 - Oct 2014        628176.0
17      2364 Arnold Cr              Dallas             TX            18823  Aug 2003 - Feb 2006        490584.0
18       2413 3rd Blvd              Denver             CO            14563  Jun 2006 - Aug 2010        130271.0
19   3259 Houston Blvd             El Paso             TX            16415  Sep 1999 - Jan 2006        282334.0
20          981 3rd Cr             Chicago             IL            12737  Oct 2001 - Jul 2012        717120.0
21         51 High Ave         Los Angeles             CA            16981  Jan 2003 - Apr 2018        335534.0
22     2302 Houston Dr             El Paso             TX            14451  May 2002 - Oct 2015        439750.0
23     3805 Harvard Rd              Dallas             TX            12935  Oct 2012 - Dec 2017        249486.0
24         2717 Ivy Wy              Austin             TX            12760  Jul 2000 - Nov 2010        320484.0

In [30]:
# Expand addresses_df['Address3'] into its own dataframe.
addresses3_df = addresses_df['Address3'].apply(pd.Series)

# Rename each variable in criminal1_df.
addresses3_df = addresses3_df.rename(columns=lambda x: 'Address3_' + str(x))

# View the criminal1_df data frame.
addresses3_df

       Address3_street   Address3_city Address3_state Address3_zipcode Address3_type        Address3_time  Address3_value
0      2944 Houston Dr  Virginia Beach             VA            13577   residential  Aug 2000 - Jul 2001        726917.0
1      709 Broadway St         El Paso             TX            11861   residential  Nov 2006 - Nov 2015        697499.0
2         2899 Main St            Mesa             AZ            18541   residential  Apr 2000 - Mar 2011        509934.0
3   1449 University St        Portland             OR            16112   residential  Oct 2001 - Aug 2004        610296.0
4      3827 Lincoln Cr         Seattle             WA            15884   residential  Sep 2012 - Apr 2015        318335.0
5                  NaN             NaN            NaN              NaN           NaN                  NaN             NaN
6         1827 3rd Ave     Albuquerque             NM            11561   residential  Jan 1992 - Jun 1997        601606.0
7                  NaN             NaN            NaN              NaN           NaN                  NaN             NaN
8                  NaN             NaN            NaN              NaN           NaN                  NaN             NaN
9       2673 Logan Ave       Las Vegas             NV            18015   residential  Jun 1997 - May 2007        415074.0
10      2434 Arnold Wy     Los Angeles             CA            17605   residential  Jun 2000 - Oct 2012        260311.0
11                 NaN             NaN            NaN              NaN           NaN                  NaN             NaN
12                 NaN             NaN            NaN              NaN           NaN                  NaN             NaN
13                 NaN             NaN            NaN              NaN           NaN                  NaN             NaN
14                 NaN             NaN            NaN              NaN           NaN                  NaN             NaN
15                 NaN             NaN            NaN              NaN           NaN                  NaN             NaN
16        279 Ocean Dr     Albuquerque             NM            13011   residential  Apr 2001 - Nov 2014        763519.0
17       1015 Ocean Wy        New York             NY            16752   residential  May 1992 - Feb 1995        449405.0
18     2732 Lincoln Wy         El Paso             TX            10656   residential  Apr 1999 - Oct 2017        227034.0
19                 NaN             NaN            NaN              NaN           NaN                  NaN             NaN
20                 NaN             NaN            NaN              NaN           NaN                  NaN             NaN
21      303 Harvard St     Los Angeles             CA            18608   residential  Jul 2001 - May 2006        767788.0
22     782 Lincoln Ave          Tucson             AZ            12056   residential  Feb 2001 - Dec 2008        190187.0
23          220 3rd Dr  Virginia Beach             VA            10356   residential  Aug 1992 - Aug 2007        632450.0
24        1477 High Dr         Chicago             IL            15034   residential  Jul 2009 - May 2015        343393.0

In [31]:
# Drop columns with no value.
addresses3_df = addresses3_df.drop(['Address3_type'], 1)
addresses3_df

       Address3_street   Address3_city Address3_state Address3_zipcode        Address3_time  Address3_value
0      2944 Houston Dr  Virginia Beach             VA            13577  Aug 2000 - Jul 2001        726917.0
1      709 Broadway St         El Paso             TX            11861  Nov 2006 - Nov 2015        697499.0
2         2899 Main St            Mesa             AZ            18541  Apr 2000 - Mar 2011        509934.0
3   1449 University St        Portland             OR            16112  Oct 2001 - Aug 2004        610296.0
4      3827 Lincoln Cr         Seattle             WA            15884  Sep 2012 - Apr 2015        318335.0
5                  NaN             NaN            NaN              NaN                  NaN             NaN
6         1827 3rd Ave     Albuquerque             NM            11561  Jan 1992 - Jun 1997        601606.0
7                  NaN             NaN            NaN              NaN                  NaN             NaN
8                  NaN             NaN            NaN              NaN                  NaN             NaN
9       2673 Logan Ave       Las Vegas             NV            18015  Jun 1997 - May 2007        415074.0
10      2434 Arnold Wy     Los Angeles             CA            17605  Jun 2000 - Oct 2012        260311.0
11                 NaN             NaN            NaN              NaN                  NaN             NaN
12                 NaN             NaN            NaN              NaN                  NaN             NaN
13                 NaN             NaN            NaN              NaN                  NaN             NaN
14                 NaN             NaN            NaN              NaN                  NaN             NaN
15                 NaN             NaN            NaN              NaN                  NaN             NaN
16        279 Ocean Dr     Albuquerque             NM            13011  Apr 2001 - Nov 2014        763519.0
17       1015 Ocean Wy        New York             NY            16752  May 1992 - Feb 1995        449405.0
18     2732 Lincoln Wy         El Paso             TX            10656  Apr 1999 - Oct 2017        227034.0
19                 NaN             NaN            NaN              NaN                  NaN             NaN
20                 NaN             NaN            NaN              NaN                  NaN             NaN
21      303 Harvard St     Los Angeles             CA            18608  Jul 2001 - May 2006        767788.0
22     782 Lincoln Ave          Tucson             AZ            12056  Feb 2001 - Dec 2008        190187.0
23          220 3rd Dr  Virginia Beach             VA            10356  Aug 1992 - Aug 2007        632450.0
24        1477 High Dr         Chicago             IL            15034  Jul 2009 - May 2015        343393.0

In [32]:
# Expand addresses_df['Address4'] into its own dataframe.
addresses4_df = addresses_df['Address4'].apply(pd.Series)

# Rename each variable in criminal1_df.
addresses4_df = addresses4_df.rename(columns=lambda x: 'Address4_' + str(x))

# View the criminal1_df data frame.
addresses4_df

         Address4_street       Address4_city Address4_state Address4_zipcode Address4_type        Address4_time  Address4_value
0         455 Lincoln Rd             Detroit             MI            10023   residential  Sep 2010 - Feb 2012        576927.0
1                    NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
2                    NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
3         1362 Main Blvd              Boston             MA            14665   residential  May 2006 - May 2016        760377.0
4             520 3rd Dr  Nashville-Davidson             TN            10985   residential  Mar 1999 - Oct 2017        228835.0
5                    NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
6            3749 3rd Dr             Phoenix             AZ            16395   residential  Jan 2001 - Jul 2007        759163.0
7                    NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
8                    NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
9                    NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
10  3153 University Blvd        Jacksonville             FL            12096   residential  Oct 2006 - Mar 2011        696276.0
11                   NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
12                   NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
13                   NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
14                   NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
15                   NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
16           46 High Ave          CO Springs             CO            10425   residential  Sep 1992 - Mar 2014        264644.0
17          1182 Yale Wy           Cleveland             OH            18685   residential  Dec 2017 - Jul 2018        735110.0
18          222 Pearl Wy               Omaha             NB            16529   residential  Oct 2014 - Mar 2018        766686.0
19                   NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
20                   NaN                 NaN            NaN              NaN           NaN                  NaN             NaN
21         2318 3rd Blvd          Long Beach             CA            16408   residential  Aug 1993 - Apr 2010        167004.0
22          1016 3rd Ave            Columbus             OH            10558   residential  Oct 2001 - Apr 2018        251119.0
23          2706 Main Cr         Los Angeles             CA            10918   residential  Jun 2009 - Feb 2014        311882.0
24           877 Yale Wy           San Diego             CA            13996   residential  Nov 2013 - Apr 2014        764361.0

In [33]:
# Drop columns with no value.
addresses4_df = addresses4_df.drop(['Address4_type'], 1)
addresses4_df

         Address4_street       Address4_city Address4_state Address4_zipcode        Address4_time  Address4_value
0         455 Lincoln Rd             Detroit             MI            10023  Sep 2010 - Feb 2012        576927.0
1                    NaN                 NaN            NaN              NaN                  NaN             NaN
2                    NaN                 NaN            NaN              NaN                  NaN             NaN
3         1362 Main Blvd              Boston             MA            14665  May 2006 - May 2016        760377.0
4             520 3rd Dr  Nashville-Davidson             TN            10985  Mar 1999 - Oct 2017        228835.0
5                    NaN                 NaN            NaN              NaN                  NaN             NaN
6            3749 3rd Dr             Phoenix             AZ            16395  Jan 2001 - Jul 2007        759163.0
7                    NaN                 NaN            NaN              NaN                  NaN             NaN
8                    NaN                 NaN            NaN              NaN                  NaN             NaN
9                    NaN                 NaN            NaN              NaN                  NaN             NaN
10  3153 University Blvd        Jacksonville             FL            12096  Oct 2006 - Mar 2011        696276.0
11                   NaN                 NaN            NaN              NaN                  NaN             NaN
12                   NaN                 NaN            NaN              NaN                  NaN             NaN
13                   NaN                 NaN            NaN              NaN                  NaN             NaN
14                   NaN                 NaN            NaN              NaN                  NaN             NaN
15                   NaN                 NaN            NaN              NaN                  NaN             NaN
16           46 High Ave          CO Springs             CO            10425  Sep 1992 - Mar 2014        264644.0
17          1182 Yale Wy           Cleveland             OH            18685  Dec 2017 - Jul 2018        735110.0
18          222 Pearl Wy               Omaha             NB            16529  Oct 2014 - Mar 2018        766686.0
19                   NaN                 NaN            NaN              NaN                  NaN             NaN
20                   NaN                 NaN            NaN              NaN                  NaN             NaN
21         2318 3rd Blvd          Long Beach             CA            16408  Aug 1993 - Apr 2010        167004.0
22          1016 3rd Ave            Columbus             OH            10558  Oct 2001 - Apr 2018        251119.0
23          2706 Main Cr         Los Angeles             CA            10918  Jun 2009 - Feb 2014        311882.0
24           877 Yale Wy           San Diego             CA            13996  Nov 2013 - Apr 2014        764361.0

In [34]:
# Expand addresses_df['Address5'] into its own dataframe.
addresses5_df = addresses_df['Address5'].apply(pd.Series)

# Rename each variable in criminal1_df.
addresses5_df = addresses5_df.rename(columns=lambda x: 'Address5_' + str(x))

# View the criminal1_df data frame.
addresses5_df

    Address5_street Address5_city Address5_state Address5_zipcode Address5_type        Address5_time  Address5_value
0    953 Harvard Dr  Jacksonville             FL            18717   residential  Sep 1996 - Apr 1998        729404.0
1               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
2               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
3               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
4               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
5               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
6               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
7               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
8               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
9               NaN           NaN            NaN              NaN           NaN                  NaN             NaN
10  1216 Houston St       Oakland             CA            15539   residential  Aug 2000 - Apr 2003        497348.0
11              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
12              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
13              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
14              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
15              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
16    3929 Ocean Dr     Las Vegas             NV            10786   residential  Nov 2006 - Jun 2015        487613.0
17      1536 3rd Wy   Kansas City             MS            15801   residential  Oct 2018 - Jan 2019        267717.0
18              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
19              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
20              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
21              NaN           NaN            NaN              NaN           NaN                  NaN             NaN
22  2382 Harvard St      Portland             OR            15433   residential  May 2012 - Apr 2017        766187.0
23   3185 Yale Blvd   Minneapolis             MN            14776   residential  Mar 1994 - Feb 2013        367969.0
24              NaN           NaN            NaN              NaN           NaN                  NaN             NaN

In [35]:
# Drop columns with no value.
addresses5_df = addresses5_df.drop(['Address5_type'], 1)
addresses5_df

    Address5_street Address5_city Address5_state Address5_zipcode        Address5_time  Address5_value
0    953 Harvard Dr  Jacksonville             FL            18717  Sep 1996 - Apr 1998        729404.0
1               NaN           NaN            NaN              NaN                  NaN             NaN
2               NaN           NaN            NaN              NaN                  NaN             NaN
3               NaN           NaN            NaN              NaN                  NaN             NaN
4               NaN           NaN            NaN              NaN                  NaN             NaN
5               NaN           NaN            NaN              NaN                  NaN             NaN
6               NaN           NaN            NaN              NaN                  NaN             NaN
7               NaN           NaN            NaN              NaN                  NaN             NaN
8               NaN           NaN            NaN              NaN                  NaN             NaN
9               NaN           NaN            NaN              NaN                  NaN             NaN
10  1216 Houston St       Oakland             CA            15539  Aug 2000 - Apr 2003        497348.0
11              NaN           NaN            NaN              NaN                  NaN             NaN
12              NaN           NaN            NaN              NaN                  NaN             NaN
13              NaN           NaN            NaN              NaN                  NaN             NaN
14              NaN           NaN            NaN              NaN                  NaN             NaN
15              NaN           NaN            NaN              NaN                  NaN             NaN
16    3929 Ocean Dr     Las Vegas             NV            10786  Nov 2006 - Jun 2015        487613.0
17      1536 3rd Wy   Kansas City             MS            15801  Oct 2018 - Jan 2019        267717.0
18              NaN           NaN            NaN              NaN                  NaN             NaN
19              NaN           NaN            NaN              NaN                  NaN             NaN
20              NaN           NaN            NaN              NaN                  NaN             NaN
21              NaN           NaN            NaN              NaN                  NaN             NaN
22  2382 Harvard St      Portland             OR            15433  May 2012 - Apr 2017        766187.0
23   3185 Yale Blvd   Minneapolis             MN            14776  Mar 1994 - Feb 2013        367969.0
24              NaN           NaN            NaN              NaN                  NaN             NaN

In [36]:
# Expand addresses_df['Address6'] into its own dataframe.
addresses6_df = addresses_df['Address6'].apply(pd.Series)

# Rename each variable in criminal1_df.
addresses6_df = addresses6_df.rename(columns=lambda x: 'Address6_' + str(x))

# View the criminal1_df data frame.
addresses6_df

   Address6_street  Address6_city Address6_state Address6_zipcode Address6_type        Address6_time  Address6_value
0    2240 Main Ave  Oklahoma City             OK            17531   residential  Jan 2018 - Oct 2019        322085.0
1              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
2              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
3              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
4              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
5              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
6              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
7              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
8              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
9              NaN            NaN            NaN              NaN           NaN                  NaN             NaN
10             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
11             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
12             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
13             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
14             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
15             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
16  1231 Main Blvd       San Jose             CA            13594   residential  May 2008 - Apr 2013        469025.0
17    282 Ocean Cr        Raleigh             NC            15393   residential  May 2016 - Oct 2017        365009.0
18             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
19             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
20             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
21             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
22             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
23             NaN            NaN            NaN              NaN           NaN                  NaN             NaN
24             NaN            NaN            NaN              NaN           NaN                  NaN             NaN

In [37]:
# Drop columns with no value.
addresses6_df = addresses6_df.drop(['Address6_type'], 1)
addresses6_df

   Address6_street  Address6_city Address6_state Address6_zipcode        Address6_time  Address6_value
0    2240 Main Ave  Oklahoma City             OK            17531  Jan 2018 - Oct 2019        322085.0
1              NaN            NaN            NaN              NaN                  NaN             NaN
2              NaN            NaN            NaN              NaN                  NaN             NaN
3              NaN            NaN            NaN              NaN                  NaN             NaN
4              NaN            NaN            NaN              NaN                  NaN             NaN
5              NaN            NaN            NaN              NaN                  NaN             NaN
6              NaN            NaN            NaN              NaN                  NaN             NaN
7              NaN            NaN            NaN              NaN                  NaN             NaN
8              NaN            NaN            NaN              NaN                  NaN             NaN
9              NaN            NaN            NaN              NaN                  NaN             NaN
10             NaN            NaN            NaN              NaN                  NaN             NaN
11             NaN            NaN            NaN              NaN                  NaN             NaN
12             NaN            NaN            NaN              NaN                  NaN             NaN
13             NaN            NaN            NaN              NaN                  NaN             NaN
14             NaN            NaN            NaN              NaN                  NaN             NaN
15             NaN            NaN            NaN              NaN                  NaN             NaN
16  1231 Main Blvd       San Jose             CA            13594  May 2008 - Apr 2013        469025.0
17    282 Ocean Cr        Raleigh             NC            15393  May 2016 - Oct 2017        365009.0
18             NaN            NaN            NaN              NaN                  NaN             NaN
19             NaN            NaN            NaN              NaN                  NaN             NaN
20             NaN            NaN            NaN              NaN                  NaN             NaN
21             NaN            NaN            NaN              NaN                  NaN             NaN
22             NaN            NaN            NaN              NaN                  NaN             NaN
23             NaN            NaN            NaN              NaN                  NaN             NaN
24             NaN            NaN            NaN              NaN                  NaN             NaN

In [38]:
# Let's expand the 'phone_numbers' column.
phone_numbers_df = pd.DataFrame(list(df['phone_numbers']))
phone_numbers_df

             0           1           2
0         None        None        None
1   3992985958        None        None
2   8198560471        None        None
3         None        None        None
4   9303622898        None        None
5   4744051287  7707375512        None
6   2203990316  6696876347        None
7   1042385126  9773094179  9038015587
8         None        None        None
9   2585774298  2518275913  2923658286
10        None        None        None
11  3675797505  4471758697        None
12  4126234603  5878678239  2856080143
13        None        None        None
14  7817945004  2760445414        None
15        None        None        None
16  2909231734  2216800572  4507974918
17        None        None        None
18        None        None        None
19        None        None        None
20  9236892139  6122873618        None
21  3835419037        None        None
22  2975186894  1917553273  1076716041
23  2471936813        None        None
24        None        None        None

In [39]:
# Let's rename the columns.
phone_numbers_df.rename(columns={0: 'Phone1', 1: 'Phone2', 2:
                            'Phone3'}, inplace='True')
phone_numbers_df

        Phone1      Phone2      Phone3
0         None        None        None
1   3992985958        None        None
2   8198560471        None        None
3         None        None        None
4   9303622898        None        None
5   4744051287  7707375512        None
6   2203990316  6696876347        None
7   1042385126  9773094179  9038015587
8         None        None        None
9   2585774298  2518275913  2923658286
10        None        None        None
11  3675797505  4471758697        None
12  4126234603  5878678239  2856080143
13        None        None        None
14  7817945004  2760445414        None
15        None        None        None
16  2909231734  2216800572  4507974918
17        None        None        None
18        None        None        None
19        None        None        None
20  9236892139  6122873618        None
21  3835419037        None        None
22  2975186894  1917553273  1076716041
23  2471936813        None        None
24        None        None        None

In [40]:
# Let's expand the 'emails' column.
emails_df = pd.DataFrame(list(df['emails']))
emails_df

                       0                       1                       2
0      ma176@outlook.com        well53@gmail.com    axwel145@hotmail.com
1       akat34@gmail.com       akath63@yahoo.com  akathar108@hotmail.com
2         m171@yahoo.com                    None                    None
3   ismaxwe161@gmail.com                    None                    None
4         br63@gmail.com          j173@yahoo.com                    None
5         ame8@gmail.com                    None                    None
6     amyk97@outlook.com       ykath33@yahoo.com    tharin13@hotmail.com
7   imonp121@outlook.com        onpa89@yahoo.com      mon174@hotmail.com
8       emma60@gmail.com    maemm156@outlook.com     mmaem57@hotmail.com
9          i66@gmail.com      ianp18@hotmail.com     ianpau104@yahoo.com
10      l130@outlook.com                    None                    None
11    makat188@gmail.com  tharine171@outlook.com           m24@yahoo.com
12    pau136@outlook.com                    None                    None
13   majan91@outlook.com        an50@hotmail.com                    None
14    ala144@hotmail.com     ndanie176@gmail.com                    None
15       so183@yahoo.com     asonmi184@gmail.com                    None
16    ieni39@hotmail.com        ie94@outlook.com                    None
17        gg90@gmail.com                    None                    None
18      nala45@yahoo.com                    None                    None
19      ja21@hotmail.com        o136@outlook.com                    None
20        i105@yahoo.com      kat133@outlook.com                    None
21      k190@outlook.com  gracekat81@hotmail.com                    None
22    ces113@outlook.com    acesa177@hotmail.com                    None
23     al161@hotmail.com        nsi106@yahoo.com                    None
24    nete95@outlook.com     temma46@hotmail.com                    None

In [41]:
# Let's rename the columns.
emails_df.rename(columns={0: 'Emails1', 1: 'Emails2', 2:
                            'Emails3'}, inplace='True')
emails_df

                 Emails1                 Emails2                 Emails3
0      ma176@outlook.com        well53@gmail.com    axwel145@hotmail.com
1       akat34@gmail.com       akath63@yahoo.com  akathar108@hotmail.com
2         m171@yahoo.com                    None                    None
3   ismaxwe161@gmail.com                    None                    None
4         br63@gmail.com          j173@yahoo.com                    None
5         ame8@gmail.com                    None                    None
6     amyk97@outlook.com       ykath33@yahoo.com    tharin13@hotmail.com
7   imonp121@outlook.com        onpa89@yahoo.com      mon174@hotmail.com
8       emma60@gmail.com    maemm156@outlook.com     mmaem57@hotmail.com
9          i66@gmail.com      ianp18@hotmail.com     ianpau104@yahoo.com
10      l130@outlook.com                    None                    None
11    makat188@gmail.com  tharine171@outlook.com           m24@yahoo.com
12    pau136@outlook.com                    None                    None
13   majan91@outlook.com        an50@hotmail.com                    None
14    ala144@hotmail.com     ndanie176@gmail.com                    None
15       so183@yahoo.com     asonmi184@gmail.com                    None
16    ieni39@hotmail.com        ie94@outlook.com                    None
17        gg90@gmail.com                    None                    None
18      nala45@yahoo.com                    None                    None
19      ja21@hotmail.com        o136@outlook.com                    None
20        i105@yahoo.com      kat133@outlook.com                    None
21      k190@outlook.com  gracekat81@hotmail.com                    None
22    ces113@outlook.com    acesa177@hotmail.com                    None
23     al161@hotmail.com        nsi106@yahoo.com                    None
24    nete95@outlook.com     temma46@hotmail.com                    None

In [42]:
# Let's expand the 'social_media' column.
social_media_df = pd.DataFrame(list(df['social_media']))
social_media_df

                                                    0                                                  1
0   {'name': 'instagram', 'handle': 'https://www.i...  {'name': 'facebook', 'handle': 'https://www.fa...
1   {'name': 'github', 'handle': 'https://www.gith...                                               None
2   {'name': 'twitter', 'handle': 'https://www.twi...                                               None
3   {'name': 'github', 'handle': 'https://www.gith...                                               None
4   {'name': 'linkedin', 'handle': 'https://www.li...                                               None
5   {'name': 'linkedin', 'handle': 'https://www.li...                                               None
6                                                None                                               None
7   {'name': 'instagram', 'handle': 'https://www.i...                                               None
8   {'name': 'linkedin', 'handle': 'https://www.li...                                               None
9                                                None                                               None
10  {'name': 'facebook', 'handle': 'https://www.fa...  {'name': 'linkedin', 'handle': 'https://www.li...
11                                               None                                               None
12  {'name': 'linkedin', 'handle': 'https://www.li...  {'name': 'twitter', 'handle': 'https://www.twi...
13                                               None                                               None
14  {'name': 'facebook', 'handle': 'https://www.fa...  {'name': 'linkedin', 'handle': 'https://www.li...
15  {'name': 'linkedin', 'handle': 'https://www.li...  {'name': 'github', 'handle': 'https://www.gith...
16  {'name': 'twitter', 'handle': 'https://www.twi...                                               None
17  {'name': 'linkedin', 'handle': 'https://www.li...                                               None
18  {'name': 'facebook', 'handle': 'https://www.fa...                                               None
19                                               None                                               None
20  {'name': 'google', 'handle': 'https://www.goog...                                               None
21  {'name': 'linkedin', 'handle': 'https://www.li...                                               None
22  {'name': 'instagram', 'handle': 'https://www.i...                                               None
23  {'name': 'github', 'handle': 'https://www.gith...  {'name': 'instagram', 'handle': 'https://www.i...
24  {'name': 'github', 'handle': 'https://www.gith...  {'name': 'facebook', 'handle': 'https://www.fa...

In [43]:
# Let's rename the column.
social_media_df.rename(columns={0: 'Media1', 1: 'Media2'}, inplace='True')
social_media_df

                                               Media1                                             Media2
0   {'name': 'instagram', 'handle': 'https://www.i...  {'name': 'facebook', 'handle': 'https://www.fa...
1   {'name': 'github', 'handle': 'https://www.gith...                                               None
2   {'name': 'twitter', 'handle': 'https://www.twi...                                               None
3   {'name': 'github', 'handle': 'https://www.gith...                                               None
4   {'name': 'linkedin', 'handle': 'https://www.li...                                               None
5   {'name': 'linkedin', 'handle': 'https://www.li...                                               None
6                                                None                                               None
7   {'name': 'instagram', 'handle': 'https://www.i...                                               None
8   {'name': 'linkedin', 'handle': 'https://www.li...                                               None
9                                                None                                               None
10  {'name': 'facebook', 'handle': 'https://www.fa...  {'name': 'linkedin', 'handle': 'https://www.li...
11                                               None                                               None
12  {'name': 'linkedin', 'handle': 'https://www.li...  {'name': 'twitter', 'handle': 'https://www.twi...
13                                               None                                               None
14  {'name': 'facebook', 'handle': 'https://www.fa...  {'name': 'linkedin', 'handle': 'https://www.li...
15  {'name': 'linkedin', 'handle': 'https://www.li...  {'name': 'github', 'handle': 'https://www.gith...
16  {'name': 'twitter', 'handle': 'https://www.twi...                                               None
17  {'name': 'linkedin', 'handle': 'https://www.li...                                               None
18  {'name': 'facebook', 'handle': 'https://www.fa...                                               None
19                                               None                                               None
20  {'name': 'google', 'handle': 'https://www.goog...                                               None
21  {'name': 'linkedin', 'handle': 'https://www.li...                                               None
22  {'name': 'instagram', 'handle': 'https://www.i...                                               None
23  {'name': 'github', 'handle': 'https://www.gith...  {'name': 'instagram', 'handle': 'https://www.i...
24  {'name': 'github', 'handle': 'https://www.gith...  {'name': 'facebook', 'handle': 'https://www.fa...

In [44]:
# Expand social_media_df['Media1'] into its own dataframe.
social_media1_df = social_media_df['Media1'].apply(pd.Series)

# Rename each variable in criminal1_df.
social_media1_df = social_media1_df.rename(columns=lambda x: 'Media1_' + str(x))

# View the criminal1_df data frame.
social_media1_df

   Media1_name                            Media1_handle
0    instagram         https://www.instagram.com/ellJa9
1       github           https://www.github.com/thar131
2      twitter            https://www.twitter.com/mm187
3       github         https://www.github.com/Maxwel187
4     linkedin        https://www.linkedin.com/eBria149
5     linkedin          https://www.linkedin.com/ssaTh6
6          NaN                                      NaN
7    instagram           https://www.instagram.com/onP7
8     linkedin             https://www.linkedin.com/a64
9          NaN                                      NaN
10    facebook       https://www.facebook.com/rianTh106
11         NaN                                      NaN
12    linkedin        https://www.linkedin.com/lJohns31
13         NaN                                      NaN
14    facebook          https://www.facebook.com/lanD92
15    linkedin        https://www.linkedin.com/Micha166
16     twitter            https://www.twitter.com/Mag54
17    linkedin     https://www.linkedin.com/eSummers163
18    facebook       https://www.facebook.com/monAla107
19         NaN                                      NaN
20      google        https://www.google.com/tharine115
21    linkedin  https://www.linkedin.com/rineSummers179
22   instagram       https://www.instagram.com/eSarah21
23      github          https://www.github.com/imonBe64
24      github            https://www.github.com/mmaP95

In [45]:
# Expand social_media_df['Media2'] into its own dataframe.
social_media2_df = social_media_df['Media2'].apply(pd.Series)

# Rename each variable in criminal1_df.
social_media2_df = social_media2_df.rename(columns=lambda x: 'Media2_' + str(x))

# View the criminal1_df data frame.
social_media2_df

   Media2_name                           Media2_handle
0     facebook         https://www.facebook.com/lJas47
1          NaN                                     NaN
2          NaN                                     NaN
3          NaN                                     NaN
4          NaN                                     NaN
5          NaN                                     NaN
6          NaN                                     NaN
7          NaN                                     NaN
8          NaN                                     NaN
9          NaN                                     NaN
10    linkedin  https://www.linkedin.com/lBrianThom198
11         NaN                                     NaN
12     twitter         https://www.twitter.com/lanPa79
13         NaN                                     NaN
14    linkedin            https://www.linkedin.com/n81
15      github         https://www.github.com/elPat171
16         NaN                                     NaN
17         NaN                                     NaN
18         NaN                                     NaN
19         NaN                                     NaN
20         NaN                                     NaN
21         NaN                                     NaN
22         NaN                                     NaN
23   instagram     https://www.instagram.com/SimonB145
24    facebook          https://www.facebook.com/ma149

In [46]:
# Let's expand the 'properties' column.
properties_df = pd.DataFrame(list(df['properties']))
properties_df

                                                    0                                                  1
0   {'muni_name': 'Dallas', 'state_abbr': 'TX', 'c...  {'muni_name': 'Virginia Beach', 'state_abbr': ...
1                                                None                                               None
2   {'muni_name': 'Oakland', 'state_abbr': 'CA', '...  {'muni_name': 'Nashville-Davidson', 'state_abb...
3   {'muni_name': 'Denver', 'state_abbr': 'CO', 'c...  {'muni_name': 'New York', 'state_abbr': 'NY', ...
4   {'muni_name': 'Austin', 'state_abbr': 'TX', 'c...  {'muni_name': 'Sacramento', 'state_abbr': 'CA'...
5                                                None                                               None
6   {'muni_name': 'Indianapolis', 'state_abbr': 'I...                                               None
7   {'muni_name': 'Atlanta', 'state_abbr': 'GA', '...                                               None
8   {'muni_name': 'San Antonio', 'state_abbr': 'TX...  {'muni_name': 'Omaha', 'state_abbr': 'NB', 'ce...
9   {'muni_name': 'Tucson', 'state_abbr': 'AZ', 'c...                                               None
10  {'muni_name': 'Oakland', 'state_abbr': 'CA', '...  {'muni_name': 'Oakland', 'state_abbr': 'CA', '...
11  {'muni_name': 'Virginia Beach', 'state_abbr': ...  {'muni_name': 'Minneapolis', 'state_abbr': 'MN...
12  {'muni_name': 'Cleveland', 'state_abbr': 'OH',...  {'muni_name': 'Seattle', 'state_abbr': 'WA', '...
13  {'muni_name': 'Phoenix', 'state_abbr': 'AZ', '...  {'muni_name': 'Denver', 'state_abbr': 'CO', 'c...
14  {'muni_name': 'New York', 'state_abbr': 'NY', ...  {'muni_name': 'Houston', 'state_abbr': 'TX', '...
15  {'muni_name': 'El Paso', 'state_abbr': 'TX', '...  {'muni_name': 'Cleveland', 'state_abbr': 'OH',...
16  {'muni_name': 'San Jose', 'state_abbr': 'CA', ...  {'muni_name': 'Philadelphia', 'state_abbr': 'P...
17  {'muni_name': 'Raleigh', 'state_abbr': 'NC', '...                                               None
18  {'muni_name': 'El Paso', 'state_abbr': 'TX', '...  {'muni_name': 'Columbus', 'state_abbr': 'OH', ...
19                                               None                                               None
20                                               None                                               None
21  {'muni_name': 'Los Angeles', 'state_abbr': 'CA...                                               None
22                                               None                                               None
23                                               None                                               None
24  {'muni_name': 'Cleveland', 'state_abbr': 'OH',...  {'muni_name': 'Chicago', 'state_abbr': 'IL', '...

In [47]:
# Let's rename the columns.
properties_df.rename(columns={0: 'Property1', 1: 'Property2'}, inplace='True')
properties_df

                                            Property1                                          Property2
0   {'muni_name': 'Dallas', 'state_abbr': 'TX', 'c...  {'muni_name': 'Virginia Beach', 'state_abbr': ...
1                                                None                                               None
2   {'muni_name': 'Oakland', 'state_abbr': 'CA', '...  {'muni_name': 'Nashville-Davidson', 'state_abb...
3   {'muni_name': 'Denver', 'state_abbr': 'CO', 'c...  {'muni_name': 'New York', 'state_abbr': 'NY', ...
4   {'muni_name': 'Austin', 'state_abbr': 'TX', 'c...  {'muni_name': 'Sacramento', 'state_abbr': 'CA'...
5                                                None                                               None
6   {'muni_name': 'Indianapolis', 'state_abbr': 'I...                                               None
7   {'muni_name': 'Atlanta', 'state_abbr': 'GA', '...                                               None
8   {'muni_name': 'San Antonio', 'state_abbr': 'TX...  {'muni_name': 'Omaha', 'state_abbr': 'NB', 'ce...
9   {'muni_name': 'Tucson', 'state_abbr': 'AZ', 'c...                                               None
10  {'muni_name': 'Oakland', 'state_abbr': 'CA', '...  {'muni_name': 'Oakland', 'state_abbr': 'CA', '...
11  {'muni_name': 'Virginia Beach', 'state_abbr': ...  {'muni_name': 'Minneapolis', 'state_abbr': 'MN...
12  {'muni_name': 'Cleveland', 'state_abbr': 'OH',...  {'muni_name': 'Seattle', 'state_abbr': 'WA', '...
13  {'muni_name': 'Phoenix', 'state_abbr': 'AZ', '...  {'muni_name': 'Denver', 'state_abbr': 'CO', 'c...
14  {'muni_name': 'New York', 'state_abbr': 'NY', ...  {'muni_name': 'Houston', 'state_abbr': 'TX', '...
15  {'muni_name': 'El Paso', 'state_abbr': 'TX', '...  {'muni_name': 'Cleveland', 'state_abbr': 'OH',...
16  {'muni_name': 'San Jose', 'state_abbr': 'CA', ...  {'muni_name': 'Philadelphia', 'state_abbr': 'P...
17  {'muni_name': 'Raleigh', 'state_abbr': 'NC', '...                                               None
18  {'muni_name': 'El Paso', 'state_abbr': 'TX', '...  {'muni_name': 'Columbus', 'state_abbr': 'OH', ...
19                                               None                                               None
20                                               None                                               None
21  {'muni_name': 'Los Angeles', 'state_abbr': 'CA...                                               None
22                                               None                                               None
23                                               None                                               None
24  {'muni_name': 'Cleveland', 'state_abbr': 'OH',...  {'muni_name': 'Chicago', 'state_abbr': 'IL', '...

In [48]:
# Expand properties_df['Property1'] into its own dataframe.
properties1_df = properties_df['Property1'].apply(pd.Series)

# Rename each variable in criminal1_df.
properties1_df = properties1_df.rename(columns=lambda x: 'Property1_' + str(x))

# View the criminal1_df data frame.
properties1_df

   Property1_muni_name Property1_state_abbr Property1_census_zip   Property1_owner  Property1_addr_street_type Property1_addr_number Property1_addr_street_name  Property1_addr_street_prefix Property1_addr_street_suffix Property1_trans_date  Property1_sale_price
0               Dallas                   TX                18661  THOMPSON MAXWELL                         NaN                  3642                      Logan                           NaN                           Dr           2005-08-24              889488.0
1                  NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
2              Oakland                   CA                10984      JOHNSON EMMA                         NaN                  1109                   Broadway                           NaN                         Blvd           2002-07-20              207149.0
3               Denver                   CO                14737       CLARK BORIS                         NaN                  1689                       Main                           NaN                           Rd           2012-01-26              158074.0
4               Austin                   TX                11380        LIBBY JAKE                         NaN                  3924                      Logan                           NaN                           Dr           2005-06-02              702785.0
5                  NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
6         Indianapolis                   IN                13350         CLARK AMY                         NaN                  3822                    Harvard                           NaN                         Blvd           2007-01-13              279566.0
7              Atlanta                   GA                12474     JOHNSON SIMON                         NaN                  2279                      Pearl                           NaN                           St           2011-01-13              100829.0
8          San Antonio                   TX                11371         ROSS EMMA                         NaN                  1305                       Yale                           NaN                           St           1993-02-08              193856.0
9               Tucson                   AZ                15272       CLARK BRIAN                         NaN                  2813                    Lincoln                           NaN                           Dr           1990-02-04              633632.0
10             Oakland                   CA                15539     THOMPSON PAUL                         NaN                  1216                    Houston                           NaN                           St           2005-02-21              100843.0
11      Virginia Beach                   VA                13801     ANDERSON EMMA                         NaN                  1413                     Arnold                           NaN                           Dr           2001-08-26              185132.0
12           Cleveland                   OH                10304      JOHNSON ALAN                         NaN                  3343                       Main                           NaN                          Ave           2000-11-18              537063.0
13             Phoenix                   AZ                18838      SUMMERS EMMA                         NaN                   402                      Ocean                           NaN                          Ave           2012-04-19              408396.0
14            New York                   NY                12851        CLARK ALAN                         NaN                   240                      Pearl                           NaN                           Rd           1991-06-19             1029508.0
15             El Paso                   TX                11484   PATTERSON JASON                         NaN                  1312                    Houston                           NaN                           Wy           2010-01-16              217831.0
16            San Jose                   CA                13594       BELL MAGGIE                         NaN                  1231                       Main                           NaN                         Blvd           1997-04-13              628423.0
17             Raleigh                   NC                15393       SUMMERS AMY                         NaN                   282                      Ocean                           NaN                           Cr           1991-06-23              803494.0
18             El Paso                   TX                10656   PATTERSON SIMON                         NaN                  2732                    Lincoln                           NaN                           Wy           2010-09-01              472600.0
19                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
20                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
21         Los Angeles                   CA                18608     SUMMERS GRACE                         NaN                   303                    Harvard                           NaN                           St           1996-10-18              316209.0
22                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
23                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
24           Cleveland                   OH                17902   PATTERSON JANET                         NaN                   231                      Ocean                           NaN                          Ave           2000-07-09              915308.0

In [49]:
# Drop columns with no value.
properties1_df = properties1_df.drop(['Property1_addr_street_type',
                                      'Property1_addr_street_prefix'], 1)
properties1_df

   Property1_muni_name Property1_state_abbr Property1_census_zip   Property1_owner Property1_addr_number Property1_addr_street_name Property1_addr_street_suffix Property1_trans_date  Property1_sale_price
0               Dallas                   TX                18661  THOMPSON MAXWELL                  3642                      Logan                           Dr           2005-08-24              889488.0
1                  NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
2              Oakland                   CA                10984      JOHNSON EMMA                  1109                   Broadway                         Blvd           2002-07-20              207149.0
3               Denver                   CO                14737       CLARK BORIS                  1689                       Main                           Rd           2012-01-26              158074.0
4               Austin                   TX                11380        LIBBY JAKE                  3924                      Logan                           Dr           2005-06-02              702785.0
5                  NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
6         Indianapolis                   IN                13350         CLARK AMY                  3822                    Harvard                         Blvd           2007-01-13              279566.0
7              Atlanta                   GA                12474     JOHNSON SIMON                  2279                      Pearl                           St           2011-01-13              100829.0
8          San Antonio                   TX                11371         ROSS EMMA                  1305                       Yale                           St           1993-02-08              193856.0
9               Tucson                   AZ                15272       CLARK BRIAN                  2813                    Lincoln                           Dr           1990-02-04              633632.0
10             Oakland                   CA                15539     THOMPSON PAUL                  1216                    Houston                           St           2005-02-21              100843.0
11      Virginia Beach                   VA                13801     ANDERSON EMMA                  1413                     Arnold                           Dr           2001-08-26              185132.0
12           Cleveland                   OH                10304      JOHNSON ALAN                  3343                       Main                          Ave           2000-11-18              537063.0
13             Phoenix                   AZ                18838      SUMMERS EMMA                   402                      Ocean                          Ave           2012-04-19              408396.0
14            New York                   NY                12851        CLARK ALAN                   240                      Pearl                           Rd           1991-06-19             1029508.0
15             El Paso                   TX                11484   PATTERSON JASON                  1312                    Houston                           Wy           2010-01-16              217831.0
16            San Jose                   CA                13594       BELL MAGGIE                  1231                       Main                         Blvd           1997-04-13              628423.0
17             Raleigh                   NC                15393       SUMMERS AMY                   282                      Ocean                           Cr           1991-06-23              803494.0
18             El Paso                   TX                10656   PATTERSON SIMON                  2732                    Lincoln                           Wy           2010-09-01              472600.0
19                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
20                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
21         Los Angeles                   CA                18608     SUMMERS GRACE                   303                    Harvard                           St           1996-10-18              316209.0
22                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
23                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
24           Cleveland                   OH                17902   PATTERSON JANET                   231                      Ocean                          Ave           2000-07-09              915308.0

In [50]:
# Expand properties_df['Property2'] into its own dataframe.
properties2_df = properties_df['Property2'].apply(pd.Series)

# Rename each variable in criminal1_df.
properties2_df = properties2_df.rename(columns=lambda x: 'Property2_' + str(x))

# View the criminal1_df data frame.
properties2_df

   Property2_muni_name Property2_state_abbr Property2_census_zip   Property2_owner  Property2_addr_street_type Property2_addr_number Property2_addr_street_name  Property2_addr_street_prefix Property2_addr_street_suffix Property2_trans_date  Property2_sale_price
0       Virginia Beach                   VA                13577  THOMPSON MAXWELL                         NaN                  2944                    Houston                           NaN                           Dr           2001-11-03              377375.0
1                  NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
2   Nashville-Davidson                   TN                12996      JOHNSON EMMA                         NaN                  3859                       Main                           NaN                           Cr           2013-05-11               85245.0
3             New York                   NY                11004       CLARK BORIS                         NaN                  3655                 University                           NaN                         Blvd           2002-02-18              225324.0
4           Sacramento                   CA                15056        LIBBY JAKE                         NaN                  1465                     Arnold                           NaN                          Ave           2017-12-01              255708.0
5                  NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
6                  NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
7                  NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
8                Omaha                   NB                14490         ROSS EMMA                         NaN                  1111                  Princeton                           NaN                           Dr           1994-01-26              798716.0
9                  NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
10             Oakland                   CA                15539     THOMPSON PAUL                         NaN                  1216                    Houston                           NaN                           St           2003-01-12              101320.0
11         Minneapolis                   MN                10984     ANDERSON EMMA                         NaN                  3362                    Lincoln                           NaN                          Ave           2004-03-23              543706.0
12             Seattle                   WA                16219      JOHNSON ALAN                         NaN                  2943                    Houston                           NaN                           Cr           2010-10-24              258130.0
13              Denver                   CO                14235      SUMMERS EMMA                         NaN                  2721                       Yale                           NaN                         Blvd           1998-03-11              811139.0
14             Houston                   TX                16896        CLARK ALAN                         NaN                   903                     Arnold                           NaN                           St           2008-03-01             1008391.0
15           Cleveland                   OH                18118   PATTERSON JASON                         NaN                  1094                      Pearl                           NaN                           Rd           1995-05-27              575483.0
16        Philadelphia                   PA                13971       BELL MAGGIE                         NaN                  3363                       Yale                           NaN                           Rd           2000-07-22              845076.0
17                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
18            Columbus                   OH                16456   PATTERSON SIMON                         NaN                  1033                    Houston                           NaN                         Blvd           2015-03-18              344558.0
19                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
20                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
21                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
22                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
23                 NaN                  NaN                  NaN               NaN                         NaN                   NaN                        NaN                           NaN                          NaN                  NaN                   NaN
24             Chicago                   IL                15034   PATTERSON JANET                         NaN                  1477                       High                           NaN                           Dr           2006-03-18              920352.0

In [51]:
# Drop columns with no value.
properties2_df = properties2_df.drop(['Property2_addr_street_type',
                                      'Property2_addr_street_prefix'], 1)
properties2_df

   Property2_muni_name Property2_state_abbr Property2_census_zip   Property2_owner Property2_addr_number Property2_addr_street_name Property2_addr_street_suffix Property2_trans_date  Property2_sale_price
0       Virginia Beach                   VA                13577  THOMPSON MAXWELL                  2944                    Houston                           Dr           2001-11-03              377375.0
1                  NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
2   Nashville-Davidson                   TN                12996      JOHNSON EMMA                  3859                       Main                           Cr           2013-05-11               85245.0
3             New York                   NY                11004       CLARK BORIS                  3655                 University                         Blvd           2002-02-18              225324.0
4           Sacramento                   CA                15056        LIBBY JAKE                  1465                     Arnold                          Ave           2017-12-01              255708.0
5                  NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
6                  NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
7                  NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
8                Omaha                   NB                14490         ROSS EMMA                  1111                  Princeton                           Dr           1994-01-26              798716.0
9                  NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
10             Oakland                   CA                15539     THOMPSON PAUL                  1216                    Houston                           St           2003-01-12              101320.0
11         Minneapolis                   MN                10984     ANDERSON EMMA                  3362                    Lincoln                          Ave           2004-03-23              543706.0
12             Seattle                   WA                16219      JOHNSON ALAN                  2943                    Houston                           Cr           2010-10-24              258130.0
13              Denver                   CO                14235      SUMMERS EMMA                  2721                       Yale                         Blvd           1998-03-11              811139.0
14             Houston                   TX                16896        CLARK ALAN                   903                     Arnold                           St           2008-03-01             1008391.0
15           Cleveland                   OH                18118   PATTERSON JASON                  1094                      Pearl                           Rd           1995-05-27              575483.0
16        Philadelphia                   PA                13971       BELL MAGGIE                  3363                       Yale                           Rd           2000-07-22              845076.0
17                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
18            Columbus                   OH                16456   PATTERSON SIMON                  1033                    Houston                         Blvd           2015-03-18              344558.0
19                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
20                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
21                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
22                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
23                 NaN                  NaN                  NaN               NaN                   NaN                        NaN                          NaN                  NaN                   NaN
24             Chicago                   IL                15034   PATTERSON JANET                  1477                       High                           Dr           2006-03-18              920352.0

In [52]:
# Time to create our model data frame!
# Let's see our original data.
df

                  full_name      lname    fname      mname        dob                                          addresses                         phone_numbers                                             emails                                       social_media                                         properties sec                                              court                                           criminal
0    Maxwell Jason Thompson   Thompson  Maxwell      Jason 1984-04-20  [{'street': '698 Broadway Ave', 'city': 'Houst...                                    []  [ma176@outlook.com, well53@gmail.com, axwel145...  [{'name': 'instagram', 'handle': 'https://www....  [{'muni_name': 'Dallas', 'state_abbr': 'TX', '...  []  [{'party_name': 'THOMPSON, MAXWELL JASON', 'pa...  {'criminal': [{'lastname': 'Thompson', 'firstn...
1    Nina Katharine Johnson    Johnson     Nina  Katharine 1970-03-08  [{'street': '3899 Princeton St', 'city': 'Albu...                          [3992985958]  [akat34@gmail.com, akath63@yahoo.com, akathar1...  [{'name': 'github', 'handle': 'https://www.git...                                                 []  []  [{'party_name': 'JOHNSON, NINA KATHARINE', 'pa...  {'criminal': [{'lastname': 'Johnson', 'firstna...
2       Emma Maggie Johnson    Johnson     Emma     Maggie 1959-06-27  [{'street': '3344 3rd Cr', 'city': 'Tulsa', 's...                          [8198560471]                                   [m171@yahoo.com]  [{'name': 'twitter', 'handle': 'https://www.tw...  [{'muni_name': 'Oakland', 'state_abbr': 'CA', ...  []                                                 []  {'criminal': [{'lastname': 'Johnson', 'firstna...
3       Boris Maxwell Clark      Clark    Boris    Maxwell 1967-07-15  [{'street': '3655 University Blvd', 'city': 'N...                                    []                             [ismaxwe161@gmail.com]  [{'name': 'github', 'handle': 'https://www.git...  [{'muni_name': 'Denver', 'state_abbr': 'CO', '...  []  [{'party_name': 'CLARK, BORIS MAXWELL', 'party...  {'criminal': [{'lastname': 'Clark', 'firstname...
4          Jake Brian Libby      Libby     Jake      Brian 1993-08-15  [{'street': '1629 Pearl Rd', 'city': 'Oklahoma...                          [9303622898]                   [br63@gmail.com, j173@yahoo.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'Austin', 'state_abbr': 'TX', '...  []  [{'party_name': 'LIBBY, JAKE BRIAN', 'party_ro...  {'criminal': [{'lastname': 'Libby', 'firstname...
5     Emma Melissa Thompson   Thompson     Emma    Melissa 1994-01-27  [{'street': '1700 Princeton Cr', 'city': 'Oakl...              [4744051287, 7707375512]                                   [ame8@gmail.com]  [{'name': 'linkedin', 'handle': 'https://www.l...                                                 []  []  [{'party_name': 'THOMPSON, EMMA MELISSA', 'par...  {'criminal': [{'lastname': 'Thompson', 'firstn...
6       Amy Katharine Clark      Clark      Amy  Katharine 1959-09-23  [{'street': '2580 Arnold Cr', 'city': 'Kansas ...              [2203990316, 6696876347]  [amyk97@outlook.com, ykath33@yahoo.com, tharin...                                                 []  [{'muni_name': 'Indianapolis', 'state_abbr': '...  []  [{'party_name': 'CLARK, AMY KATHARINE', 'party...  {'criminal': [{'lastname': 'Clark', 'firstname...
7        Simon Paul Johnson    Johnson    Simon       Paul 1971-10-01  [{'street': '2120 University St', 'city': 'Cle...  [1042385126, 9773094179, 9038015587]  [imonp121@outlook.com, onpa89@yahoo.com, mon17...  [{'name': 'instagram', 'handle': 'https://www....  [{'muni_name': 'Atlanta', 'state_abbr': 'GA', ...  []  [{'party_name': 'JOHNSON, SIMON PAUL', 'party_...  {'criminal': [{'lastname': 'Johnson', 'firstna...
8            Emma Emma Ross       Ross     Emma       Emma 1968-02-11  [{'street': '1111 Princeton Dr', 'city': 'Omah...                                    []  [emma60@gmail.com, maemm156@outlook.com, mmaem...  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'San Antonio', 'state_abbr': 'T...  []                                                 []  {'criminal': [{'lastname': 'Ross', 'firstname'...
9          Brian Paul Clark      Clark    Brian       Paul 1960-01-05  [{'street': '3446 Ocean Dr', 'city': 'Dallas',...  [2585774298, 2518275913, 2923658286]  [i66@gmail.com, ianp18@hotmail.com, ianpau104@...                                                 []  [{'muni_name': 'Tucson', 'state_abbr': 'AZ', '...  []  [{'party_name': 'CLARK, BRIAN PAUL', 'party_ro...  {'criminal': [{'lastname': 'Clark', 'firstname...
10      Paul Brian Thompson   Thompson     Paul      Brian 1984-04-23  [{'street': '529 Logan Dr', 'city': 'El Paso',...                                    []                                 [l130@outlook.com]  [{'name': 'facebook', 'handle': 'https://www.f...  [{'muni_name': 'Oakland', 'state_abbr': 'CA', ...  []  [{'party_name': 'THOMPSON, PAUL BRIAN', 'party...       {'criminal': [], 'sor': [], 'terrorist': []}
11  Emma Katharine Anderson   Anderson     Emma  Katharine 1952-08-06  [{'street': '1413 Arnold Dr', 'city': 'Virgini...              [3675797505, 4471758697]  [makat188@gmail.com, tharine171@outlook.com, m...                                                 []  [{'muni_name': 'Virginia Beach', 'state_abbr':...  []  [{'party_name': 'ANDERSON, EMMA KATHARINE', 'p...  {'criminal': [{'lastname': 'Anderson', 'firstn...
12        Alan Paul Johnson    Johnson     Alan       Paul 1974-08-04  [{'street': '711 Ivy Wy', 'city': 'Nashville-D...  [4126234603, 5878678239, 2856080143]                               [pau136@outlook.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'Cleveland', 'state_abbr': 'OH'...  []  [{'party_name': 'JOHNSON, ALAN PAUL', 'party_r...  {'criminal': [{'lastname': 'Johnson', 'firstna...
13       Emma Janet Summers    Summers     Emma      Janet 1981-08-25  [{'street': '3937 Harvard Blvd', 'city': 'Balt...                                    []            [majan91@outlook.com, an50@hotmail.com]                                                 []  [{'muni_name': 'Phoenix', 'state_abbr': 'AZ', ...  []  [{'party_name': 'SUMMERS, EMMA JANET', 'party_...  {'criminal': [{'lastname': 'Summers', 'firstna...
14        Alan Daniel Clark      Clark     Alan     Daniel 1983-08-04  [{'street': '3286 Houston Blvd', 'city': 'Jack...              [7817945004, 2760445414]          [ala144@hotmail.com, ndanie176@gmail.com]  [{'name': 'facebook', 'handle': 'https://www.f...  [{'muni_name': 'New York', 'state_abbr': 'NY',...  []  [{'party_name': 'CLARK, ALAN DANIEL', 'party_r...  {'criminal': [{'lastname': 'Clark', 'firstname...
15  Jason Michael Patterson  Patterson    Jason    Michael 1957-04-16  [{'street': '2502 Broadway Cr', 'city': 'San A...                                    []             [so183@yahoo.com, asonmi184@gmail.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'El Paso', 'state_abbr': 'TX', ...  []  [{'party_name': 'PATTERSON, JASON MICHAEL', 'p...  {'criminal': [{'lastname': 'Patterson', 'first...
16         Maggie Nina Bell       Bell   Maggie       Nina 1973-11-12  [{'street': '921 Broadway Rd', 'city': 'Indian...  [2909231734, 2216800572, 4507974918]             [ieni39@hotmail.com, ie94@outlook.com]  [{'name': 'twitter', 'handle': 'https://www.tw...  [{'muni_name': 'San Jose', 'state_abbr': 'CA',...  []                                                 []  {'criminal': [{'lastname': 'Bell', 'firstname'...
17       Amy Maggie Summers    Summers      Amy     Maggie 1960-11-15  [{'street': '2561 3rd Blvd', 'city': 'Indianap...                                    []                                   [gg90@gmail.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'Raleigh', 'state_abbr': 'NC', ...  []  [{'party_name': 'SUMMERS, AMY MAGGIE', 'party_...       {'criminal': [], 'sor': [], 'terrorist': []}
18     Simon Alan Patterson  Patterson    Simon       Alan 1985-06-14  [{'street': '1033 Houston Blvd', 'city': 'Colu...                                    []                                 [nala45@yahoo.com]  [{'name': 'facebook', 'handle': 'https://www.f...  [{'muni_name': 'El Paso', 'state_abbr': 'TX', ...  []                                                 []  {'criminal': [{'lastname': 'Patterson', 'first...
19        Jason Maxwell Lee        Lee    Jason    Maxwell 1964-08-06  [{'street': '1604 Princeton Blvd', 'city': 'Cl...                                    []               [ja21@hotmail.com, o136@outlook.com]                                                 []                                                 []  []  [{'party_name': 'LEE, JASON MAXWELL', 'party_r...       {'criminal': [], 'sor': [], 'terrorist': []}
20   Nina Katharine Summers    Summers     Nina  Katharine 1983-04-17  [{'street': '3970 Broadway Wy', 'city': 'San D...              [9236892139, 6122873618]               [i105@yahoo.com, kat133@outlook.com]  [{'name': 'google', 'handle': 'https://www.goo...                                                 []  []  [{'party_name': 'SUMMERS, NINA KATHARINE', 'pa...  {'criminal': [{'lastname': 'Summers', 'firstna...
21  Grace Katharine Summers    Summers    Grace  Katharine 1957-08-10  [{'street': '3568 Lincoln Wy', 'city': 'Los An...                          [3835419037]         [k190@outlook.com, gracekat81@hotmail.com]  [{'name': 'linkedin', 'handle': 'https://www.l...  [{'muni_name': 'Los Angeles', 'state_abbr': 'C...  []  [{'party_name': 'SUMMERS, GRACE KATHARINE', 'p...  {'criminal': [{'lastname': 'Summers', 'firstna...
22      Grace Sarah Cassidy    Cassidy    Grace      Sarah 1982-09-13  [{'street': '1234 High Ave', 'city': 'Sacramen...  [2975186894, 1917553273, 1076716041]         [ces113@outlook.com, acesa177@hotmail.com]  [{'name': 'instagram', 'handle': 'https://www....                                                 []  []  [{'party_name': 'CASSIDY, GRACE SARAH', 'party...  {'criminal': [{'lastname': 'Cassidy', 'firstna...
23          Alan Simon Bell       Bell     Alan      Simon 1952-08-22  [{'street': '3722 Arnold Rd', 'city': 'Columbu...                          [2471936813]              [al161@hotmail.com, nsi106@yahoo.com]  [{'name': 'github', 'handle': 'https://www.git...                                                 []  []  [{'party_name': 'BELL, ALAN SIMON', 'party_rol...  {'criminal': [{'lastname': 'Bell', 'firstname'...
24     Janet Emma Patterson  Patterson    Janet       Emma 1969-09-19  [{'street': '3756 Lincoln Rd', 'city': 'Dallas...                                    []          [nete95@outlook.com, temma46@hotmail.com]  [{'name': 'github', 'handle': 'https://www.git...  [{'muni_name': 'Cleveland', 'state_abbr': 'OH'...  []  [{'party_name': 'PATTERSON, JANET EMMA', 'part...  {'criminal': [{'lastname': 'Patterson', 'first...

In [53]:
# We'll start with the names columns and dob column.
# Drop the rest.
risk_df = df.drop(['addresses', 'phone_numbers', 'emails', 'social_media',
                   'properties', 'sec', 'court', 'criminal'], 1)
risk_df

                  full_name      lname    fname      mname        dob
0    Maxwell Jason Thompson   Thompson  Maxwell      Jason 1984-04-20
1    Nina Katharine Johnson    Johnson     Nina  Katharine 1970-03-08
2       Emma Maggie Johnson    Johnson     Emma     Maggie 1959-06-27
3       Boris Maxwell Clark      Clark    Boris    Maxwell 1967-07-15
4          Jake Brian Libby      Libby     Jake      Brian 1993-08-15
5     Emma Melissa Thompson   Thompson     Emma    Melissa 1994-01-27
6       Amy Katharine Clark      Clark      Amy  Katharine 1959-09-23
7        Simon Paul Johnson    Johnson    Simon       Paul 1971-10-01
8            Emma Emma Ross       Ross     Emma       Emma 1968-02-11
9          Brian Paul Clark      Clark    Brian       Paul 1960-01-05
10      Paul Brian Thompson   Thompson     Paul      Brian 1984-04-23
11  Emma Katharine Anderson   Anderson     Emma  Katharine 1952-08-06
12        Alan Paul Johnson    Johnson     Alan       Paul 1974-08-04
13       Emma Janet Summers    Summers     Emma      Janet 1981-08-25
14        Alan Daniel Clark      Clark     Alan     Daniel 1983-08-04
15  Jason Michael Patterson  Patterson    Jason    Michael 1957-04-16
16         Maggie Nina Bell       Bell   Maggie       Nina 1973-11-12
17       Amy Maggie Summers    Summers      Amy     Maggie 1960-11-15
18     Simon Alan Patterson  Patterson    Simon       Alan 1985-06-14
19        Jason Maxwell Lee        Lee    Jason    Maxwell 1964-08-06
20   Nina Katharine Summers    Summers     Nina  Katharine 1983-04-17
21  Grace Katharine Summers    Summers    Grace  Katharine 1957-08-10
22      Grace Sarah Cassidy    Cassidy    Grace      Sarah 1982-09-13
23          Alan Simon Bell       Bell     Alan      Simon 1952-08-22
24     Janet Emma Patterson  Patterson    Janet       Emma 1969-09-19

In [54]:
# Now we will concatenate risk_df with the addresses.
risk_df = pd.concat([risk_df,
                     addresses1_df,
                     addresses2_df,
                     addresses3_df,
                     addresses4_df,
                     addresses5_df,
                     addresses6_df,
                     phone_numbers_df,
                     emails_df, 
                     social_media1_df,
                     social_media2_df,
                     properties1_df,
                     properties2_df,
                     court1_df,
                     court2_df,
                     court3_df,
                     criminal1_df,
                     criminal2_df,
                     criminal3_df], axis=1)

In [55]:
risk_df.shape

(25, 171)

In [56]:
risk_df

,full_name,lname,fname,mname,dob,Address1_street,Address1_city,Address1_state,Address1_zipcode,Address1_time,Address1_value,Address2_street,Address2_city,Address2_state,Address2_zipcode,Address2_time,Address2_value,Address3_street,Address3_city,Address3_state,Address3_zipcode,Address3_time,Address3_value,Address4_street,Address4_city,Address4_state,Address4_zipcode,Address4_time,Address4_value,Address5_street,Address5_city,Address5_state,Address5_zipcode,Address5_time,Address5_value,Address6_street,Address6_city,Address6_state,Address6_zipcode,Address6_time,Address6_value,Phone1,Phone2,Phone3,Emails1,Emails2,Emails3,Media1_name,Media1_handle,Media2_name,Media2_handle,Property1_muni_name,Property1_state_abbr,Property1_census_zip,Property1_owner,Property1_addr_number,Property1_addr_street_name,Property1_addr_street_suffix,Property1_trans_date,Property1_sale_price,Property2_muni_name,Property2_state_abbr,Property2_census_zip,Property2_owner,Property2_addr_number,Property2_addr_street_name,Property2_addr_street_suffix,Property2_trans_date,Property2_sale_price,Court1_party_name,Court1_party_role,Court1_court_id,Court1_cs_type,Court1_cs_date_filed,Court1_cs_date_term,Court1_cs_date_dismiss,Court1_cs_date_discharge,Court1_disposition,Court1_case_number_full,Court1_case_link,Court1_case_title,Court1_nature_of_suit,Court2_party_name,Court2_party_role,Court2_court_id,Court2_cs_type,Court2_cs_date_filed,Court2_cs_date_term,Court2_cs_date_dismiss,Court2_cs_date_discharge,Court2_disposition,Court2_case_number_full,Court2_case_link,Court2_case_title,Court2_nature_of_suit,Court3_party_name,Court3_party_role,Court3_court_id,Court3_cs_type,Court3_cs_date_filed,Court3_cs_date_term,Court3_cs_date_dismiss,Court3_cs_date_discharge,Court3_disposition,Court3_case_number_full,Court3_case_link,Court3_case_title,Court3_nature_of_suit,1st Offense_lastname,1st Offense_firstname,1st Offense_middlename,1st Offense_race,1st Offense_dob,1st Offense_address,1st Offense_city,1st Offense_state,1st Offense_casenumber,1st Offense_ChargeCategory,1st Offense_OffenseDate,1st Offense_OffenseCode,1st Offense_offensedescription1,1st Offense_Counts,1st Offense_court,1st Offense_source,1st Offense_Disposition,1st Offense_Dispositiondate,1st Offense_caseType,1st Offense_SourceName,1st Offense_SourceState,2nd Offense_lastname,2nd Offense_firstname,2nd Offense_middlename,2nd Offense_race,2nd Offense_dob,2nd Offense_address,2nd Offense_city,2nd Offense_state,2nd Offense_casenumber,2nd Offense_ChargeCategory,2nd Offense_OffenseDate,2nd Offense_OffenseCode,2nd Offense_offensedescription1,2nd Offense_Counts,2nd Offense_court,2nd Offense_source,2nd Offense_Disposition,2nd Offense_Dispositiondate,2nd Offense_caseType,2nd Offense_SourceName,2nd Offense_SourceState,3rd Offense_lastname,3rd Offense_firstname,3rd Offense_middlename,3rd Offense_race,3rd Offense_dob,3rd Offense_address,3rd Offense_city,3rd Offense_state,3rd Offense_casenumber,3rd Offense_ChargeCategory,3rd Offense_OffenseDate,3rd Offense_OffenseCode,3rd Offense_offensedescription1,3rd Offense_Counts,3rd Offense_court,3rd Offense_source,3rd Offense_Disposition,3rd Offense_Dispositiondate,3rd Offense_caseType,3rd Offense_SourceName,3rd Offense_SourceState
0,Maxwell Jason Thompson,Thompson,Maxwell,Jason,1984-04-20,698 Broadway Ave,Houston,TX,14169,Oct 2014 - Aug 2016,340681,2945 Ivy St,Arlington,TX,10000,Dec 1992 - Jul 2013,755327.0,2944 Houston Dr,Virginia Beach,VA,13577,Aug 2000 - Jul 2001,726917.0,455 Lincoln Rd,Detroit,MI,10023,Sep 2010 - Feb 2012,576927.0,953 Harvard Dr,Jacksonville,FL,18717,Sep 1996 - Apr 1998,729404.0,2240 Main Ave,Oklahoma City,OK,17531,Jan 2018 - Oct 2019,322085.0,None,None,None,ma176@outlook.com,well53@gmail.com,axwel145@hotmail.com,instagram,https://www.instagram.com/ellJa9,facebook,https://www.facebook.com/lJas47,Dallas,TX,18661,THOMPSON MAXWELL,3642,Logan,Dr,2005-08-24,889488.0,Virginia Beach,VA,13577,THOMPSON MAXWELL,2944,Houston,Dr,2001-11-03,377375.0,"THOMPSON, MAXWELL JASON",pla,cacbke,Appellate,03/28/1997,06/13/2001,06/18/1999,NaN,None,2:13-ap-1439,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,THOMPSON,CONTRACT - Other Contract,"THOMPSON, MAXWELL JASON",pla,cacbke,Civil,09/22/1999,05/11/2001,08/14/2001,NaN,Dismissed for Other Reason,2:13-ap-1572,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,THOMPSON,CIVIL RIGHTS - Employment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thompson,Maxwell,Jason,Hispanic,04/20/1984,575 MAPLE STREET,LAS VEGAS,NV,CR484016814951,Criminal/traffic,06/26/1972,0g-858,ESCAPE 1ST DEG,2.0,Las Vegas at Las Vegas,nvaoc,Found Guilty (2 DYS MANDATORY MIN),08/05/1960,Felony C,NV Admin Office of Courts,NV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nina Katharine Johnson,Johnson,Nina,Katharine,1970-03-08,3899 Princeton St,Albuquerque,NM,13549,Feb 1994 - Jan 2013,611561,1752 Arnold Ave,Nashville-Davidson,TN,14142,Nov 1999 - Jul 2004,634838.0,709 Broadway St,El Paso,TX,11861,Nov 2006 - Nov 2015,697499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3992985958,None,None,akat34@gmail.com,akath63@yahoo.com,akathar108@hotmail.com,github,https://www.github.com/thar131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"JOHNSON, NINA KATHARINE",dft,cacbke,Civil,04/06/1995,10/26/1988,02/28/1989,NaN,Transfer to Another District,2:13-ap-7330,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,JOHNSON,OTHER STATUTES - Racketeer Influenced and Corr...,"JOHNSON, NINA KATHARINE",pla,cacbke,Civil,08/06/1994,07/07/1991,07/22/1990,NaN,Judgment Entered on Consent,2:13-ap-8404,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,JOHNSON,Appellate - Other Contract Actions,"JOHNSON, NINA KATHARINE",pla,cacbke,Appellate,07/24/1992,08/10/1994,12/12/1990,NaN,Dismissed or Settled Without Entry of Judgment,2:13-ap-3130,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,JOHNSON,"TORTS - Personal Injury - Assault, Libel, & Sl...",Johnson,Nina,Katharine,Black,03/08/1970,575 MAPLE STREET,JACKSONVILLE,FL,CR436978301970,Criminal/traffic,12/18/1991,2h-203,VIOLATION OF PROBATION,4.0,Jacksonville at Jacksonville,flaoc,Found Guilty (2 DYS MANDATORY MIN),02/28/1966,Felony C,FL Admin Office of Courts,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Emma Maggie Johnson,Johnson,Emma,Maggie,1959-06-27,3344 3rd Cr,Tulsa,OK,10849,Apr 1991 - Sep 1992,727059,722 Princeton Cr,Cleveland,OH,12124,Mar 1993 - Sep 2018,173832.0,2899 Main St,Mesa,AZ,18541,Apr 2000 - Mar 2011,509934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8198560471,None,None,m171@yahoo.com,None,None,twitter,https://www.twitter.com/mm187,NaN,NaN,Oakland,CA,10984,JOHNSON EMMA,1109,Broadway,Blvd,2002-07-20,207149.0,Nashville-Davidson,TN,12996,JOHNSON EMMA,3859,Main,Cr,2013-05-11,85245.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson,Emma,Maggie,Caucasian,06/27/1959,575 MAPLE STREET,ARLINGTON,TX,CR669583178972,CRIMINAL,02/14/1977,8n-273,"ASSAULT, THIRD DEGREE AM",4.0,Arlington at Arlington,txaoc,Found Guilty,12/17/1957,Felony C,TX Admin Office of Courts,TX,Johnson,Emma,Maggie,Caucasian,06/27/1959,575 MAPLE STREET,PHILADELPHIA,PA,CR822464033252,CRIMINAL,11/10/1985,6v-409,"ASSAULT, THIRD DEGREE AM",3.0,Philadelphia at Philadelphia,paaoc,Sentenced,04/07/1962,Undefined,PA Admin Office of Courts,PA,Johnson,Emma,Maggie,Caucasian,06/27/1959,575 MAPLE STREET,OMAHA,NB,CR718416835842,Criminal/traffic,12/25/1970,5k-871,Found Guilty Conditional Discharge (5/TO OTHER...,2.0,Omaha at Omaha,nbaoc,Found Guilty (2 DYS MANDATORY MIN),12/23/1961,Undefined,NB Admin Office of Courts,NB
3,Boris Maxwell Clark,Clark,Boris,Maxwell,1967-07-15,3655 University Blvd,New York,NY,11004,Jul 1998 - Aug 2001,287939,784 Lincoln Dr,San Diego,CA,18119,Jul 1993 - Jan 2017,426220.0,1449 University St,Portland,OR,16112,Oct 2001 - Aug 2004,610296.0,1362 Main Blvd,Boston,MA,14665,May 2006 - May 2016,760377.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,ismaxwe161@gmail.com,None,None,github,https://www.github.com/Maxwel187,NaN,NaN,Denver,CO,14737,CLARK BORIS,1689,Main,Rd,2012-01-26,158074.0,New York,NY,11004,CLARK BORIS,3655,University,Blvd,2002-02-18,225324.0,"CLARK, BORIS MAXWELL",pla,cacbke,Appellate,12/27/1990,05/19/1992,08/08/1993,NaN,Dismissed for Other Reason,2:13-ap-5962,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,CLARK,CIVIL RIGHTS - Employment,"CLARK, BORIS MAXWELL",dft,cacbke,Civil,12/03/1992,07/19/1986,06/03/1993,NaN,Standard Discharge,2:13-ap-9475,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,CLARK,Appellate - Other Contract Actions,"CLARK, BORIS MAXWELL",dft,cacbke,Appellate,04/08/1989,09/15/1989,04/23/1992,NaN,Standard Discharge,2:13-ap-6530,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,CLARK,"TORTS - Personal Injury - Assault, Libel, & Sl...",Clark,Boris,Maxwell,Caucasian,07/15/1967,575 MAPLE STREET,SAN FRANCISCO,CA,CR587099231922,Criminal/traffic,07/06/1974,3q-515,ILL OPN MV UNDER INFL ALC/DRUG,1.0,San Francisco at San Francisco,caaoc,Sentenced,04/06/1990,Undefined,CA Admin Office of Courts,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jake Brian Libby,Libby,Jake,Brian,1993-08-15,1629 Pearl Rd,Oklahoma City,OK,10551,Apr 1999 - Sep 2012,243847,2488 Yale Cr,Columbus,OH,10543,Jul 2006 - Feb 2008,756367.0,3827 Lincoln Cr,Seattle,WA,15884,Sep 2012 - Apr 2015,318335.0,520 3rd Dr,Nashville-Davidson,TN,10985,Mar 1999 - Oct 2017,228835.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9303622898,None,None,br63@gmail.com,j173@yahoo.com,None,linkedin,https://www.linkedin.com/eBria149,NaN,NaN,Austin,TX,11380,LIBBY JAKE,3924,Logan,Dr,2005-06-02,702785.0,Sacramento,CA,15056,LIBBY JAKE,1465,Arnold,Ave,2017-12-01,255708.0,"LIBBY, JAKE BRIAN",pla,cacbke,Civil,05/05/2010,09/22/2006,10/07/2002,NaN,Dismissed for Other Reason,2:13-ap-7406,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,LIBBY,CIVIL RIGHTS - Employment,"LIBBY, JAKE BRIAN",dft,cacbke,Civil,12/11/1998,09/27/2008,08/20/2008,NaN,None,2:13-ap-3848,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,LIBBY,Appellate - Other Contract Actions,"LIBBY, JAKE BRIAN",dft,cacbke,Appellate,10/17/2004,02/09/1996,12/12/2001,NaN,Transfer to Another District,2:13-ap-7229,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,LIBBY,CONTRACT - Other Contract,Libby,Jake,Brian,Caucasian,08/15/1993,575 MAPLE STREET,RALEIGH,NC,CR87831489412,CRIMINAL,06/20/1994,8p-195,"ASSAULT, THIRD DEGREE AM",2.0,Raleigh at Raleigh,ncaoc,UNSENTENCED,09/22/1978,None,NC Admin Office of Courts,NC,Libby,Jake,Brian,Caucasian,08/15/1993,575 MAPLE STREET,ARLINGTON,TX,CR858168744118,CRIMINAL,05/06/1988,2t-762,"ASSAULT, THIRD DEGREE AM",4.0,Arlington at Arlington,txaoc,UNSENTENCED,07/15/1981,None,TX Admin Office of Courts,TX,Libby,Jake,Brian,Caucasian,08/15/1993,575 MAPLE STREET,PORTLAND,OR,CR699116624479,CRIMINAL,03/24/1989,0c-817,"ASSAULT, THIRD DEGREE AM",4.0,Portland at Portland,oraoc,Found Guilty,02/14/1987,Felony C,OR Admin Office of Courts,OR
5,Emma Melissa Thompson,Thompson,Emma,Melissa,1994-01-27,1700 Princeton Cr,Oakland,CA,17616,Jul 1995 - Dec 1997,634700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4744051287,7707375512,None,ame8@gmail.com,None,None,linkedin,https://www.linkedin.com/ssaTh6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"THOMPSON, EMMA MELISSA",pla,cacbke,Civil,04/03/2011,05/09/1999,07/03/2003,NaN,Judgment Entered on Consent,2:13-ap-8147,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,THOMPSON,OTHER STATUTES - Racketeer Influenced and Corr...,"THOMPSON, EMMA MELISSA",dft,cacbke,Civil,12/25/2003,09/25/1998,12/24/2005,NaN,Dismissed for Other Reason,2:13-ap-3297,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,THOMPSON,"TORTS - Personal Injury - Assault, Libel, & Sl...","THOMPSON, EMMA MELISSA",pla,cacbke,Appellate,06/09/1999,04/13/2007,01/02/2011,NaN,Standard Discharge,2:13-ap-3021,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,THOMPSON,CONTRACT - Other Contract,Thompson,Emma,Melissa,Black,01/27/1994,575 MAPLE STREET,MIAMI,Florida,CR173780186042,CRIMINAL,11/01/1981,3m-830,"ASSAULT, THIRD DEGREE AM",3.0,Miami at Miami,floridaaoc,Found Guilty,12/26/1971,Misdemeanor U,Florida Admin Office of Courts,Florida,Thompson,Emma,Melissa,Black,01/27/1994,575 MAPLE STREET,DALLAS,TX,CR507510468667,CRIMINAL,06/15/1981,1w-179,"ASSAULT, THIRD DEGREE AM",2.0,Dallas at Dallas,txaoc,Found Guilty,06/12/1982,None,TX Admin Office of Courts,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Amy Katharine Clark,Clark,Amy,Katharine,1959-09-23,2580 Arnold Cr,Kansas City,MS,15657,Feb 1991 - Apr 1998,721955,1926 Broadway Blvd,Denver,CO,10402,Feb 1991 - Jun 2013,772124.0,1827 3rd Ave,Albuquerque,NM,11561,Jan 1992 - Jun 1997,601606.0,3749 3rd Dr,Phoenix,AZ,16395,Jan 2001 - Jul 2007,759163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2203990316,6696876347,None,amyk97@outlook.com,ykath33@yahoo.com,tharin13@hotmail.com,NaN,NaN,NaN,NaN,Indianapolis,IN,13350,CLARK AMY,3822,Harvard,Blvd,2007-01-13,279566.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CLARK, AMY KATHARINE",dft,cacbke,Appellate,01/27/1986,05/16/1991,08/17/1989,NaN,Standard Discharge,2:13-ap-5224,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,CLARK,Appellate - Other Contract Actions,"CLARK, AMY KATHARINE",pla,cacbke,Civil,04/24/1991,09/19/1986,09/15/1982,NaN,Dismissed or Settled Without Entry of Judgment,2:13-ap-2942,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,CLARK,CIVIL RIGHTS - Employment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clark,Amy,Katharine,Black,09/23/1959,575 MAPLE STREET,FORT WORTH,TX,CR67761187736,Criminal/traffic,07/01/1973,8a-100,EVADE RESP-PROP DAMAGE/INJURY,3.0,Fort Worth at Fort Worth,txaoc,Sentenced,03/06/1991,Misdemeanor U,TX Admin Office of Courts,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Simon Paul Johnson,Johnson,Simon,Paul,1971-10-01,2120 University St,Cleveland,OH,15419,Mar 2004 - Oct 2010,781162,2416 Ocean Ave,Columbus,OH,15982,Nov 2004 - Mar 2014,493888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1042385126,9773094179,9038015587,imonp121@outlook.com,onpa89@yahoo.com,mon174@hotmail.com,instagram,https://www.instagram.com/onP7,NaN,NaN,Atlanta,GA,12474,JOHNSON SIMON,2279,Pearl,St,2011-01-13,100829.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"JOHNSON, SIMON PAUL",pla,cacbke,Appellate,03/07/1989,02/03/1991,08/08/1995,NaN,Dismissed for Other Reason,2:13-ap-8142,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,JOHNSON,Appellate - Other Contract Actions,"JOHNSON, SIMON PAUL",dft,cacbke,Appellate,08/09/1992,03/05/1994,06/12/1994,NaN,Dismissed for Other Reason,2:13-ap-4377,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,JOHNSON,CIVIL RIGHTS - Employment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson,Simon,Paul,Hispanic,10/01/1971,575 MAPLE STREET,FRESNO,CA,CR758681279374,CRIMINAL,05/04/1976,5l-617,"ASSAULT, THIRD DEGREE AM",1.0,Fresno at Fresno,caaoc,Found Guilty (2 DYS MANDATORY MIN),12/27/1953,Felony C,CA Admin Office of Courts,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Emma Emma Ross,Ross,Emma,Emma,1968-02-11,1111 Princeton Dr,Omaha,NB,14490,Jul 2014 - May 2017,550513,1305 Yale St,San Antonio,TX,11371,Aug 2010 - Sep 2014,349831.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,emma60@gmail.com,maemm156@outlook.com,mmaem57@hotmail.com,linkedin,https://www.linkedin.com/a64,NaN,NaN,San Antonio,TX,11371,ROSS EMMA,1305,Yale,St,1993-02-08,193856.0,Omaha,NB,14490,ROSS EMMA,1111,Princeton,Dr,1994-01-26,798716.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ross,Emma,Emma,Caucasian,02/11/1968,575 MAPLE STREET,MILWAUKEE,WI,CR631247759274,Criminal/traffic,09/20/1977,8u-478,ILL OPN MV UNDER INFL ALC/DRUG,3.0,Milwaukee at Milwaukee,wiaoc,Found Guilty,12/26/1955,Misdemeanor U,WI Admin Office of Courts,WI,Ross,Emma,Emma,Caucasian,02/11/1968,575 MAPLE STREET,VIRGINIA BEACH,VA,CR486370373593,CRIMINAL,01/22/1995,8c-771,"ASSAULT, THIRD DEGREE AM",1.0,Virginia Beach at Virginia Beach,vaaoc,Sentenced,11/03/1978,Felony C,VA Admin Office of Courts,VA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Brian Paul Clark,Clark,Brian,Paul,1960-01-05,3446 Ocean Dr,Dallas,TX,16803,Feb 2010 - Aug 2012,607014,2813 Lincoln Dr,Tucson,AZ,15272,Aug 2005 - Jun 2012,615290.0,2673 Logan Ave,Las Vegas,NV,18015,Jun 1997 - May 2007,415074.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2585774298,2518275913,2923658286,i66@gmail.com,ianp18@hotmail.com,ianpau104@yahoo.com,NaN,NaN,NaN,NaN,Tucson,AZ,15272,CLARK BRIAN,2813,Lincoln,Dr,1990-02-04,633632.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CLARK, BRIAN PAUL",dft,cacbke,Appellate,06/28/1994,04/19/1982,08/25/1994,NaN,Dismissed or Settled Without Entry of Judgment,2:13-ap-8503,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,CLARK,OTHER STATUTES - Racketeer Influenced and Corr...,"CLARK, BRIAN PAUL",dft,cacbke,Civil,09/20/1988,07/12/1979,11/05/1994,NaN,Transfer to Another District,2:13-ap-2481,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,CLARK,CIVIL RIGHTS - Employment,"CLARK, BRIAN PAUL",dft,cacbke,Appellate,08/24/1983,05/12/1994,07/14/1979,NaN,Dismissed for Other Reason,2:13-ap-6814,https://ecf.cacb.uscourts.gov/cgi-bin/iqquerym...,CLARK,CIVIL RIGHTS - Employment,Clark,Brian,Paul,Hispanic,01/05/1960,575 MAPLE STREET,OMAHA,NB,CR109339673969,Criminal/traffic,08/21/1977,9l-202,OPERATE UNDER INFLU OF LIQ OR DRUGS,2.0,Omaha at Omaha,nbaoc,Sentenced,01/03/1984,None,NB Admin Office of Courts,NB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# Import pandas profiling.
import pandas_profiling

pandas_profiling.ProfileReport(risk_df)

/Users/danmchenry/miniconda3/lib/python3.7/site-packages/pandas/plotting/_converter.py:129: FutureWarning: Using an implicitly registered datetime converter for a matplotlib plotting method. The converter was registered by pandas on import. Future versions of pandas will require you to explicitly register matplotlib converters.

To register the converters:
	>>> from pandas.plotting import register_matplotlib_converters
	>>> register_matplotlib_converters()
  warnings.warn(msg, FutureWarning)